<ng-container *transloco="let t">
  <p class="tw-text-white tw-font-bold tw-text-2xl">{{ t('users.settings.profile') }}</p>
  <div *ngIf="currentUser" class="tw-text-white tw-mt-4 tw-mb-24">
    <div class="tw-rounded-md">
      <div class="tw-group tw-relative tw-h-48 md:tw-h-64 tw-rounded-md">
        <ng-container *ngIf="!bannerPreviewName && !removingBanner; else updatingBannerTpl">
          <div role="banner" aria-label="User banner" *ngIf="currentUser.bannerUrl"
            class="tw-absolute tw-inset-0 tw-bg-cover tw-bg-no-repeat tw-bg-center tw-rounded-md"
            [lazyLoad]="currentUser.bannerUrl"
            [ngStyle]="{ 'background-color': currentUser.bannerColor ? (currentUser.bannerColor | rgbColor) : '#2b2b2b' }">
          </div>
        </ng-container>
        <ng-template #updatingBannerTpl>
          <ng-container *ngIf="bannerPreviewName; then: bannerPreview; else noBanner"></ng-container>
        </ng-template>
        <ng-template #bannerPreview>
          <div role="banner" aria-label="User preview banner" *ngIf="bannerPreviewUri"
            class="tw-absolute tw-inset-0 tw-bg-cover tw-bg-no-repeat tw-bg-center tw-rounded-md"
            [ngStyle]="{ 'background-image': 'url(' + bannerPreviewUri + ')' }">
          </div>
        </ng-template>
        <ng-template #noBanner>
          <div role="banner" aria-label="Empty banner"
            class="tw-bg-neutral-875 tw-absolute tw-inset-0 tw-bg-cover tw-bg-no-repeat tw-bg-center tw-rounded-md">
          </div>
        </ng-template>
        <div aria-label="Backdrop" class="tw-group/backdrop hover:tw-bg-black hover:tw-bg-opacity-40 tw-absolute tw-inset-0
          tw-rounded-md tw-transition-colors tw-duration-200 tw-cursor-pointer tw-z-1"
          (click)="inputUploadBanner.click()" [appContextMenuTriggerFor]="bannerMenu">
          <p class="tw-absolute tw-absolute-center tw-invisible group-hover/backdrop:tw-visible
            group-focus/backdrop:tw-visible">
            <i class="ms ms-add-photo-alternate ms-icon-4xl ms-opsz-xl"></i>
          </p>
        </div>
        <input #inputUploadBanner hidden="true" type="file" id="file-upload-banner" onclick="this.value = null"
          (change)="onInputBannerChange($event)" accept=".jpg, .jpeg, .png, .gif" aria-label="Upload banner" />
        <div #bannerMenuGroup
          class="tw-absolute tw-right-2 tw-bottom-2 tw-z-2 tw-invisible group-hover:tw-visible group-focus:tw-visible">
          <button pButton type="button" icon="ms ms-more-vert" [appMenuTriggerFor]="bannerMenu"
            class="p-button-secondary p-button-rounded p-button-sm p-button-sm-icon"
            (cdkMenuOpened)="onAppMenuClick(bannerMenuGroup, true)"
            (cdkMenuClosed)="onAppMenuClick(bannerMenuGroup, false)">
          </button>
        </div>
        <ng-template #bannerMenu>
          <div appMenu>
            <button appMenuItem (click)="inputUploadBanner.click()">
              <i class="ms ms-add-photo-alternate"></i>
              <span>{{ t('users.profileSettings.changeBanner') }}</span>
            </button>
            <button appMenuItem (click)="onRemoveBanner()"
              [disabled]="!currentUser.thumbnailBannerUrl || removingBanner">
              <i class="ms ms-delete"></i>
              <span>{{ t('users.profileSettings.removeBanner') }}</span>
            </button>
          </div>
        </ng-template>
      </div>
      <div class="tw-flex tw-flex-wrap tw-py-4 tw-h-full [&>*]:tw-z-1">
        <div class="tw-flex">
          <div class="tw-w-28 tw-rounded-full">
            <div class="tw-aspect-w-1 tw-aspect-h-1 [&>*]:tw-rounded-full">
              <ng-container *ngIf="!avatarPreviewName && !removingAvatar; else updatingAvatarTpl">
                <img *ngIf="currentUser.thumbnailAvatarUrl; else noAvatar" class="tw-object-cover"
                  [lazyLoad]="currentUser.thumbnailAvatarUrl" [lazyLoadPlaceholder]="currentUser.avatarColor | rgbColor"
                  [alt]="currentUser.username">
              </ng-container>
              <ng-template #updatingAvatarTpl>
                <ng-container *ngIf="avatarPreviewName; then: avatarPreview; else noAvatar"></ng-container>
              </ng-template>
              <ng-template #avatarPreview>
                <img *ngIf="avatarPreviewUri" class="tw-object-cover" [src]="avatarPreviewUri">
              </ng-template>
              <ng-template #noAvatar>
                <app-avatar [label]="(currentUser.nickname || currentUser.username) | substring"
                  styleClass="tw-rounded-full" labelStyleClass="tw-text-5xl"></app-avatar>
              </ng-template>
              <div aria-label="Backdrop" class="tw-group hover:tw-bg-black hover:tw-bg-opacity-40 tw-absolute tw-inset-0
              tw-rounded-full tw-transition-colors tw-duration-200 tw-cursor-pointer tw-z-1"
                (click)="inputUploadAvatar.click()">
                <p class="tw-absolute tw-absolute-center tw-invisible group-hover:tw-visible group-focus:tw-visible">
                  <i class="ms ms-add-photo-alternate ms-icon-3xl ms-opsz-xl"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="tw-flex-grow tw-flex-shrink-0 tw-py-4 tw-mx-4 tw-text-white tw-self-end">
            <ng-container *ngIf="currentUser.nickname">
              <p class="tw-text-2xl tw-font-semibold">{{ currentUser.nickname }}</p>
              <p>{{ currentUser.username }}</p>
            </ng-container>
            <ng-template #noNickname>
              <p class="tw-text-2xl tw-font-semibold">{{ currentUser.username }}</p>
            </ng-template>
          </div>
        </div>
        <div class="tw-ml-auto max-sm:tw-w-full max-sm:tw-mt-2 max-sm:tw-text-right">
          <input #inputUploadAvatar hidden="true" type="file" id="file-upload-avatar" onclick="this.value = null"
            (change)="onInputAvatarChange($event)" accept=".jpg, .jpeg, .png, .gif" aria-label="Upload avatar" />
          <button pButton [label]="t('users.profileSettings.changeAvatar')" class="p-button p-button-sm"
            (click)="inputUploadAvatar.click()"></button>
          <button pButton [label]="t('users.profileSettings.removeAvatar')" (click)="onRemoveAvatar()"
            class="p-button-text p-button-plain p-button-sm tw-ml-2"
            [disabled]="!currentUser.thumbnailAvatarUrl || removingAvatar"></button>
        </div>
      </div>
    </div>
    <div class="tw-flex tw-flex-wrap">
      <div class="tw-flex-1 sm:tw-mr-8">
        <form [formGroup]="updateProfileForm" formHandler>
          <label for="nickname" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
            t('users.updateProfile.nickname') }}</label>
          <input formControlName="nickname" class="p-inputtext-sm tw-w-full" id="nickname" type="text"
            aria-describedby="nickname-error" pInputText>
          <small id="nickname-error" class="p-error tw-text-xs tw-block tw-my-2"
            [invalidControl]="updateProfileForm.controls.nickname">{{ updateProfileForm.controls.nickname.errors
            | firstErrorKey:'updateProfile':'nickname' }}</small>
          <label for="about" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5 tw-mt-2">{{
            t('users.updateProfile.about') }}</label>
          <textarea formControlName="about" class="tw-w-full tw-resize-y" id="about" aria-describedby="about-error"
            placeholder="About user" pInputTextarea [rows]="15"></textarea>
          <small id="about-error" class="p-error tw-text-xs tw-block tw-my-2"
            [invalidControl]="updateProfileForm.controls.about">{{ updateProfileForm.controls.about.errors
            | firstErrorKey:'updateProfile':'about' }}</small>
        </form>
      </div>
      <div class="tw-ml-auto tw-w-full max-sm:tw-mt-4 sm:tw-w-2/5">
        <div class="markdown-body tw-rounded-md tw-min-h-[24rem] tw-p-4 tw-shadow"
          [innerHTML]="previewAbout ? (previewAbout | marked) : null">
        </div>
      </div>
    </div>
    <div *ngIf="hasUnsavedChanges" class="tw-bg-neutral-925 tw-fixed tw-max-w-5xl tw-mx-auto tw-bg-opacity-80 tw-left-2 tw-right-2
      tw-bottom-12 sm:tw-bottom-4 tw-rounded-md tw-z-1" @updateProfileToast>
      <div class="tw-flex tw-flex-wrap tw-mx-4 tw-my-2 tw-items-center">
        <p class="tw-text-white tw-font-medium max-sm:tw-w-full">{{ t('users.profileSettings.unsavedChanges') }}</p>
        <div class="tw-ml-auto max-sm:tw-mt-2">
          <button pButton type="button" [label]="t('users.profileSettings.reset')" (click)="resetProfileUpdate()"
            class="p-button-text p-button-secondary p-button-sm" [disabled]="isSavingChanges">
          </button>
          <button pButton type="button" [label]="t('users.profileSettings.save')" (click)="submitProfileUpdate()"
            class="p-button-success p-button-sm tw-ml-2" [disabled]="isSavingChanges">
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
