.skeleton:after {
  content: "";
  animation: skeleton-animation 0.6s infinite alternate ease-in-out;
  background: rgba(255, 255, 255, 0.04);
  //background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  //transform: translateX(-100%);
  z-index: 1;
}

@keyframes skeleton-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
