<ng-container *transloco="let t">
  <div class="tw-bg-neutral-850 tw-rounded-md tw-ml-4 tw-p-4">
    <div class="tw-flex tw-flex-wrap tw-mb-4">
      <div class="tw-w-full md:tw-w-auto tw-mr-auto tw-mt-2 md:tw-mt-0">
        <span class="p-input-icon-left tw-w-full">
          <i class="ms ms-search"></i>
          <input pInputText class="p-inputtext-sm tw-w-full" type="text"
            (input)="genreTable.filter($any($event).target.value, 'name', 'contains')"
            [placeholder]="t('admin.genres.searchPlaceholder')" />
        </span>
      </div>
      <div class="tw-w-full tw-ml-auto tw-mt-2 md:tw-mt-0 md:tw-w-auto">
        <button pButton [label]="t('admin.genres.create')" icon="ms ms-add" class="p-button tw-w-full sm:tw-w-auto"
          (click)="showCreateGenreDialog()">
        </button>
      </div>
    </div>
    <p-table #genreTable styleClass="p-datatable-sm tw-bg-neutral-875 tw-p-4 tw-rounded-md"
      [value]="genreList?.results || []" [rows]="rowsPerPage" [totalRecords]="genreList?.totalResults || 0"
      [paginator]="true" [rowsPerPageOptions]="[10, 25, 50]" responsiveLayout="scroll" [(selection)]="selectedGenres"
      dataKey="_id" [rowTrackBy]="trackId" [rowHover]="true" [lazy]="true" (onLazyLoad)="loadGenres()"
      [loading]="loadingGenreList" [currentPageReportTemplate]="t('admin.genres.pageReport')"
      [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
        <h4 class="tw-mb-2">{{ t('admin.genres.tableHeader') }}</h4>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="tw-w-12">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th class="tw-w-auto" pSortableColumn="name">{{ t('admin.genres.name') }} <p-sortIcon field="name">
            </p-sortIcon>
          </th>
          <th class="tw-w-32"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-genre>
        <tr>
          <td>
            <p-tableCheckbox [value]="genre"></p-tableCheckbox>
          </td>
          <td class="tw-text-sm">{{ genre.name }}</td>
          <td>
            <button pButton icon="ms ms-edit" class="p-button-rounded p-button-success p-button-sm p-button-sm-icon tw-mr-2"
              (click)="showUpdateGenreDialog(genre)">
            </button>
            <button pButton icon="ms ms-delete" class="p-button-rounded p-button-danger p-button-sm p-button-sm-icon"
              (click)="showDeleteGenreDialog(genre)">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-confirmDialog [style]="{width: '500px'}" [baseZIndex]="1000" acceptButtonStyleClass="p-button-danger p-button-sm"
      rejectButtonStyleClass="p-button-text p-button-secondary p-button-sm" rejectIcon="" acceptIcon=""
      [dismissableMask]="true">
    </p-confirmDialog>
  </div>
</ng-container>
