<ng-container *transloco="let t">
  <div *ngIf="episode" class="tw-my-4">
    <app-vertical-tab>
      <!--General info-->
      <ng-template appTabPanel [label]="t('admin.configureMedia.general')">

      </ng-template>
      <!--Subtitles-->
      <ng-template appTabPanel [label]="t('admin.configureMedia.subtitles')">

      </ng-template>
      <!--Source-->
      <ng-template appTabPanel [label]="t('admin.configureMedia.source')">

      </ng-template>
    </app-vertical-tab>
  </div>
</ng-container>
