<ng-container *transloco="let t; loadingTpl: loadingSpinner">
  <div class="tw-fixed tw-right-5 tw-top-2 tw-z-50">
    <button type="button" role="button" aria-label="Close dialog" pButton icon="ms ms-close"
      class="p-button-rounded p-button-secondary p-button-text tw-ml-auto" (click)="closeDialog()">
    </button>
  </div>
  <div *ngIf="episode; else loadingSpinner">
    <app-vertical-tab width="80vw" menuWidth="12rem" menuSpacingX="2rem" menuSpacingY="2rem"
      panelStyleClass="tw-max-w-8xl tw-mx-auto tw-my-8" contentStyleClass="tw-ml-6 tw-mr-6 md:tw-ml-0">
      <!--General info-->
      <ng-template appTabPanel [label]="t('admin.configureEpisode.general')" id="general" [separator]="true">
        <p class="tw-text-white tw-font-semibold tw-text-xl">{{ t('admin.configureEpisode.general') }}</p>
        <div class="tw-mt-4 tw-mb-24">
          <form id="update-episode-form" [formGroup]="updateEpisodeForm" formHandler
            (ngSubmit)="onUpdateEpisodeFormSubmit()">
            <div class="tw-flex tw-flex-wrap">
              <div class="tw-flex tw-flex-wrap tw-w-full md:tw-w-4/5">
                <div class="tw-w-full md:tw-w-1/2">
                  <label for="episode-number" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                    t('admin.updateEpisode.episodeNumber') }}</label>
                  <p-inputNumber formControlName="episodeNumber" form="update-episode-form" class="tw-w-full"
                    styleClass="tw-w-full" id="episode-number" aria-describedby="episode-number-error" [min]="0"
                    [max]="10000" [showButtons]="true" inputId="minmax-buttons"
                    [placeholder]="t('admin.updateEpisode.episodeNumberPlaceholder')" autofocus>
                  </p-inputNumber>
                  <small id="episode-number-error" class="p-error tw-text-xs tw-block tw-my-2"
                    [invalidControl]="updateEpisodeForm.controls.episodeNumber">{{
                    updateEpisodeForm.controls.episodeNumber.errors | firstErrorKey:'updateEpisode':'episodeNumber'
                    }}</small>
                </div>
                <div class="tw-w-full md:tw-w-1/2 md:tw-pl-2">
                  <label for="runtime" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                    t('admin.updateEpisode.runtime') }}</label>
                  <p-inputNumber formControlName="runtime" form="update-episode-form" class="tw-w-full"
                    styleClass="tw-w-full" id="runtime" suffix=" min" aria-describedby="runtime-error"
                    [useGrouping]="false" [min]="0" [max]="10000"
                    [placeholder]="t('admin.updateEpisode.runtimePlaceholder')">
                  </p-inputNumber>
                  <small id="runtime-error" class="p-error tw-text-xs tw-block tw-my-2"
                    [invalidControl]="updateEpisodeForm.controls.runtime">{{ updateEpisodeForm.controls.runtime.errors |
                    firstErrorKey:'updateEpisode':'runtime' }}</small>
                </div>
                <div class="tw-w-full">
                  <label for="name" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                    t('admin.updateEpisode.name') }}</label>
                  <input formControlName="name" class="tw-w-full" id="name" type="text" aria-describedby="name-error"
                    [placeholder]="t('admin.updateEpisode.namePlaceholder')" pInputText>
                  <small id="name-error" class="p-error tw-text-xs tw-block tw-my-2"
                    [invalidControl]="updateEpisodeForm.controls.name">{{ updateEpisodeForm.controls.name.errors |
                    firstErrorKey:'updateEpisode':'name' }}</small>
                </div>
              </div>
              <div class="tw-w-full md:tw-w-1/5 md:tw-pl-4">
                <p class="tw-text-white tw-text-base tw-font-medium tw-text-center">{{ t('admin.episode.still') }}</p>
                <div class="tw-aspect-w-16 tw-aspect-h-9 tw-rounded-xl tw-overflow-hidden tw-mt-2">
                  <ng-container *ngIf="!stillPreviewName; else stillPreview">
                    <img *ngIf="episode.thumbnailStillUrl; else noStill" class="tw-object-cover"
                      [lazyLoad]="episode.thumbnailStillUrl" [lazyLoadPlaceholder]="episode.stillColor | rgbColor"
                      [alt]="episode.name" errorImage="assets/images/episode-image-error-md.png">
                    <ng-template #noStill>
                      <img class="tw-object-cover" src="assets/images/media-poster-md.png" loading="lazy"
                        [alt]="episode.name">
                    </ng-template>
                  </ng-container>
                  <ng-template #stillPreview>
                    <img *ngIf="stillPreviewUri" class="tw-object-cover" [src]="stillPreviewUri">
                  </ng-template>
                </div>
                <!--Upload and delete the still frame-->
                <div class="tw-flex tw-mt-2">
                  <div class="tw-mx-auto">
                    <ng-container *ngIf="!stillPreviewName; else stillPreviewActions">
                      <input #inputUploadPoster hidden="true" type="file" id="file-upload-poster"
                        onclick="this.value = null" (change)="onInputStillChange($event)" accept=".jpg, .jpeg, .png"
                        aria-label="Upload a poster" />
                      <button pButton type="button" icon="ms ms-upload" class="p-button-rounded p-button-text"
                        (click)="inputUploadPoster.click()">
                      </button>
                      <button pButton type="button" icon="ms ms-delete"
                        class="p-button-rounded p-button-text p-button-danger tw-ml-1" [disabled]="!episode.stillUrl">
                      </button>
                    </ng-container>
                    <!--Save and cancel still upload-->
                    <ng-template #stillPreviewActions>
                      <div class="tw-mx-auto">
                        <button pButton type="button" [label]="t('admin.configureEpisode.saveImage')"
                          class="p-button-sm" (click)="onUpdateStillSubmit()" [disabled]="isUpdatingStill">
                        </button>
                        <button pButton type="button" [label]="t('admin.configureEpisode.cancelUploadImage')"
                          class="p-button-sm p-button-secondary p-button-text tw-ml-1" (click)="onUpdateStillCancel()"
                          [disabled]="isUpdatingStill">
                        </button>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
            <label for="overview" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
              t('admin.updateEpisode.overview') }}</label>
            <textarea formControlName="overview" class="tw-w-full" id="overview" aria-describedby="overview-error"
              [placeholder]="t('admin.updateEpisode.overviewPlaceholder')" pInputTextarea [rows]="5"></textarea>
            <small id="overview-error" class="p-error tw-text-xs tw-block tw-my-2"
              [invalidControl]="updateEpisodeForm.controls.overview">
              {{ updateEpisodeForm.controls.overview.errors | firstErrorKey:'updateEpisode':'overview' }}
            </small>
            <label for="air-date" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
              t('admin.updateEpisode.airDate') }}</label>
            <div id="air-date" formGroupName="airDate" class="dropdown-group tw-flex tw-flex-wrap tw-w-full"
              aria-describedby="air-date-error">
              <p-dropdown class="tw-w-full sm:tw-w-3/12" styleClass="tw-w-full" panelStyleClass="p-dropdown-sm"
                [options]="days" formControlName="day" appendTo="body" [placeholder]="t('admin.updateEpisode.day')"
                scrollHeight="300px">
              </p-dropdown>
              <p-dropdown class="tw-w-full sm:tw-w-5/12 tw-pt-2 sm:tw-pt-0 sm:tw-pl-2" styleClass="tw-w-full"
                panelStyleClass="p-dropdown-sm" [options]="months" formControlName="month" appendTo="body"
                [placeholder]="t('admin.updateEpisode.month')" scrollHeight="300px">
              </p-dropdown>
              <p-dropdown class="tw-w-full sm:tw-w-4/12 tw-pt-2 sm:tw-pt-0 sm:tw-pl-2" styleClass="tw-w-full"
                panelStyleClass="p-dropdown-sm" [options]="years" formControlName="year" appendTo="body"
                [placeholder]="t('admin.updateEpisode.year')" scrollHeight="300px">
              </p-dropdown>
            </div>
            <small id="air-date-error" class="p-error tw-text-xs tw-block tw-my-2"
              [invalidControl]="updateEpisodeForm.controls.airDate">{{ updateEpisodeForm.controls.airDate.errors |
              firstErrorKey:'updateEpisode':'airDate' }}</small>
            <div class="tw-flex tw-flex-wrap">
              <div class="tw-w-full sm:tw-w-1/3">
                <label for="visibility" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                  t('admin.updateEpisode.visibility') }}</label>
                <div id="visibility">
                  <p-radioButton name="visibility" [value]="1" [label]="t('admin.updateEpisode.visibilityPublic')"
                    formControlName="visibility" class="tw-block tw-mb-2">
                  </p-radioButton>
                  <p-radioButton name="visibility" [value]="2" [label]="t('admin.updateEpisode.visibilityUnlisted')"
                    formControlName="visibility" class="tw-block tw-mb-2">
                  </p-radioButton>
                  <p-radioButton name="visibility" [value]="3" [label]="t('admin.updateEpisode.visibilityPrivate')"
                    formControlName="visibility" class="tw-block">
                  </p-radioButton>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
      <ng-template appPanelToast tabId="general"
        styleClass="tw-bg-neutral-850 tw-bg-opacity-80 tw-bottom-4 tw-left-8 tw-right-8 tw-rounded-md"
        [visible]="updateEpisodeFormChanged">
        <div class="tw-flex tw-mx-4 tw-my-2 tw-items-center">
          <p class="tw-text-white tw-font-medium">{{ t('admin.configureEpisode.unsavedChanges') }}</p>
          <div class="tw-ml-auto">
            <button pButton type="button" [label]="t('admin.updateEpisode.cancel')" (click)="onUpdateEpisodeFormReset()"
              class="p-button-text p-button-secondary p-button-sm" [disabled]="updateEpisodeForm.disabled">
            </button>
            <button pButton type="submit" [label]="t('admin.updateEpisode.submit')" form="update-episode-form"
              class="p-button-success p-button-sm tw-ml-1" [disabled]="updateEpisodeForm.disabled">
            </button>
          </div>
        </div>
      </ng-template>
      <!--Subtitles-->
      <ng-template appTabPanel [label]="t('admin.configureEpisode.subtitles')">
        <p class="tw-text-white tw-font-semibold tw-text-xl">{{ t('admin.configureEpisode.subtitles')
          }}</p>
        <div class="tw-my-3">
          <app-file-upload #subtitleFileUpload accept=".vtt" [label]="t('admin.configureEpisode.addSubtitle')"
            [desciption]="t('admin.configureEpisode.addSubtitleDesc')" [showFilename]="false"
            styleClass="tw-max-w-xl tw-h-40 tw-mx-auto" ariaLabel="Choose a subtitle to upload"
            (fileChange)="showAddSubtitleDialog($event)">
          </app-file-upload>
        </div>
        <ng-container *ngIf="episode.subtitles.length; else noSubtitles">
          <p-table styleClass="p-datatable-sm tw-bg-neutral-875 tw-p-4 tw-rounded-md" [value]="episode.subtitles"
            responsiveLayout="scroll" [rowTrackBy]="trackId" [rowHover]="true">
            <ng-template pTemplate="header">
              <tr>
                <th class="tw-w-12">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="language">{{ t('admin.configureEpisode.language') }} <p-sortIcon field="language">
                  </p-sortIcon>
                </th>
                <th class="tw-w-16"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-subtitle>
              <tr>
                <td>
                  <p-tableCheckbox [value]="subtitle"></p-tableCheckbox>
                </td>
                <td>{{ t('languages.' + subtitle.language) }}</td>
                <td>
                  <button pButton icon="ms ms-delete"
                    class="p-button-outlined p-button-rounded p-button-danger p-button-sm p-button-sm-icon"
                    (click)="deleteSubtitle(subtitle, $event)">
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-container>
        <ng-template #noSubtitles>
          <p class="tw-text-gray-400 tw-text-base tw-italic">{{ t('admin.configureEpisode.noSubtitles') }}</p>
        </ng-template>
      </ng-template>
      <!--Source-->
      <ng-template appTabPanel [label]="t('admin.configureEpisode.source')">
        <p class="tw-text-white tw-font-semibold tw-text-xl">{{ t('admin.configureEpisode.source')
          }}</p>
        <p class="tw-text-base tw-font-medium tw-mt-3 tw-mb-2">{{ t('admin.configureEpisode.addEpisodeSourceLabel') }}
        </p>
        <div [ngSwitch]="episode.status" class="tw-mt-3">
          <ng-container *ngSwitchCase="MediaSourceStatus.PENDING">
            <app-file-upload accept=".mp4, .mkv, .webm, .m2ts" [label]="t('admin.addMediaSource.chooseFile')"
              styleClass="tw-max-w-xl tw-h-40 tw-mx-auto" ariaLabel="Upload episode source"
              [disabled]="isUploadingSource" [desciption]="t('admin.configureEpisode.addEpisodeSourceDescription')"
              (fileChange)="uploadSource($event)">
            </app-file-upload>
          </ng-container>
          <div *ngSwitchCase="MediaSourceStatus.PROCESSING" class="tw-text-center">
            <i class="ms ms-hourglass-empty tw-text-5xl"></i>
            <p class="tw-text-lg tw-mt-2">{{ t('admin.media.statusProcessingDescription') }}</p>
          </div>
          <ng-container *ngSwitchCase="MediaSourceStatus.READY">
            <div class="tw-flex tw-mb-4">
              <p class="tw-text-base">{{ t('admin.media.statusReadyDescription') }}</p>
              <div class="tw-ml-auto">
                <ng-container *ngIf="!showEpisodePlayer; then sourcePreviewButton"></ng-container>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="MediaSourceStatus.DONE">
            <div class="tw-flex tw-mb-4">
              <p class="tw-text-base">{{ t('admin.media.statusDoneDescription') }}</p>
              <div class="tw-ml-auto">
                <ng-container *ngIf="!showEpisodePlayer; then sourcePreviewButton"></ng-container>
                <button pButton type="button" class="p-button-danger p-button-outlined tw-ml-2"
                  [label]="t('admin.configureEpisode.deleteSource')" (click)="deleteSource($event)">
                </button>
              </div>
            </div>
            <ng-container *ngIf="showEpisodePlayer; then sourcePreview"></ng-container>
          </ng-container>
        </div>
        <ng-template #sourcePreviewButton>
          <button *ngIf="!showEpisodePlayer" pButton type="button" class="p-button-secondary"
            [label]="t('admin.configureEpisode.previewSource')" (click)="showSourcePreview()">
          </button>
        </ng-template>
        <ng-template #sourcePreview>
          <app-video-player [source]="previewSource"></app-video-player>
        </ng-template>
        <p class="tw-text-base tw-font-medium tw-mt-4 tw-mb-2">{{ t('admin.configureEpisode.addEpisodeSourceAltLabel')
          }}</p>
        <app-add-ext-streams (onSelect)="updateExtStreams($event)"></app-add-ext-streams>
      </ng-template>
    </app-vertical-tab>
    <p-confirmDialog [blockScroll]="false" key="inModalEpisode" [style]="{width: '500px'}" [baseZIndex]="1000"
      acceptButtonStyleClass="p-button-danger p-button-sm"
      rejectButtonStyleClass="p-button-text p-button-secondary p-button-sm" rejectIcon="" acceptIcon=""
      [dismissableMask]="true">
    </p-confirmDialog>
  </div>
</ng-container>
<ng-template #loadingSpinner>
  <div class="tw-flex tw-justify-center tw-items-center tw-h-96">
    <p-progressSpinner strokeWidth="3px"></p-progressSpinner>
  </div>
</ng-template>
