<div class="tw-max-w-8xl tw-mx-auto tw-my-8">
  <div class="tw-h-14"></div> <!-- Fixed navbar space -->
  <div class="tw-mx-8">
    <app-media-filter #mediaFilter (onChange)="onMediaFilterUpdate($event)"></app-media-filter>
    <div class="tw-my-8">
      <app-media-list [mediaList]="mediaList" [loading]="loadingMediaList"></app-media-list>
    </div>
    <p-paginator *ngIf="mediaList" [rows]="itemsPerPage" [totalRecords]="mediaList.totalResults"
      (onPageChange)="onPageChange($event)">
    </p-paginator>
  </div>
</div>
