<ng-container *transloco="let t; loadingTpl: loadingSpinner">
  <div class="tw-fixed tw-right-10 tw-top-10 tw-z-50">
    <button type="button" role="button" aria-label="Close dialog" pButton icon="ms ms-close"
      class="p-button-outlined p-button-rounded p-button-secondary p-button-text tw-ml-auto" (click)="closeDialog()">
    </button>
  </div>
  <div *ngIf="media; else loadingSpinner">
    <app-vertical-tab panelStyleClass="tw-max-w-8xl tw-mx-auto tw-my-8" contentStyleClass="tw-ml-8 tw-mr-24 md:tw-ml-0"
      [fullContentWidth]="true">
      <!--General info-->
      <ng-template appTabPanel [label]="t('admin.configureMedia.general')" id="general">
        <p class="tw-text-white tw-font-bold tw-text-2xl">{{ t('admin.configureMedia.general') }}</p>
        <div class="tw-mt-4 tw-mb-24">
          <form id="update-media-form" [formGroup]="updateMediaForm" formHandler (ngSubmit)="onUpdateMediaFormSubmit()">
            <div class="tw-flex tw-flex-wrap">
              <div class="tw-w-full md:tw-w-1/2">
                <label for="title" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">
                  {{ t('admin.updateMedia.title') }}
                </label>
                <input formControlName="title" class="tw-w-full" id="title" type="text" aria-describedby="title-error"
                  [placeholder]="t('admin.updateMedia.titlePlaceholder')" pInputText [disabledControl]="isUpdatingMedia"
                  autofocus>
                <small id="title-error"
                  class="p-error tw-text-xs tw-block tw-my-2 tw-transition-opacity tw-duration-200 before:tw-content-['\200b']"
                  [ngClass]="(updateMediaForm.controls['title'].dirty || updateMediaForm.controls['title'].touched)
                        && updateMediaForm.controls['title'].invalid ? 'tw-opacity-100' : 'tw-opacity-0'">
                  {{ updateMediaForm.controls['title'].errors | firstErrorKey:'updateMedia':'title' }}
                </small>
              </div>
              <div class="tw-w-full md:tw-w-1/2 md:tw-pl-2">
                <label for="original-title" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">
                  {{ t('admin.updateMedia.originalTitle') }}
                </label>
                <input formControlName="originalTitle" class="tw-w-full" id="original-title" type="text"
                  aria-describedby="original-title-error"
                  [placeholder]="t('admin.updateMedia.originalTitlePlaceholder')" pInputText
                  [disabledControl]="isUpdatingMedia">
                <small id="original-title-error"
                  class="p-error tw-text-xs tw-block tw-my-2 tw-transition-opacity tw-duration-200 before:tw-content-['\200b']"
                  [ngClass]="(updateMediaForm.controls['originalTitle'].dirty || updateMediaForm.controls['originalTitle'].touched)
                        && updateMediaForm.controls['originalTitle'].invalid ? 'tw-opacity-100' : 'tw-opacity-0'">
                  {{ updateMediaForm.controls['originalTitle'].errors | firstErrorKey:'updateMedia':'originalTitle' }}
                </small>
              </div>
            </div>
            <label for="overview" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">
              {{ t('admin.updateMedia.overview') }}
            </label>
            <textarea formControlName="overview" class="tw-w-full tw-resize-y" id="overview"
              aria-describedby="overview-error" [placeholder]="t('admin.updateMedia.overviewPlaceholder')"
              pInputTextarea [rows]="5" [disabledControl]="isUpdatingMedia"></textarea>
            <small id="overview-error"
              class="p-error tw-text-xs tw-block tw-my-2 tw-transition-opacity tw-duration-200 before:tw-content-['\200b']"
              [ngClass]="(updateMediaForm.controls['overview'].dirty || updateMediaForm.controls['overview'].touched)
                    && updateMediaForm.controls['overview'].invalid ? 'tw-opacity-100' : 'tw-opacity-0'">
              {{ updateMediaForm.controls['overview'].errors | firstErrorKey:'updateMedia':'overview' }}
            </small>
            <div class="tw-flex tw-flex-wrap">
              <div class="tw-w-full sm:tw-w-1/2">
                <label for="runtime" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">
                  {{ t('admin.updateMedia.runtime') }}
                </label>
                <p-inputNumber formControlName="runtime" class="tw-w-full" styleClass="tw-w-full" id="runtime"
                  suffix=" min" aria-describedby="runtime-error" [useGrouping]="false" [min]="0" [max]="10000"
                  [placeholder]="t('admin.updateMedia.runtimePlaceholder')" [disabledControl]="isUpdatingMedia">
                </p-inputNumber>
                <small id="runtime-error"
                  class="p-error tw-text-xs tw-block tw-my-2 tw-transition-opacity tw-duration-200 before:tw-content-['\200b']"
                  [ngClass]="(updateMediaForm.controls['runtime'].dirty || updateMediaForm.controls['runtime'].touched)
                        && updateMediaForm.controls['runtime'].invalid ? 'tw-opacity-100' : 'tw-opacity-0'">
                  {{ updateMediaForm.controls['runtime'].errors | firstErrorKey:'updateMedia':'runtime' }}
                </small>
              </div>
              <div class="tw-w-full sm:tw-w-1/2 sm:tw-pl-2">
                <label for="original-language" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">
                  {{ t('admin.updateMedia.originalLanguage') }}
                </label>
                <p-dropdown id="original-language" class="tw-w-full" styleClass="tw-w-full"
                  panelStyleClass="md:tw-dropdown-cols-2 md:tw-max-w-lg p-dropdown-sm"
                  aria-describedby="original-language-error" [options]="languages" formControlName="originalLanguage"
                  appendTo="body" [placeholder]="t('admin.updateMedia.originalLanguagePlaceholder')" [showClear]="true"
                  scrollHeight="300px" [disabledControl]="isUpdatingMedia">
                </p-dropdown>
                <small id="original-language-error"
                  class="p-error tw-text-xs tw-block tw-my-2 tw-transition-opacity tw-duration-200 before:tw-content-['\200b']"
                  [ngClass]="(updateMediaForm.controls['originalLanguage'].dirty || updateMediaForm.controls['originalLanguage'].touched)
                        && updateMediaForm.controls['originalLanguage'].invalid ? 'tw-opacity-100' : 'tw-opacity-0'">
                  {{ updateMediaForm.controls['originalLanguage'].errors |
                  firstErrorKey:'updateMedia':'originalLanguage' }}
                </small>
              </div>
            </div>
            <div class="tw-flex tw-flex-wrap">
              <div class="tw-w-full md:tw-w-1/2">
                <label for="genres" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">
                  {{ t('admin.updateMedia.genres') }}
                </label>
                <p-autoComplete formControlName="genres" [suggestions]="genreSuggestions"
                  (completeMethod)="loadGenreSuggestions($event.query)" field="name" dataKey="_id" [multiple]="true"
                  [unique]="true" [completeOnFocus]="true" scrollHeight="300px" appendTo="body" styleClass="tw-w-full"
                  panelStyleClass="p-autocomplete-xs" inputId="genres" ariaLabel="Find genres"
                  dropdownAriaLabel="Genre search results" aria-describedby="genres-error"
                  [disabledControl]="isUpdatingMedia">
                </p-autoComplete>
                <small id="genres-error"
                  class="p-error tw-text-xs tw-block tw-my-2 tw-transition-opacity tw-duration-200 before:tw-content-['\200b']"
                  [ngClass]="(updateMediaForm.controls['genres'].dirty || updateMediaForm.controls['genres'].touched)
                    && updateMediaForm.controls['genres'].invalid ? 'tw-opacity-100' : 'tw-opacity-0'">
                  {{ updateMediaForm.controls['genres'].errors | firstErrorKey:'updateMedia':'genres' }}
                </small>
              </div>
              <div class="tw-w-full md:tw-w-1/2 md:tw-pl-2">
                <label for="productions" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">
                  {{ t('admin.updateMedia.productions') }}
                </label>
                <p-autoComplete formControlName="productions" [suggestions]="productionSuggestions"
                  (completeMethod)="loadProductionSuggestions($event.query)" field="name" dataKey="_id"
                  [multiple]="true" [unique]="true" [completeOnFocus]="true" scrollHeight="300px" appendTo="body"
                  styleClass="tw-w-full" panelStyleClass="p-autocomplete-xs" inputId="productions"
                  ariaLabel="Find companies" dropdownAriaLabel="Company search results"
                  aria-describedby="productions-error" [disabledControl]="isUpdatingMedia">
                </p-autoComplete>
                <small id="productions-error"
                  class="p-error tw-text-xs tw-block tw-my-2 tw-transition-opacity tw-duration-200 before:tw-content-['\200b']"
                  [ngClass]="(updateMediaForm.controls['productions'].dirty || updateMediaForm.controls['productions'].touched)
                    && updateMediaForm.controls['productions'].invalid ? 'tw-opacity-100' : 'tw-opacity-0'">
                  {{ updateMediaForm.controls['productions'].errors | firstErrorKey:'updateMedia':'productions' }}
                </small>
              </div>
            </div>
            <label for="release-date" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">
              {{ t('admin.updateMedia.releaseDate') }}
            </label>
            <div id="release-date" formGroupName="releaseDate" class="dropdown-group tw-flex tw-flex-wrap tw-w-full"
              aria-describedby="release-date-error">
              <p-dropdown class="tw-w-full sm:tw-w-3/12" styleClass="tw-w-full" panelStyleClass="p-dropdown-sm"
                [options]="days" formControlName="day" appendTo="body" [placeholder]="t('admin.updateMedia.day')"
                scrollHeight="300px" [disabledControl]="isUpdatingMedia">
              </p-dropdown>
              <p-dropdown class="tw-w-full sm:tw-w-5/12 tw-pt-2 sm:tw-pt-0 sm:tw-pl-2" styleClass="tw-w-full"
                panelStyleClass="p-dropdown-sm" [options]="months" formControlName="month" appendTo="body"
                [placeholder]="t('admin.updateMedia.month')" scrollHeight="300px" [disabledControl]="isUpdatingMedia">
              </p-dropdown>
              <p-dropdown class="tw-w-full sm:tw-w-4/12 tw-pt-2 sm:tw-pt-0 sm:tw-pl-2" styleClass="tw-w-full"
                panelStyleClass="p-dropdown-sm" [options]="years" formControlName="year" appendTo="body"
                [placeholder]="t('admin.updateMedia.year')" scrollHeight="300px" [disabledControl]="isUpdatingMedia">
              </p-dropdown>
            </div>
            <small id="release-date-error"
              class="p-error tw-text-xs tw-block tw-my-2 tw-transition-opacity tw-duration-200 before:tw-content-['\200b']"
              [ngClass]="(updateMediaForm.controls['releaseDate'].dirty || updateMediaForm.controls['releaseDate'].touched)
                          && updateMediaForm.controls['releaseDate'].invalid ? 'tw-opacity-100' : 'tw-opacity-0'">
              {{ updateMediaForm.controls['releaseDate'].errors | firstErrorKey:'updateMedia':'releaseDate' }}
            </small>
            <ng-container *ngIf="media.type === MediaType.TV">
              <label for="last-air-date" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">
                {{ t('admin.updateMedia.lastAirDate') }}
              </label>
              <div id="last-air-date" formGroupName="lastAirDate" class="dropdown-group tw-flex tw-flex-wrap tw-w-full"
                aria-describedby="last-air-date-error">
                <p-dropdown class="tw-w-full sm:tw-w-3/12" styleClass="tw-w-full" panelStyleClass="p-dropdown-sm"
                  [options]="days" formControlName="day" appendTo="body" [placeholder]="t('admin.updateMedia.day')"
                  scrollHeight="300px" [disabledControl]="isUpdatingMedia">
                </p-dropdown>
                <p-dropdown class="tw-w-full sm:tw-w-5/12 tw-pt-2 sm:tw-pt-0 sm:tw-pl-2" styleClass="tw-w-full"
                  panelStyleClass="p-dropdown-sm" [options]="months" formControlName="month" appendTo="body"
                  [placeholder]="t('admin.updateMedia.month')" scrollHeight="300px" [disabledControl]="isUpdatingMedia">
                </p-dropdown>
                <p-dropdown class="tw-w-full sm:tw-w-4/12 tw-pt-2 sm:tw-pt-0 sm:tw-pl-2" styleClass="tw-w-full"
                  panelStyleClass="p-dropdown-sm" [options]="years" formControlName="year" appendTo="body"
                  [placeholder]="t('admin.updateMedia.year')" scrollHeight="300px" [disabledControl]="isUpdatingMedia">
                </p-dropdown>
              </div>
              <small id="last-air-date-error" *ngIf="updateMediaForm.controls['lastAirDate']"
                class="p-error tw-text-xs tw-block tw-my-2 tw-transition-opacity tw-duration-200 before:tw-content-['\200b']"
                [ngClass]="(updateMediaForm.controls['lastAirDate'].dirty || updateMediaForm.controls['lastAirDate'].touched)
                            && updateMediaForm.controls['lastAirDate'].invalid ? 'tw-opacity-100' : 'tw-opacity-0'">
                {{ updateMediaForm.controls['lastAirDate'].errors | firstErrorKey:'updateMedia':'lastAirDate' }}
              </small>
            </ng-container>
            <div class="tw-flex tw-flex-wrap">
              <div class="tw-w-full sm:tw-w-1/3">
                <label for="visibility" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">
                  {{ t('admin.updateMedia.visibility') }}
                </label>
                <div id="visibility">
                  <p-radioButton name="visibility" [value]="1" [label]="t('admin.updateMedia.visibilityPublic')"
                    formControlName="visibility" class="tw-block tw-mb-2" [disabledControl]="isUpdatingMedia">
                  </p-radioButton>
                  <p-radioButton name="visibility" [value]="2" [label]="t('admin.updateMedia.visibilityUnlisted')"
                    formControlName="visibility" class="tw-block tw-mb-2" [disabledControl]="isUpdatingMedia">
                  </p-radioButton>
                  <p-radioButton name="visibility" [value]="3" [label]="t('admin.updateMedia.visibilityPrivate')"
                    formControlName="visibility" class="tw-block" [disabledControl]="isUpdatingMedia">
                  </p-radioButton>
                </div>
              </div>
              <div class="tw-w-full sm:tw-w-1/3 sm:tw-pl-2">
                <label for="adult" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">
                  {{ t('admin.updateMedia.adult') }}
                </label>
                <div id="adult">
                  <p-radioButton name="adult" [value]="true" [label]="t('admin.updateMedia.forAdult')"
                    formControlName="adult" class="tw-block tw-mb-2" [disabledControl]="isUpdatingMedia">
                  </p-radioButton>
                  <p-radioButton name="adult" [value]="false" [label]="t('admin.updateMedia.forEveryone')"
                    formControlName="adult" class="tw-block" [disabledControl]="isUpdatingMedia">
                  </p-radioButton>
                </div>
              </div>
              <div class="tw-w-full sm:tw-w-1/3 sm:tw-pl-2">
                <label for="status" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">
                  {{ t('admin.updateMedia.status') }}
                </label>
                <div id="status">
                  <ng-container *ngIf="media.type === MediaType.TV; else isMovie">
                    <p-radioButton name="status" value="upcoming" [label]="t('media.statusOptions.upcoming')"
                      formControlName="status" class="tw-block tw-mb-2" [disabledControl]="isUpdatingMedia">
                    </p-radioButton>
                    <p-radioButton name="status" value="airing" [label]="t('media.statusOptions.airing')"
                      formControlName="status" class="tw-block tw-mb-2" [disabledControl]="isUpdatingMedia">
                    </p-radioButton>
                    <p-radioButton name="status" value="aired" [label]="t('media.statusOptions.aired')"
                      formControlName="status" class="tw-block tw-mb-2" [disabledControl]="isUpdatingMedia">
                    </p-radioButton>
                  </ng-container>
                  <ng-template #isMovie>
                    <p-radioButton name="status" value="upcoming" [label]="t('media.statusOptions.upcoming')"
                      formControlName="status" class="tw-block tw-mb-2" [disabledControl]="isUpdatingMedia">
                    </p-radioButton>
                    <p-radioButton name="status" value="released" [label]="t('media.statusOptions.released')"
                      formControlName="status" class="tw-block" [disabledControl]="isUpdatingMedia">
                    </p-radioButton>
                  </ng-template>
                </div>
              </div>
            </div>
            <!--div class="tw-flex tw-my-4">
              <div class="tw-ml-auto">
                <button pButton type="button" [label]="t('admin.updateMedia.cancel')"
                  [disabled]="!updateMediaFormChanged" (click)="onUpdateMediaFormReset()"
                  class="p-button-text p-button-secondary p-button-sm">
                </button>
                <button pButton type="submit" [label]="t('admin.updateMedia.submit')"
                  class="p-button-success p-button-sm tw-ml-1" [disabled]="isUpdatingMedia || !updateMediaFormChanged">
                </button>
              </div>
            </div-->
          </form>
        </div>
        <ng-template appPanelToast tabId="general"
          styleClass="tw-bg-neutral-850 tw-bg-opacity-80 tw-bottom-4 tw-left-8 tw-right-34 tw-rounded-md"
          [visible]="updateMediaFormChanged">
          <div class="tw-flex tw-mx-4 tw-my-2 tw-items-center">
            <p class="tw-text-white tw-font-medium">{{ t('admin.configureMedia.unsavedChanges') }}</p>
            <div class="tw-ml-auto">
              <button pButton type="button" [label]="t('admin.updateMedia.cancel')" (click)="onUpdateMediaFormReset()"
                class="p-button-text p-button-secondary p-button-sm" [disabled]="isUpdatingMedia">
              </button>
              <button pButton type="submit" [label]="t('admin.updateMedia.submit')" form="update-media-form"
                class="p-button-success p-button-sm tw-ml-1" [disabled]="isUpdatingMedia">
              </button>
            </div>
          </div>
        </ng-template>
      </ng-template>
      <!--Images-->
      <ng-template appTabPanel [label]="t('admin.configureMedia.images')">
        <p class="tw-text-white tw-font-bold tw-text-2xl">{{ t('admin.configureMedia.images') }}</p>
        <div class="tw-flex tw-flex-wrap tw-mt-3">
          <div class="tw-w-full md:tw-w-1/4">
            <p class="tw-text-white tw-text-base tw-font-medium tw-text-center">{{ t('admin.media.poster') }}</p>
            <div class="tw-aspect-w-2 tw-aspect-h-3 tw-rounded-xl tw-overflow-hidden tw-mt-2">
              <ng-container *ngIf="!posterPreviewName; else posterPreview">
                <img *ngIf="media.thumbnailPosterUrl; else noPoster" class="tw-object-cover"
                  [lazyLoad]="media.thumbnailPosterUrl" [alt]="media.title"
                  errorImage="assets/images/media-poster-error-md.png">
                <div *ngIf="media.posterColor" class="ng-lazyload-placeholder tw-w-full tw-h-full"
                  [ngStyle]="{ 'background-color': media.posterColor | rgbColor }">
                </div>
                <ng-template #noPoster>
                  <img class="tw-object-cover" src="assets/images/media-poster-md.png" loading="lazy"
                    [alt]="media.title">
                </ng-template>
              </ng-container>
              <ng-template #posterPreview>
                <img *ngIf="posterPreviewUri" class="tw-object-cover" [src]="posterPreviewUri">
              </ng-template>
            </div>
            <!--Upload and delete the poster-->
            <div class="tw-flex tw-mt-2">
              <div class="tw-mx-auto">
                <ng-container *ngIf="!posterPreviewName; else posterPreviewActions">
                  <input #inputUploadPoster hidden="true" type="file" id="file-upload-poster"
                    onclick="this.value = null" (change)="onInputPosterChange($event)" accept=".jpg, .jpeg, .png"
                    aria-label="Upload a poster" />
                  <button pButton type="button" icon="ms ms-upload" class="p-button-rounded p-button-text"
                    (click)="inputUploadPoster.click()">
                  </button>
                  <button pButton type="button" icon="ms ms-delete"
                    class="p-button-rounded p-button-text p-button-danger tw-ml-1" (click)="deletePoster($event)"
                    [disabled]="!media.posterUrl">
                  </button>
                </ng-container>
                <!--Save and cancel poster upload-->
                <ng-template #posterPreviewActions>
                  <button pButton type="button" [label]="t('admin.configureMedia.saveImage')" class="p-button-sm"
                    (click)="onUpdatePosterSubmit()" [disabled]="isUpdatingPoster">
                  </button>
                  <button pButton type="button" [label]="t('admin.configureMedia.cancelUploadImage')"
                    class="p-button-sm p-button-secondary p-button-text tw-ml-1" (click)="onUpdatePosterCancel()"
                    [disabled]="isUpdatingPoster">
                  </button>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="tw-w-full md:tw-w-3/4 md:tw-pl-4">
            <p class="tw-text-white tw-text-base tw-font-medium tw-text-center">{{
              t('admin.media.backdrop') }}</p>
            <div class="tw-aspect-w-16 tw-aspect-h-9 tw-rounded-xl tw-overflow-hidden tw-mt-2">
              <ng-container *ngIf="!backdropPreviewName; else backdropPreview">
                <img *ngIf="media.thumbnailBackdropUrl; else noBackdrop" class="tw-object-cover"
                  [lazyLoad]="media.thumbnailBackdropUrl" [alt]="media.title"
                  errorImage="assets/images/media-backdrop-error-md.png">
                <div *ngIf="media.backdropColor" class="ng-lazyload-placeholder tw-w-full tw-h-full"
                  [ngStyle]="{ 'background-color': media.backdropColor | rgbColor }">
                </div>
                <ng-template #noBackdrop>
                  <img class="tw-object-cover" src="assets/images/media-backdrop-md.png" loading="lazy"
                    [alt]="media.title">
                </ng-template>
              </ng-container>
              <ng-template #backdropPreview>
                <img *ngIf="backdropPreviewUri" class="tw-object-cover" [src]="backdropPreviewUri">
              </ng-template>
            </div>
            <!--Upload and delete the backdrop-->
            <div class="tw-flex tw-mt-2">
              <div class="tw-mx-auto">
                <ng-container *ngIf="!backdropPreviewName; else backdropPreviewActions">
                  <input #inputUploadBackdrop hidden="true" type="file" id="file-upload-backdrop"
                    onclick="this.value = null" (change)="onInputBackdropChange($event)" accept=".jpg, .jpeg, .png"
                    aria-label="Upload a backdrop" />
                  <button pButton type="button" icon="ms ms-upload" class="p-button-rounded p-button-text"
                    (click)="inputUploadBackdrop.click()">
                  </button>
                  <button pButton type="button" icon="ms ms-delete"
                    class="p-button-rounded p-button-text p-button-danger tw-ml-1" (click)="deleteBackdrop($event)"
                    [disabled]="!media.backdropUrl">
                  </button>
                </ng-container>
                <!--Save and cancel backdrop upload-->
                <ng-template #backdropPreviewActions>
                  <button pButton type="button" [label]="t('admin.configureMedia.saveImage')" class="p-button-sm"
                    (click)="onUpdateBackdropSubmit()" [disabled]="isUpdatingBackdrop">
                  </button>
                  <button pButton type="button" [label]="t('admin.configureMedia.cancelUploadImage')"
                    class="p-button-sm p-button-secondary p-button-text tw-ml-1" (click)="onUpdateBackdropCancel()"
                    [disabled]="isUpdatingBackdrop">
                  </button>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <!--Videos-->
      <!--Separator-->
      <ng-template appTabPanel [label]="t('admin.configureMedia.videos')" [separator]="true">
        <p class="tw-text-white tw-font-bold tw-text-2xl">{{ t('admin.configureMedia.videos') }}</p>
        <div class="tw-text-right tw-my-3">
          <button pButton type="button" role="dialog" [label]="t('admin.configureMedia.addVideo')"
            (click)="showAddVideoDialog()">
          </button>
        </div>
        <ng-container *ngIf="media.videos.length; else noVideos">
          <p-table styleClass="p-datatable-sm tw-bg-neutral-875 tw-p-4 tw-rounded-md" [value]="media.videos"
            responsiveLayout="scroll" [rowTrackBy]="trackId" [rowHover]="true">
            <ng-template pTemplate="header">
              <tr>
                <th class="tw-w-12">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th class="tw-w-64"></th>
                <th pSortableColumn="name">
                  {{ t('media.video.name') }} <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th class="tw-w-32"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-video let-rowIndex="rowIndex">
              <tr>
                <td>
                  <p-tableCheckbox [value]="video"></p-tableCheckbox>
                </td>
                <td class="tw-w-64">
                  <div
                    class="tw-aspect-w-16 tw-aspect-h-9 tw-overflow-hidden tw-rounded-md tw-cursor-pointer hover:tw-brightness-75 tw-transition-all tw-duration-200"
                    (click)="viewVideo(rowIndex)">
                    <img [src]="youtubeThumbnailUrl + video.key + '/hqdefault.jpg'" [alt]="video.key || ''"
                      class="tw-object-cover" />
                    <div class="tw-flex tw-justify-center tw-items-center">
                      <i class="ms ms-play-circle tw-text-5xl"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <p *ngIf="video.name; else untitledVideo" class="tw-text-lg tw-font-semibold">{{ video.name }}</p>
                  <ng-template #untitledVideo>
                    <p class="tw-text-gray-400 tw-text-lg tw-font-semibold tw-italic">{{ t('media.video.untitled')
                      }}</p>
                  </ng-template>
                </td>
                <td class="tw-w-32">
                  <button pButton icon="ms ms-edit"
                    class="p-button-outlined p-button-rounded p-button-success p-button-sm p-button-sm-icon tw-mr-2"
                    (click)="showUpdateVideoDialog(video)">
                  </button>
                  <button pButton icon="ms ms-delete"
                    class="p-button-outlined p-button-rounded p-button-danger p-button-sm p-button-sm-icon"
                    (click)="deleteVideo(video, $event)">
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <p-dialog *ngIf="media.videos[activeVideoIndex]" [header]="media.videos[activeVideoIndex].name || ''"
            [(visible)]="displayVideo" (onHide)="blockScroll()" [modal]="true"
            styleClass="p-dialog-header-sm tw-w-2/3 tw-h-auto !tw-max-h-full" [draggable]="false" [resizable]="false"
            [dismissableMask]="true" transitionOptions="0ms linear" contentStyleClass="!tw-p-0">
            <div class="tw-aspect-w-16 tw-aspect-h-9">
              <iframe [src]="youtubeUrl + media.videos[activeVideoIndex].key + '?autoplay=1' | safeUrl: 'resourceUrl'"
                allowfullscreen width="100%" height="auto">
              </iframe>
            </div>
          </p-dialog>
        </ng-container>
        <ng-template #noVideos>
          <p class="tw-text-gray-400 tw-text-base tw-italic">
            {{ t('media.details.noVideos') }}
          </p>
        </ng-template>
      </ng-template>
      <!--Subtitles-->
      <ng-container *ngIf="media.type === MediaType.MOVIE; else isTV">
        <ng-template appTabPanel [label]="t('admin.configureMedia.subtitles')">
          <p class="tw-text-white tw-font-bold tw-text-2xl">{{ t('admin.configureMedia.subtitles')
            }}</p>
          <div class="tw-my-3">
            <app-file-upload #subtitleFileUpload accept=".vtt" [label]="t('admin.configureMedia.addSubtitle')"
              [desciption]="t('admin.configureMedia.addSubtitleDesc')" [showFilename]="false"
              styleClass="tw-max-w-xl tw-h-40 tw-mx-auto" ariaLabel="Choose a subtitle to upload"
              (fileChange)="showAddSubtitleDialog($event)">
            </app-file-upload>
          </div>
          <ng-container *ngIf="media.movie.subtitles.length; else noSubtitles">
            <p-table styleClass="p-datatable-sm tw-bg-neutral-875 tw-p-4 tw-rounded-md" [value]="media.movie.subtitles"
              responsiveLayout="scroll" [rowTrackBy]="trackId" [rowHover]="true">
              <ng-template pTemplate="header">
                <tr>
                  <th class="tw-w-12">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th pSortableColumn="language">
                    {{ t('admin.configureMedia.language') }} <p-sortIcon field="language"></p-sortIcon>
                  </th>
                  <th class="tw-w-16"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-subtitle>
                <tr>
                  <td>
                    <p-tableCheckbox [value]="subtitle"></p-tableCheckbox>
                  </td>
                  <td>
                    {{ t('languages.' + subtitle.language) }}
                  </td>
                  <td>
                    <button pButton icon="ms ms-delete"
                      class="p-button-outlined p-button-rounded p-button-danger p-button-sm p-button-sm-icon"
                      (click)="deleteSubtitle(subtitle, $event)">
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
          <ng-template #noSubtitles>
            <p class="tw-text-gray-400 tw-text-base tw-italic">
              {{ t('admin.configureMedia.noSubtitles') }}
            </p>
          </ng-template>
        </ng-template>
        <!--Source-->
        <ng-template appTabPanel [label]="t('admin.configureMedia.source')">
          <p class="tw-text-white tw-font-bold tw-text-2xl">{{ t('admin.configureMedia.source')
            }}</p>
          <p class="tw-text-base tw-font-medium tw-mt-3 tw-mb-2">{{ t('admin.configureMedia.addMovieSourceLabel') }}</p>
          <ng-container [ngSwitch]="media.movie.status">
            <div *ngSwitchCase="MediaSourceStatus.PENDING">
              <app-file-upload accept=".mp4, .mkv, .webm, .m2ts" [label]="t('admin.addMediaSource.chooseFile')"
                [disabled]="isUploadingSource" [desciption]="t('admin.configureMedia.addMovieSourceDescription')"
                styleClass="tw-max-w-xl tw-h-40 tw-mx-auto" ariaLabel="Upload movie source"
                (fileChange)="uploadSource($event)">
              </app-file-upload>
            </div>
            <div *ngSwitchCase="MediaSourceStatus.PROCESSING" class="tw-text-center">
              <i class="ms ms-hourglass-empty tw-text-5xl"></i>
              <p class="tw-text-lg tw-mt-2">{{ t('admin.media.statusProcessingDescription') }}</p>
            </div>
            <ng-container *ngSwitchCase="MediaSourceStatus.READY">
              <div class="tw-flex tw-mb-4">
                <p class="tw-text-base">{{ t('admin.media.statusReadyDescription') }}</p>
                <div class="tw-ml-auto">
                  <ng-container *ngIf="!showMoviePlayer; then sourcePreviewButton"></ng-container>
                </div>
              </div>
              <ng-container *ngIf="showMoviePlayer; then sourcePreview"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="MediaSourceStatus.DONE">
              <div class="tw-flex tw-mb-4">
                <p class="tw-text-base">{{ t('admin.media.statusDoneDescription') }}</p>
                <div class="tw-ml-auto">
                  <ng-container *ngIf="!showMoviePlayer; then sourcePreviewButton"></ng-container>
                  <button pButton role=" dialog" type="button" class="p-button-danger p-button-outlined tw-ml-2"
                    [label]="t('admin.configureMedia.deleteSource')" (click)="deleteSource($event)">
                  </button>
                </div>
              </div>
              <ng-container *ngIf="showMoviePlayer; then sourcePreview"></ng-container>
            </ng-container>
          </ng-container>
          <ng-template #sourcePreviewButton>
            <button *ngIf="!showMoviePlayer" pButton type="button" class="p-button-secondary"
              [label]="t('admin.configureMedia.previewSource')" (click)="showSourcePreview()">
            </button>
          </ng-template>
          <ng-template #sourcePreview>
            <app-video-player [source]="previewSource"></app-video-player>
          </ng-template>
          <p class="tw-text-base tw-font-medium tw-mt-4 tw-mb-2">{{ t('admin.configureMedia.addMovieSourceAltLabel') }}
          </p>
          <app-add-ext-streams (onSelect)="updateExtStreams($event)"></app-add-ext-streams>
        </ng-template>
      </ng-container>
      <ng-template #isTV>
        <!--Episodes-->
        <ng-template appTabPanel [label]="t('admin.configureMedia.episodes')">
          <p class="tw-text-white tw-font-bold tw-text-2xl">{{ t('admin.configureMedia.episodes')
            }}</p>
          <div class="tw-text-right tw-my-3">
            <button pButton type="button" role="dialog" [label]="t('admin.configureMedia.addEpisode')"
              (click)="showCreateEpisodeDialog()">
            </button>
          </div>
          <ng-container *ngIf="episodes && episodes.length; else noEpisodes">
            <p-table styleClass="p-datatable-sm tw-bg-neutral-875 tw-p-4 tw-rounded-md" [value]="episodes"
              responsiveLayout="scroll" [rowTrackBy]="trackId" [rowHover]="true" [loading]="loadingEpisodes">
              <ng-template pTemplate="header">
                <tr>
                  <th class="tw-w-20" pSortableColumn="episodeNumber">
                    {{ t('admin.episode.episodeNumber') }} <p-sortIcon field="episodeNumber"></p-sortIcon>
                  </th>
                  <th class="tw-w-80" pSortableColumn="name">
                    {{ t('admin.episode.name') }} <p-sortIcon field="name"></p-sortIcon>
                  </th>
                  <th class="tw-w-32" pSortableColumn="runtime">
                    {{ t('admin.episode.runtime') }} <p-sortIcon field="runtime"></p-sortIcon>
                  </th>
                  <th class="tw-w-40" pSortableColumn="airDate">
                    {{ t('admin.episode.airDate') }} <p-sortIcon field="airDate"></p-sortIcon>
                  </th>
                  <th class="tw-w-24" pSortableColumn="status">
                    {{ t('admin.episode.status') }} <p-sortIcon field="status"></p-sortIcon>
                  </th>
                  <th class="tw-w-32"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-episode>
                <tr>
                  <td class="tw-w-20">{{ episode.episodeNumber }}</td>
                  <td class="tw-w-80">
                    <div class="tw-flex">
                      <div class="tw-w-24 tw-flex-shrink-0">
                        <div class="tw-aspect-w-16 tw-aspect-h-9 tw-rounded-md tw-overflow-hidden">
                          <img *ngIf="episode.thumbnailStillUrl; else noStill" class="tw-object-cover"
                            [lazyLoad]="episode.thumbnailStillUrl" [alt]="episode.name"
                            errorImage="assets/images/episode-image-error-md.png">
                          <div *ngIf="episode.stillColor" class="ng-lazyload-placeholder tw-w-full tw-h-full"
                            [ngStyle]="{ 'background-color': episode.stillColor | rgbColor }">
                          </div>
                          <ng-template #noStill>
                            <img class="tw-rounded-md" src="assets/images/episode-image-md.png" loading="lazy"
                              [alt]="episode.name">
                          </ng-template>
                        </div>
                      </div>
                      <p class="tw-ml-2 tw-text-base tw-font-medium tw-line-clamp-4">{{ episode.name }}</p>
                    </div>
                  </td>
                  <td class="tw-w-32 tw-text-sm">{{
                    t('admin.episode.runtimeValue', { runtime: episode.runtime })
                    }}</td>
                  <td class="tw-w-40 tw-text-sm">{{ episode.airDate | shortDate }}</td>
                  <td class="tw-w-24 tw-text-sm" [ngSwitch]="episode.status">
                    <ng-container *ngSwitchCase="MediaSourceStatus.PENDING">{{ t('admin.media.statusPending') }}
                    </ng-container>
                    <ng-container *ngSwitchCase="MediaSourceStatus.PROCESSING">{{ t('admin.media.statusProcessing') }}
                    </ng-container>
                    <ng-container *ngSwitchCase="MediaSourceStatus.READY">{{ t('admin.media.statusReady') }}
                    </ng-container>
                    <ng-container *ngSwitchCase="MediaSourceStatus.DONE">{{ t('admin.media.statusDone') }}
                    </ng-container>
                    <ng-container *ngSwitchDefault>{{ t('admin.media.statusUnknown') }}</ng-container>
                  </td>
                  <td>
                    <button pButton icon="ms ms-settings"
                      class="p-button-rounded p-button-info p-button-sm p-button-sm-icon tw-mr-2"
                      (click)="showConfigureEpisodeDialog(episode)">
                    </button>
                    <button pButton icon="ms ms-more-horiz"
                      class="p-button-rounded p-button-secondary p-button-sm p-button-sm-icon"
                      (click)="toggleEpisodeMenu(episodeMenu, $event, episode)">
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="tw-text-center tw-mt-3">
              <button *ngIf="!isLoadedAllEpisodes" pButton type="button" class="p-button-secondary p-button-sm"
                [label]="t('admin.configureMedia.showAllEpisodes')" (click)="loadAllEpisodes()">
              </button>
            </div>
          </ng-container>
          <ng-template #noEpisodes>
            <p class="tw-text-gray-400 tw-text-base tw-italic">
              {{ t('admin.configureMedia.noEpisodes') }}
            </p>
          </ng-template>
        </ng-template>
      </ng-template>
    </app-vertical-tab>
    <p-confirmDialog [blockScroll]="false" key="inModal" [style]="{width: '500px'}" [baseZIndex]="1000"
      acceptButtonStyleClass="p-button-danger p-button-sm"
      rejectButtonStyleClass="p-button-text p-button-secondary p-button-sm" rejectIcon="" acceptIcon=""
      [dismissableMask]="true">
    </p-confirmDialog>
  </div>
  <p-menu #episodeMenu [popup]="true" [appendTo]="episodeMenuZone" [model]="episodeMenuItems"></p-menu>
  <div #episodeMenuZone></div>
</ng-container>
<ng-template #loadingSpinner>
  <div class="tw-flex tw-justify-center tw-items-center tw-h-full">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
