.cdk-menu {
  display: inline-flex;
  flex-direction: column;
  padding: 0.5rem 0;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 4px;
  width: 12.5rem;
  background: #2b2b2b;
  border: 0 none;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);

  >.cdk-menu-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    padding: 0.75rem 1rem;
    background-color: #2b2b2b;
    color: rgba(255, 255, 255, 0.87);

    >i:first-of-type {
      margin-right: 0.5rem;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.04);
    }

    &:focus {
      background: rgba(255, 255, 255, 0.12);
      outline: 0;
    }
  }

  >.cdk-menu-item-sm {
    padding: 0.5rem 1rem;
  }
}
