<ng-container *transloco="let t; loadingTpl: loadingMediaTpl">
  @if (loading) {
    @switch (viewMode) {
      @case (1) {
        <div class="tw-grid tw-grid-cols-2 xs:tw-grid-cols-3 md:tw-grid-cols-4 lg:tw-grid-cols-5 xl:tw-grid-cols-6">
          @for (item of skeletonArray; track item) {
            <div class="tw-px-1.5 tw-py-2">
              <div class="tw-aspect-w-2 tw-aspect-h-3 tw-mb-2">
                <app-skeleton width="100%" height="100%" shape="none" styleClass="tw-rounded-md"></app-skeleton>
              </div>
              <app-skeleton width="100%" height="20px" styleClass="tw-mb-1"></app-skeleton>
              <app-skeleton width="80%" height="20px"></app-skeleton>
            </div>
          }
        </div>
      }
    }
  } @else {
    @if (mediaList && mediaList.length) {
      @switch (viewMode) {
        @case (1) {
          <ng-container [ngTemplateOutlet]="gridMediaList"></ng-container>
        }
        @case (2) {
          <ng-container [ngTemplateOutlet]="vertMediaList"></ng-container>
        }
      }
    } @else {
      <p class="tw-text-gray-400 tw-text-center">{{ t('media.list.noResults') }}</p>
    }
    <!-- Grid list -->
    <ng-template #gridMediaList>
      <div class="tw-text-white tw-grid tw-grid-cols-2 xs:tw-grid-cols-3 md:tw-grid-cols-4 lg:tw-grid-cols-5
        xl:tw-grid-cols-6">
        @for (media of mediaList; track media._id) {
          <a class="tw-group tw-block tw-bg-transparent hover:tw-bg-neutral-725 focus-visible:tw-bg-neutral-725
            tw-transition-colors tw-duration-200 tw-rounded-sm tw-px-1.5 tw-py-2" [routerLink]="['/details', media._id]"
            [appOverlayOrigin]="overlayMediaInfo" [overlayData]="media" overlayShowDelay="500" overlayHideDelay="0"
            [overlayOffsetY]="100" overlayTriggerOn="hover" overlayTouchGestures="off">
            <!-- [appContextMenuTriggerFor]="mediaMenu" -->
            <div>
              <div class="tw-aspect-w-2 tw-aspect-h-3 tw-rounded-t-md tw-overflow-hidden">
                @if (media.thumbnailPosterUrl) {
                  <img class="tw-object-cover" [lazyLoad]="media.thumbnailPosterUrl"
                    [defaultImage]="media.posterPlaceholder | thumbhashUrl" [alt]="media.title"
                    errorImage="assets/images/media-poster-md.png">
                } @else {
                  <img class="tw-object-cover" src="assets/images/media-poster-md.png" loading="lazy"
                    [alt]="media.title">
                }
              </div>
              <p class="tw-left-0 tw-bottom-0 tw-right-0 tw-bg-indigo-700 tw-flex tw-content-between tw-py-1 tw-px-2
              tw-rounded-b-md">
                <small class="tw-text-xs tw-font-semibold">{{ media.releaseDate.year }}</small>
                <span class="tw-flex tw-items-center tw-ml-auto">
                  @if (media.type === MediaType.MOVIE) {
                    <!-- <i class="ms ms-movie ms-icon-xs"></i> -->
                    <small class="tw-text-xs tw-font-semibold tw-ml-1">{{ media.runtime * 1000 | time:{
                      format:['hours','minutes'], display:'short' } }}</small>
                  } @else {
                    @if (media.type === MediaType.TV && media.tv.pLastEpisode) {
                      <!-- <i class="ms ms-tv ms-icon-xs"></i> -->
                      <small class="tw-text-xs tw-font-semibold tw-ml-1">{{ t('media.episode.epPrefix') }} {{
                        media.tv.pLastEpisode.epNumber }}</small>
                    }
                  }
                </span>
              </p>
            </div>
            <div class="tw-flex tw-mt-2">
              <div class="tw-flex-grow tw-cursor-pointer">
                <p class="tw-text-xs sm:tw-text-sm tw-font-bold tw-line-clamp-2">{{ media.title }}</p>
              </div>
            </div>
          </a>
        }
      </div>
    </ng-template>
    <!-- Vertical list -->
    <ng-template #vertMediaList>
      <ul class="tw-list-none">
        @for (media of mediaList; track media._id) {
          <li>
            <div class="tw-group tw-flex tw-rounded-sm hover:tw-bg-neutral-800 focus-visible:tw-bg-neutral-800 tw-transition-colors
            tw-duration-200 tw-p-1">
              <a class="tw-flex tw-flex-1" [routerLink]="['/details', media._id]">
                <div class="tw-flex-grow-0 tw-flex-shrink-0 tw-basis-16">
                  <div class="tw-aspect-w-2 tw-aspect-h-3 tw-rounded-md tw-overflow-hidden">
                    @if (media.smallPosterUrl) {
                      <img class="tw-object-cover" [lazyLoad]="media.smallPosterUrl"
                        [defaultImage]="media.posterPlaceholder | thumbhashUrl" [alt]="media.title"
                        errorImage="assets/images/media-poster-md.png">
                    } @else {
                      <img class="tw-object-cover" src="assets/images/media-poster-md.png" loading="lazy"
                        [alt]="media.title">
                    }
                  </div>
                </div>
                <div class="tw-font-bold tw-px-2 tw-py-1">
                  <p class="tw-text-white tw-text-sm tw-line-clamp-2">{{ media.title }}</p>
                  <p class="tw-text-gray-400 tw-text-xs tw-mt-1">{{ media.type === MediaType.MOVIE ?
                          t('media.mediaTypes.movie') :
                        t('media.mediaTypes.tvShow') }}</p>
                  <p class="tw-text-gray-400 tw-text-xs [&>*]:tw-align-middle tw-mt-1">
                    <span>{{ media.releaseDate.year }}</span>
                    <span class="tw-mx-1 before:tw-content-dot"></span>
                    @if (media.type === MediaType.MOVIE) {
                      <span>{{ media.runtime * 1000 | time:{ format:['hours','minutes'], display:'short' } }}</span>
                    } @else {
                      @if (media.type === MediaType.TV && media.tv.pLastEpisode) {
                        <span>{{ t('media.episode.episodePrefix') }} {{ media.tv.pLastEpisode.epNumber }}</span>
                      }
                    }
                  </p>
                </div>
              </a>
              <div class="tw-ml-auto">
                <button pButton [appMenuTriggerFor]="mediaMenuTpl" [appMenuTriggerData]="{media}" icon="ms ms-more-vert"
                  type="button" aria-label="Toggle media menu" class="p-button-rounded p-button-text p-button-secondary p-button-sm p-button-sm-icon
                tw-ml-auto tw-flex-shrink-0 focus-visible:!tw-shadow-focus-box tw-invisible group-hover:tw-visible"
                  #mediaMenuButton #mediaMenuTrigger="appMenuTriggerFor"
                  (cdkMenuOpened)="onMediaMenuClick(mediaMenuButton, true)"
                  (cdkMenuClosed)="onMediaMenuClick(mediaMenuButton, false)">
                </button>
              </div>
            </div>
          </li>
        }
      </ul>
    </ng-template>
    <!-- No results -->
    <ng-template #noResults>
      <p class="tw-text-gray-400 tw-text-center">{{ t('media.list.noResults') }}</p>
    </ng-template>
  }
  <!-- Media info overlay -->
  <ng-template #overlayMediaInfo appConnectedOverlay let-media="overlayData">
    <div class="tw-p-4 tw-w-80">
      <p class="tw-text-base sm:tw-text-lg tw-font-semibold">{{ media.title }}</p>
      <div class="tw-flex tw-text-base tw-mt-2">
        <p class="[&>*]:tw-align-middle">
          <i class="ms ms-star tw-text-xl tw-text-yellow-500 -tw-mt-0.5"></i>
          <span class="tw-font-medium tw-ml-1.5">{{ media.ratingAverage }}</span>
        </p>
        <p class="[&>*]:tw-align-middle tw-ml-2">
          <i class="ms ms-visibility tw-text-xl tw-text-green-500"></i>
          <span class="tw-font-medium tw-ml-1.5">{{ media.views | number }}</span>
        </p>
      </div>
      <p class="tw-text-sm tw-line-clamp-5">{{ media.overview }}</p>
      <p class="tw-text-sm tw-mt-2">
        <span class="tw-font-light">{{ t('media.details.releaseDate') }}: </span>
        <span>{{ media.releaseDate | shortDate }}</span>
        @if (media.type === MediaType.TV) {
          <span> {{ t('media.details.releaseDateTo') }}
            @if (media.tv.lastAirDate) {
              {{ media.tv.lastAirDate | shortDate
                    }}
            } @else {
              {{ t('media.details.releaseDateToNow') }}
            }
          </span>
        }
      </p>
      @if (media.genres.length) {
        <p class="tw-text-sm">
          <span class="tw-font-light">{{ t('media.details.genres') }}: </span>
          @for (genre of media.genres; track genre._id; let first = $first; let last = $last) {
            <a class="hover:tw-underline focus-visible:tw-underline tw-font-semibold" [class.tw-ml-2]="!first"
              [routerLink]="['/list', 'genre', genre._id]">{{ genre.name }}</a>
            @if (!last) {
              <span>,</span>
            }
          }
        </p>
      }
      <div class="tw-flex tw-mt-4">
        <button type="button" role="navigation" aria-label="Play media" pButton icon="ms ms-play-arrow" iconPos="left"
          [label]="t('media.actions.play')" [routerLink]="['/watch', media._id]"
          class="p-button-shrink tw-flex-1 tw-text-lg">
        </button>
        <button type="button" role="button" aria-label="Add media to playlist" pButton icon="ms ms-playlist-add"
          class="p-button-secondary p-button-shrink tw-text-lg tw-ml-2" (click)="showAddToPlaylistDialog(media)">
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #mediaMenuTpl let-media="media">
    <div appMenu>
      <button appMenuItem (click)="showAddToPlaylistDialog(media)">
        <i class="ms ms-playlist-add"></i>
        <span>{{ t('media.playlists.addToPlaylist') }}</span>
      </button>
    </div>
  </ng-template>
  <!-- Loading media list -->
  @if (loadingMore) {
    @switch (viewMode) {
      @case (1) {
        <div class="tw-grid tw-grid-cols-2 xs:tw-grid-cols-3 md:tw-grid-cols-4 lg:tw-grid-cols-5 xl:tw-grid-cols-6">
          @for (item of skeletonArray; track item) {
            <div class="tw-px-1.5 tw-py-2">
              <div class="tw-aspect-w-2 tw-aspect-h-3 tw-mb-2">
                <app-skeleton width="100%" height="100%" shape="none" styleClass="tw-rounded-md"></app-skeleton>
              </div>
              <app-skeleton width="100%" height="20px" styleClass="tw-mb-1"></app-skeleton>
              <app-skeleton width="80%" height="20px"></app-skeleton>
            </div>
          }
        </div>
      }
    }
  }
</ng-container>
<!-- Media skeleton loading -->
<ng-template #loadingMediaTpl>
  @switch (viewMode) {
    @case (1) {
      <div class="tw-grid tw-grid-cols-2 xs:tw-grid-cols-3 md:tw-grid-cols-4 lg:tw-grid-cols-5 xl:tw-grid-cols-6">
        @for (item of skeletonArray; track item) {
          <div class="tw-px-1.5 tw-py-2">
            <div class="tw-aspect-w-2 tw-aspect-h-3 tw-mb-2">
              <app-skeleton width="100%" height="100%" shape="none" styleClass="tw-rounded-md"></app-skeleton>
            </div>
            <app-skeleton width="100%" height="20px" styleClass="tw-mb-1"></app-skeleton>
            <app-skeleton width="80%" height="20px"></app-skeleton>
          </div>
        }
      </div>
    }
  }
</ng-template>
