/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Player
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

[data-media-player] {
  aspect-ratio: 16 / 9;
}

[data-media-player]:focus,
[data-media-player]:focus-visible {
  outline: none;
}

[data-media-player][data-view-type='video'][data-started]:not([data-controls]) {
  pointer-events: auto;
  cursor: none;
}

[data-media-player] slot {
  display: contents;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Provider
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

[data-media-provider] {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  aspect-ratio: inherit;
}

[data-media-player]:not([data-view-type='audio']) [data-media-provider],
[data-media-player][data-fullscreen] [data-media-provider] {
  height: 100%;
}

[data-media-player][data-view-type='audio'] [data-media-provider] {
  display: contents;
  background-color: unset;
}

[data-media-provider] audio {
  width: 100%;
}

:where([data-media-provider] video),
:where([data-media-provider] iframe) {
  aspect-ratio: inherit;
  display: inline-block;
  height: auto;
  object-fit: contain;
  touch-action: manipulation;
  border-radius: inherit;
  width: 100%;
}

[data-media-provider] iframe {
  height: 100%;
}

[data-media-player][data-view-type='audio'] video,
[data-media-player][data-view-type='audio'] iframe {
  display: none;
}

[data-media-player][data-fullscreen] video {
  height: 100%;
}

iframe.vds-youtube[data-no-controls] {
  height: 1000%;
}

.vds-blocker {
  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;
  aspect-ratio: inherit;
  pointer-events: auto;
  z-index: 1;
}

[data-ended] .vds-blocker {
  background-color: black;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Custom
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

media-player {
  --media-font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  display: block;
  width: 100%;
  align-items: center;
  position: relative;
  contain: style;
  box-sizing: border-box;
  user-select: none;
}

media-player:not([controls]) > media-provider video {
  pointer-events: auto;
}

media-player[data-fill-screen] > media-provider video {
  object-fit: cover;
}

/* Avoid double controls on iOS when in fullscreen. */
media-player[data-ios-controls] .media-controls,
/* Hide controls if autoplay fails */
/*media-player[data-autoplay-error] .media-controls,*/
/* Hide controls while media is loading, or user is idle. */
media-player .media-controls, media-player:not([data-controls]) .media-controls {
  opacity: 0;
}

/* Show controls if paused */
media-player[data-paused] .media-controls {
  opacity: 1;
}

/* Show controls if menu is open or sliders are interactive. */
media-player[data-menu-open] .media-controls,
media-player[data-preview] .media-controls,
media-player .media-controls:has([data-media-slider][data-interactive]) {
  opacity: 1 !important;
}

/* Apply outline */
media-player [data-media-slider][data-focus] [part='track'], [data-media-button][data-focus] {
  outline: none;
  @apply tw-shadow-focus-box;
}

/* mouse or touchpad */
media-player:not([data-touch-device]) {
  /* Show controls when not idling */
  &[data-controls] .media-controls {
    opacity: 1;
  }

  /* Show controls if the container has focus visible */
  &[data-playing] .media-controls:has(:focus-visible) {
    opacity: 1;
  }
}

/* smartphones or touchscreens */
media-player[data-touch-device] {
  /* Hide controls when idling */
  &:not([data-touch-controls]) .media-controls {
    opacity: 0;
    pointer-events: none;
  }

  /* Show controls when not idling or has focus within */
  &[data-touch-controls] .media-controls {
    opacity: 1;
  }

  /* Set pointer events to none when idling */
  &:not([data-touch-controls]) [data-media-slider],
  &:not([data-touch-controls]) .media-controls button {
    pointer-events: none;
  }
}
