media-player {
  --media-aspect-ratio: 16 / 9;
  --media-font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  display: block;
}

media-player:not([controls]) > media-outlet video {
  pointer-events: auto;
}

media-player[data-fill-screen] > media-outlet video {
  object-fit: cover;
}

/* Avoid double controls on iOS when in fullscreen. */
media-player[data-ios-controls] .media-controls,
/* Hide controls if autoplay fails */
/*media-player[data-autoplay-error] .media-controls,*/
/* Hide controls while media is loading, or user is idle. */
media-player .media-controls, media-player[data-user-idle] .media-controls {
  opacity: 0;
}

/* Show controls if paused */
media-player[data-paused] .media-controls {
  opacity: 1;
}

/* Show controls if menu is open or sliders are interactive. */
media-player[data-menu-open] .media-controls,
media-player .media-controls:has([data-media-slider][data-interactive]) {
  opacity: 1 !important;
}

/* Hide mouse on fullscreen */
media-player[data-user-idle]:hover, media-player[data-fullscreen][data-user-idle] {
  cursor: none;
}

/* Apply outline */
media-player [data-media-slider][data-focus] [part='track'], [data-media-button][data-focus] {
  outline: none;
  @apply tw-shadow-focus-box;
}

/* mouse or touchpad */
media-player:not([data-touch-device]) {
  /* Hide controls when playing or not focused */
  &[data-playing]:not(:focus) .media-controls {
    opacity: 0;
  }

  /* Show controls when not idling */
  &:not([data-user-idle]):hover .media-controls {
    opacity: 1;
  }

  /* Show controls if the container has focus visible */
  &[data-playing] .media-controls:has(:focus-visible) {
    opacity: 1;
  }
}

/* smartphones or touchscreens */
media-player[data-touch-device] {
  /* Hide controls when idling */
  &[data-touch-user-idle][data-playing] .media-controls {
    opacity: 0;
    pointer-events: none;
  }

  /* Show controls when not idling or has focus within */
  &:not([data-touch-user-idle]) .media-controls {
    opacity: 1;
  }

  /* Set pointer events to none when idling */
  &[data-touch-user-idle][data-playing] [data-media-slider],
  &[data-touch-user-idle][data-playing] .media-controls button {
    pointer-events: none;
  }
}
