.media-captions {
  --overlay-padding: 1%;
  --cue-color: white;
  --cue-bg-color: rgba(0, 0, 0, 0.7);
  --cue-font-size: calc(var(--overlay-height) / 100 * 5 * var(--cue-font-size-scale, 1));
  --cue-line-height: calc(var(--cue-font-size) * 1.2);
  --cue-padding-x: calc(var(--cue-font-size) * 0.4);
  --cue-padding-y: calc(var(--cue-font-size) * 0.2);
  position: absolute;
  inset: 0;
  z-index: 1;
  contain: layout style;
  margin: var(--overlay-padding);
  font-size: var(--cue-font-size);
  font-weight: var(--cue-font-weight);
  box-sizing: border-box;
  pointer-events: none;
  user-select: none;
  word-spacing: normal;
  word-break: break-word;
  bottom: 8px;
  transition: bottom 0.15s linear;
}

.media-captions[aria-hidden='true'] {
  display: none;
}

.media-captions [data-part='cue-display'] {
  position: absolute;
  direction: ltr;
  overflow: visible;
  contain: content;
  top: var(--cue-top);
  left: var(--cue-left);
  right: var(--cue-right);
  bottom: var(--cue-bottom);
  width: var(--cue-width, auto);
  height: var(--cue-height, auto);
  transform: var(--cue-transform);
  text-align: var(--cue-text-align);
  writing-mode: var(--cue-writing-mode, unset);
  white-space: pre-line;
  unicode-bidi: plaintext;
  min-width: min-content;
  min-height: min-content;
}

.media-captions[data-dir='rtl'] [data-part='cue-display'] {
  direction: rtl;
}

.media-captions [data-part='cue'] {
  display: inline-block;
  contain: content;
  border-radius: 2px;
  padding: var(--cue-padding-y) var(--cue-padding-x);
  line-height: var(--cue-line-height);
  background-color: var(--cue-bg-color);
  color: var(--cue-color);
  white-space: pre-wrap;
  outline: var(--cue-outline);
  text-shadow: var(--cue-text-shadow);
}

.media-captions [data-part='cue-display'][data-vertical] [data-part='cue'] {
  padding: var(--cue-padding-x) var(--cue-padding-y);
}

// JASSUB
.JASSUB {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
