[data-media-slider] {
  -webkit-tap-highlight-color: transparent;
  --thumb-size: 14px;
  --thumb-focus-size: calc(var(--thumb-size) * 1.1);
  --track-width: 100%;
  --track-height: 4px;
  --track-focus-width: var(--track-width);
  --track-focus-height: calc(var(--track-height) * 1.25);
  display: flex;
  align-items: center;
  width: 100%;
  height: 16px;
  /** Prevent thumb flowing out of slider. */
  margin: 0 calc(var(--thumb-size) / 2);
}

[data-media-slider] > shadow-root {
  display: contents;
}

[data-media-slider] [part*='track'] {
  z-index: 0;
  position: absolute;
  width: var(--track-width);
  height: var(--track-height);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgb(255 255 255 / 0.3);
  border-radius: 1px;
  contain: strict;
}

[data-media-slider][data-focus] [part='track'] {
  outline-offset: var(--thumb-size);
}

[data-media-slider]:not([data-chapters])[data-interactive] [part*='track'] {
  height: var(--track-focus-height);
}

[data-media-slider] [part~='track'][part~='track-fill'] {
  z-index: 3; /** above track and track progress. */
  width: var(--slider-fill-percent);
  will-change: width;
  transform: translateY(-50%);
}

media-player[data-live] media-time-slider [part~='track'][part~='track-fill'] {
  background-color: #dc2626;
}

media-time-slider [part~='track'][part~='track-progress'] {
  z-index: 2; /** above track and track hover. */
  left: 0;
  width: var(--media-buffered-percent, 0%);
  will-change: width;
  background-color: rgb(255, 255, 255, 0.45);
}

[data-media-slider] [part='thumb-container'] {
  z-index: 2; /** above track fill. */
  position: absolute;
  top: 0;
  left: var(--slider-fill-percent);
  width: var(--thumb-size);
  height: 100%;
  transform: translateX(-50%) translateZ(0); /** re-center along x-axis. */
  will-change: left;
  pointer-events: none;
  contain: layout size style;
}

/*
[data-media-slider][data-dragging] [part='thumb-container'] {
  left: var(--slider-pointer-percent);
}
*/

[data-media-slider] [part='thumb'] {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  contain: strict;
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 9999px;
  transform: translateY(-50%) translateZ(0);
  transition: opacity 0.15s ease-in;
  pointer-events: none;
}

[data-media-slider][data-interactive] [part='thumb'] {
  opacity: 1;
  transition: opacity 0.2s ease-in;
  width: var(--thumb-focus-size);
  height: var(--thumb-focus-size);
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Preview
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

[data-media-slider] [slot='preview'] {
  display: flex;
  position: absolute;
  left: var(--preview-left);
  bottom: calc(100% + var(--media-slider-preview-gap, -2px));
  flex-direction: column;
  align-items: center;
  opacity: 0;
  background-color: var(--media-slider-preview-bg);
  border-radius: 2px;
  pointer-events: none;
  transform: translateX(-50%) translateZ(0);
  transition: opacity 0.2s ease-out;
  will-change: left, opacity;
  contain: layout paint style;
}

[data-media-slider][data-interactive] [slot='preview'] {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

[data-media-slider] media-slider-value {
  padding: 1px 10px;
  color: hsl(0, 0%, 80%);
  background-color: black;
  border-radius: 4px;
}

media-slider-video:not([data-hidden]) + media-slider-value,
media-slider-thumbnail:not([data-hidden]) + media-slider-value {
  margin-top: 8px;
}

media-player:not([data-can-play]) media-time-slider media-slider-value {
  display: none;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Custom time slider
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
media-time-slider [part*='track'] {
  top: 90% !important;
}

media-time-slider [part~='track'][part~='track-fill'], media-time-slider [part='thumb'] {
  background-color: #526ED3;
}

media-time-slider [part='thumb-container'] {
  top: 40% !important; /** this = media-time-slider track's top - 50% */
}

media-time-slider [part~='track'][part~='track-hover'] {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
}

media-time-slider:hover [part~='track'][part~='track-hover'] {
  visibility: visible;
  width: var(--slider-pointer-percent);
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Custom volume slider
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
media-volume-slider [part~='track'][part~='track-fill'], media-volume-slider [part='thumb'] {
  background-color: #fafafa;
}

media-slider-thumbnail {
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 4px;
}

media-thumbnail {
  --media-thumbnail-bg: #525252;
  /* Applies when scaling thumbnails down. */
  --media-thumbnail-max-width: 240px;
  --media-thumbnail-max-height: 240px;
}

media-slider-thumbnail[data-loading] img[part='img'], media-slider-thumbnail[aria-hidden='true'] {
  display: none;
}
