[data-media-slider] {
  --thumb-size: 14px;
  --thumb-focus-size: calc(var(--thumb-size) * 1.1);
  --track-height: 4px;
  --track-focus-height: calc(var(--track-height) * 1.25);
  display: flex;
  align-items: center;
  height: 16px;
}

[data-media-slider] > shadow-root {
  display: unset;
}

[data-media-slider] > shadow-root > [part*='track'] {
  z-index: 0;
  position: absolute;
  height: var(--track-height);
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #5a595a;
}

[data-media-slider][data-interactive] > shadow-root > [part*='track'] {
  height: var(--track-focus-height);
}

[data-media-slider] > shadow-root > [part~='track-fill'] {
  z-index: 2; /** above track and track progress. */
  transform-origin: left center;
  will-change: transform;
  transform: translateY(-50%) scaleX(var(--slider-fill-rate));
}

media-time-slider[data-media-slider] > shadow-root > [part~='track-fill'] {
  background-color: #526ED3;
}

media-volume-slider[data-media-slider] > shadow-root > [part~='track-fill'] {
  background-color: #fafafa;
}

media-time-slider > shadow-root > [part~='track-progress'] {
  z-index: 1; /** above track. */
  left: 0;
  background-color: #878787;
  transform-origin: left center;
  will-change: transform;
  transform: translateY(-50%) scaleX(min(calc(var(--media-buffered) / var(--media-duration)), 1));
}

[data-media-slider] > shadow-root > [part='thumb-container'] {
  z-index: 2; /** above track fill. */
  position: absolute;
  top: 0;
  left: var(--slider-fill-percent);
  width: var(--thumb-size);
  height: 100%;
  transform: translateX(-50%); /** re-center along x-axis. */
  will-change: left;
}

[data-media-slider][data-dragging] > shadow-root > [part='thumb-container'] {
  left: var(--slider-pointer-percent);
}

[data-media-slider] > shadow-root > [part='thumb-container'] > [part='thumb'] {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 9999px;
  background-color: #fff;
  transform: translateY(-50%);
  transition: opacity 0.15s ease-in;
}

[data-media-slider][data-interactive] [part='thumb'] {
  opacity: 1;
  transition: opacity 0.2s ease-in;
  width: var(--thumb-focus-size);
  height: var(--thumb-focus-size);
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Preview
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

[data-media-slider] [slot='preview'] {
  display: flex;
  position: absolute;
  top: var(--preview-top);
  left: var(--preview-left);
  flex-direction: column;
  align-items: center;
  opacity: 0;
  border-radius: 2px;
  pointer-events: none;
  transform: translateX(-50%);
  transition: opacity 0.2s ease-out;
  will-change: left;
}

[data-media-slider][data-interactive] [slot='preview'] {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

[data-media-slider] media-slider-value {
  padding: 1px 10px;
  color: hsl(0, 0%, 80%);
  background-color: black;
}

media-slider-video:not([data-hidden]) + media-slider-value,
media-slider-thumbnail:not([data-hidden]) + media-slider-value {
  margin-top: 8px;
}

media-player:not([data-can-play]) media-time-slider media-slider-value {
  display: none;
}
