<footer>
  <ng-container *transloco="let t">
    <div class="tw-bg-neutral-900 tw-border-t tw-border-solid tw-border-gray-800">
      <div class="tw-flex tw-flex-wrap tw-max-w-8xl tw-mx-auto tw-items-center tw-p-4 max-sm:tw-text-center">
        <div class="max-sm:tw-w-full">
          <a class="tw-inline-block" routerLink="#" aria-label="Navigate to home page">
            <img class="tw-inline-block tw-h-8" src="/assets/images/logo-sm.png" alt="Footer logo">
            <img class="tw-inline-block tw-w-52 tw-ml-2" src="/assets/images/logo-text.png" alt="Footer logo">
          </a>
          <p class="tw-mt-2 tw-text-gray-200 tw-text-sm">{{ t('homeFooter.description') }}</p>
        </div>
        <div class="tw-text-gray-400 tw-ml-auto max-sm:tw-w-full max-sm:tw-mt-2">
          <p>{{ t('homeFooter.copyright') }}</p>
          <a href="https://ko-fi.com/kam2021" target="_blank" rel="noreferrer noopener nofollow"
            class="tw-text-sm hover:tw-underline">{{ t('homeFooter.donate') }}</a>
        </div>
      </div>
    </div>
  </ng-container>
  <!--div class="tw-h-12 sm:tw-hidden"></div--> <!-- Fixed mobile bottom bar -->
</footer>
