<footer>
  <ng-container *transloco="let t">
    <div class="tw-bg-neutral-900">
      <div class="tw-max-w-8xl tw-mx-auto tw-px-4 sm:tw-px-6 lg:tw-px-8 tw-pt-8">
        <div class="tw-grid sm:tw-grid-cols-3 lg:tw-grid-cols-4">
          <div class="tw-mb-8">
            <a class="tw-inline-block" routerLink="#" aria-label="Navigate to home page">
              <img class="tw-w-52" src="/assets/images/logo-text.png" alt="Footer logo">
            </a>
            <p class="tw-mt-5 tw-text-gray-200 tw-text-sm">{{ t('homeFooter.description') }}</p>
          </div>
          <div class="tw-mb-8 tw-pl-0 sm:tw-pl-5">
            <h3
              class="tw-relative tw-mb-6 tw-mr-6 tw-pb-3 tw-text-white tw-text-2xl tw-font-semibold tw-border-b tw-border-solid tw-border-gray-800 before:tw-bg-red-600 before:tw-absolute before:tw--bottom-px before:tw-left-0 before:tw-h-px before:tw-w-36">
              {{ t('homeFooter.information') }}</h3>
            <ul class="tw-pl-0 tw-mb-0 tw-list-none" role="list">
              <li class="tw-mb-2.5 tw-text-sm tw-font-medium">
                <a class="tw-inline-block tw-text-gray-200 hover:tw-text-gray-600 tw-transition-colors"
                  routerLink="/">{{
                  t('homeFooter.aboutUs') }}
                </a>
              </li>
              <li class="tw-mb-2.5 tw-text-sm tw-font-medium">
                <a class="tw-inline-block tw-text-gray-200 hover:tw-text-gray-600 tw-transition-colors"
                  routerLink="/">{{
                  t('homeFooter.project') }}
                </a>
              </li>
              <li class="tw-mb-2.5 tw-text-sm tw-font-medium">
                <a class="tw-inline-block tw-text-gray-200 hover:tw-text-gray-600 tw-transition-colors"
                  routerLink="/">{{
                  t('homeFooter.hosting')
                  }}</a>
              </li>
              <li class="tw-mb-2.5 tw-text-sm tw-font-medium">
                <a class="tw-inline-block tw-text-gray-200 hover:tw-text-gray-600 tw-transition-colors"
                  routerLink="/">{{
                  t('homeFooter.repository') }}
                </a>
              </li>
            </ul>
          </div>
          <div class="tw-mb-8">
            <h3
              class="tw-relative tw-mb-6 tw-mr-6 tw-pb-3 tw-text-white tw-text-2xl tw-font-semibold tw-border-b tw-border-solid tw-border-gray-800 before:tw-bg-red-600 before:tw-absolute before:tw--bottom-px before:tw-left-0 before:tw-h-px before:tw-w-24">
              {{ t('homeFooter.support') }}</h3>
            <ul class="tw-pl-0 tw-mb-0 tw-list-none">
              <li class="tw-mb-2.5 tw-text-sm tw-font-medium">
                <a class="tw-inline-block tw-text-gray-200 hover:tw-text-gray-600 tw-transition-colors"
                  routerLink="/">{{
                  t('homeFooter.faq') }}</a>
              </li>
              <li class="tw-mb-2.5 tw-text-sm tw-font-medium">
                <a class="tw-inline-block tw-text-gray-200 hover:tw-text-gray-600 tw-transition-colors"
                  routerLink="/">{{
                  t('homeFooter.privacy')
                  }}</a>
              </li>
              <li class="tw-mb-2.5 tw-text-sm tw-font-medium">
                <a class="tw-inline-block tw-text-gray-200 hover:tw-text-gray-600 tw-transition-colors"
                  routerLink="/">{{
                  t('homeFooter.termOfUse') }}</a>
              </li>
              <li class="tw-mb-2.5 tw-text-sm tw-font-medium">
                <a class="tw-inline-block tw-text-gray-200 hover:tw-text-gray-600 tw-transition-colors"
                  routerLink="/">{{
                  t('homeFooter.helpCenter') }}</a>
              </li>
            </ul>
          </div>
          <div class="tw-mb-8">
            <h3
              class="tw-relative tw-mb-6 tw-mr-6 tw-pb-3 tw-text-white tw-text-2xl tw-font-semibold tw-border-b tw-border-solid tw-border-gray-800 before:tw-bg-red-600 before:tw-absolute before:tw--bottom-px before:tw-left-0 before:tw-h-px before:tw-w-24">
              {{ t('homeFooter.contact') }}</h3>
            <ul class="tw-pl-0 tw-mb-0 tw-list-none">
              <li class="tw-relative tw-text-sm tw-text-gray-200 tw-font-medium tw-mb-2">
                <span class="tw-inline-block tw-font-normal tw-mr-1">{{ t('homeFooter.address') }}: </span>{{
                t('homeFooter.addressValue') }}
              </li>
              <li class="tw-relative tw-text-sm tw-text-gray-200 tw-font-medium tw-mb-2">
                <span class="tw-inline-block tw-font-normal tw-mr-1">{{ t('homeFooter.email') }}: </span>{{
                t('homeFooter.emailValue') }}
              </li>
              <li class="tw-relative tw-text-sm tw-text-gray-200 tw-font-medium tw-mb-2">
                <span class="tw-inline-block tw-font-normal tw-mr-1">{{ t('homeFooter.phone') }}: </span>{{
                t('homeFooter.phoneValue') }}
              </li>
            </ul>
          </div>
        </div>
        <div class="tw-text-center tw-mt-14 tw-py-4 tw-border-t tw-border-solid tw-border-gray-800">
          <p class="tw-text-gray-400">{{ t('homeFooter.copyright') }}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="tw-h-12 sm:tw-hidden"></div>
</footer>
