<ng-container *transloco="let t">
  <div class="tw-max-w-lg tw-mx-auto tw-my-14 tw-bg-neutral-875 tw-rounded-md tw-overflow-hidden">
    <p-progressBar mode="indeterminate" [ngClass]="signUpForm.disabled ? 'tw-visible' : 'tw-invisible'"></p-progressBar>
    <div class="tw-px-10 tw-py-14 tw-shadow-md">
      <h3 class="tw-text-white tw-text-3xl tw-font-bold tw-text-center tw-mb-8">{{ t('auth.signUp.formHeader') }}</h3>
      <form *ngIf="!success; else signUpSuccess" [formGroup]="signUpForm" formHandler (ngSubmit)="onsignUpFormSubmit()">
        <span class="p-float-label">
          <input formControlName="username" class="tw-w-full" id="username" type="text"
            aria-describedby="username-error" pInputText controlAutofocus>
          <label for="username">{{ t('auth.signUp.username') }}</label>
        </span>
        <small id="username-error" class="p-error tw-text-xs tw-block tw-my-2"
          [invalidControl]="signUpForm.controls.username">{{ signUpForm.controls.username.errors |
          firstErrorKey:'signUp':'username' }}</small>
        <span class="p-float-label">
          <input formControlName="email" class="tw-w-full" id="email" type="text" aria-describedby="email-error"
            pInputText>
          <label for="email">{{ t('auth.signUp.email') }}</label>
        </span>
        <small id="email-error" class="p-error tw-text-xs tw-block tw-my-2"
          [invalidControl]="signUpForm.controls.email">{{ signUpForm.controls.email.errors |
          firstErrorKey:'signUp':'email' }}</small>
        <span class="p-float-label p-input-button-right">
          <input formControlName="password" class="tw-w-full" id="password" [type]="showPassword ? 'text' : 'password'"
            aria-describedby="password-error" pInputText>
          <label for="password">{{ t('auth.signUp.password') }}</label>
          <button pButton type="button" [icon]="showPassword ? 'ms ms-visibility-off' : 'ms ms-visibility'"
            class="p-button-rounded p-button-secondary p-button-text" (click)="showPassword = !showPassword">
          </button>
        </span>
        <small id="password-error" class="p-error tw-text-xs tw-block tw-my-2"
          [invalidControl]="signUpForm.controls.password">{{ signUpForm.controls.password.errors |
          firstErrorKey:'signUp':'password' }}</small>
        <label for="birthdate" class="tw-text-white tw-inline-block tw-text-base tw-font-medium tw-mb-2">{{
          t('auth.signUp.birthdate') }}</label>
        <div id="birthdate" formGroupName="birthdate" class="dropdown-group tw-flex tw-flex-wrap tw-w-full"
          aria-describedby="birthdate-error">
          <p-dropdown class="dropdown-group tw-w-full sm:tw-w-3/12" styleClass="tw-w-full" [options]="days"
            formControlName="day" [appendTo]="dropdownZone" [placeholder]="t('auth.signUp.birthdateDay')"
            scrollHeight="300px">
          </p-dropdown>
          <p-dropdown class="tw-w-full sm:tw-w-5/12 tw-pt-2 sm:tw-pt-0 sm:tw-pl-2" styleClass="tw-w-full"
            [options]="months" formControlName="month" [appendTo]="dropdownZone"
            [placeholder]="t('auth.signUp.birthdateMonth')" scrollHeight="300px">
          </p-dropdown>
          <p-dropdown class="tw-w-full sm:tw-w-4/12 tw-pt-2 sm:tw-pt-0 sm:tw-pl-2" styleClass="tw-w-full"
            [options]="years" formControlName="year" [appendTo]="dropdownZone"
            [placeholder]="t('auth.signUp.birthdateYear')" scrollHeight="300px">
          </p-dropdown>
        </div>
        <small id="birthdate-error" class="p-error tw-text-xs tw-block tw-my-2"
          [invalidControl]="signUpForm.controls.birthdate">{{ signUpForm.controls.birthdate.errors |
          firstErrorKey:'signUp':'birthdate' }}</small>
        <div class="tw-flex tw-flex-wrap-reverse tw-mt-4">
          <div class="tw-mr-auto">
            <button pButton type="button" routerLink="/sign-in" [label]="t('auth.signUp.signIn')"
              class="p-button-text tw-block" [disabled]="signUpForm.disabled"></button>
          </div>
          <div class="tw-ml-auto">
            <button pButton type="submit" [label]="t('auth.signUp.submit')"
              class="p-button tw-px-8 tw-w-full md:tw-w-auto" [disabled]="signUpForm.disabled"></button>
          </div>
        </div>
      </form>
      <ng-template #signUpSuccess>
        <div class="tw-text-center tw-text-white">
          <i class="ms ms-mail ms-opsz-xl tw-text-6xl"></i>
          <p class="tw-text-xl tw-font-medium">{{ t('auth.signUp.successMessageSummary') }}</p>
          <p>{{ t('auth.signUp.successMessageDetail') }}</p>
          <button pButton class="p-button p-button-shrink tw-px-4 tw-mt-8" icon="ms ms-send"
            [disabled]="!canResendEmail" [label]="t('auth.signUp.resendEmail')" (click)="resendEmail()">
          </button>
          <p class="tw-text-gray-400 tw-text-xs tw-mt-2 before:tw-content-['\200b']"
            [class.tw-invisible]="resendEmailTtl <= 0">{{ t('auth.signUp.resendEmailCountdown') }} {{ resendEmailTtl *
            1000 | time:['minutes','seconds']:'shortColon' }}</p>
        </div>
      </ng-template>
    </div>
  </div>
  <div #dropdownZone class="p-dropdown-xs"></div>
</ng-container>
