<ng-container *transloco="let t">
  <header>
    <nav id="navbar" class="tw-z-10 tw-bg-neutral-900 hover:tw-bg-opacity-100 tw-transition-all tw-duration-200"
      [ngClass]="{ 'tw-fixed tw-top-0 tw-left-0 tw-right-0': isFixedNavbar,
      'tw-bg-opacity-100': displayMobileSearch, 'tw-bg-opacity-60': !displayMobileSearch }">
      <div class="tw-max-w-8xl tw-mx-auto tw-px-4 sm:tw-px-6 lg:tw-px-8">
        <div class="tw-relative tw-flex tw-justify-between tw-h-14">
          <div class="tw-flex tw-items-center tw-flex-initial tw-basis-full">
            <!-- Desktop menu button -->
            <button pButton [appMenuTriggerFor]="desktopMenu" icon="ms ms-menu" type="button"
              aria-label="Toggle desktop menu"
              [ngClass]="displayMobileSearch ? 'lg:tw-inline-flex' : 'sm:tw-inline-flex'"
              class="p-button-rounded p-button-text p-button-secondary p-button-sm p-button-sm-icon tw-hidden">
            </button>
            <!-- Home page button -->
            <a routerLink="/" routerLinkActive="ms-fill" [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="displayMobileSearch ? 'tw-hidden lg:tw-block' : 'tw-block'">
              <button pButton type="button" role="navigation" icon="ms ms-home tw-text-app-primary -tw-mt-px"
                aria-label="Home page"
                class="p-button-rounded p-button-text p-button-secondary p-button-sm p-button-sm-icon">
              </button>
            </a>
            <a routerLink="/" [ngClass]="displayMobileSearch ? 'tw-hidden lg:tw-block' : 'tw-block'">
              <img height="12px" width="auto" class="tw-h-3 md:tw-h-4 tw-w-auto" src="assets/images/logo-text.png"
                alt="KamPlex">
            </a>
            <button *ngIf="displayMobileSearch" pButton type="button" icon="ms ms-arrow-back"
              aria-label="Hide mobile search"
              class="p-button-rounded p-button-text p-button-secondary p-button-sm p-button-sm-icon lg:tw-hidden"
              (click)="toggleMobileSearch()">
            </button>
            <div class="lg:tw-ml-4" [ngClass]="{ 'tw-w-full lg:tw-w-auto': displayMobileSearch }">
              <div class="tw-flex tw-items-center">
                <span class="p-input-button-left tw-w-full lg:tw-w-80"
                  [ngClass]="displayMobileSearch ? 'tw-inline-flex' : 'tw-hidden lg:tw-inline-flex tw-mr-2'">
                  <button pButton type="button" icon="ms ms-search" aria-label="Search"
                    class="p-button-rounded p-button-text p-button-secondary p-button-sm p-button-sm-icon tw-ml-0.5"
                    (click)="loadAdvancedSearch(mediaSearch.value)">
                  </button>
                  <p-autoComplete #mediaSearch [suggestions]="mediaSuggestions"
                    [placeholder]="t('homeHeader.searchPlaceholder')" [minLength]="2" [maxlength]="250"
                    (completeMethod)="loadMediaSuggestions($event.query)" field="title" dataKey="_id"
                    [completeOnFocus]="false" [showEmptyMessage]="true" scrollHeight="480px"
                    styleClass="p-autocomplete-full p-inputtext-xs p-inputtext-rounded"
                    panelStyleClass="p-autocomplete-xs" inputId="media" ariaLabel="Find media"
                    dropdownAriaLabel="Media search results" (onKeyUp)="onMediaSearchKeyUp($event, mediaSearch)">
                    <ng-template let-media pTemplate="item">
                      <a class="tw-flex" [routerLink]="['/details', media._id]">
                        <div class="tw-w-14">
                          <div class="tw-aspect-w-2 tw-aspect-h-3 tw-rounded-sm tw-overflow-hidden">
                            <img *ngIf="media.smallPosterUrl; else noPoster" class="tw-object-cover"
                              [lazyLoad]="media.smallPosterUrl" [defaultImage]="media.posterPlaceholder | thumbhashUrl"
                              [alt]="media.title" errorImage="assets/images/media-poster-sm.png">
                            <ng-template #noPoster>
                              <img class="tw-object-cover" src="assets/images/media-poster-sm.png" loading="lazy"
                                [alt]="media.title">
                            </ng-template>
                          </div>
                        </div>
                        <div class="tw-text-white tw-flex-1 tw-mx-2 tw-text-sm">
                          <p class="tw-font-bold tw-whitespace-normal tw-line-clamp-2">{{ media.title }}</p>
                          <p class="tw-text-gray-400 tw-text-xs tw-font-bold tw-mt-1">{{ media.type ===
                            MediaType.MOVIE ? t('media.mediaTypes.movie') : t('media.mediaTypes.tvShow') }}</p>
                          <div class="tw-flex tw-items-center tw-text-xs tw-text-gray-400 tw-mt-1">
                            <i class="ms ms-calendar-today ms-icon-xs tw-mr-1.5"></i>
                            <p class="tw-font-bold tw-mr-2">{{ media.releaseDate.year }}</p>
                            <i class="ms ms-schedule ms-icon-xs tw-mr-1.5"></i>
                            <p class="tw-font-bold tw-mr-2">{{ media.runtime * 1000 | time:{ display:'short' }
                              }}</p>
                          </div>
                        </div>
                      </a>
                    </ng-template>
                  </p-autoComplete>
                </span>
              </div>
            </div>
          </div>
          <div class="tw-flex tw-items-center tw-ml-auto tw-flex-shrink-0 tw-basis-auto">
            <button *ngIf="displayMobileSearch" pButton type="button" icon="ms ms-close" aria-label="Clear search input"
              class="p-button-rounded p-button-text p-button-secondary p-button-sm p-button-sm-icon lg:tw-hidden"
              (click)="clearSearchInput()" [disabled]="!mediaSearch.inputValue">
            </button>
            <button *ngIf="!displayMobileSearch" pButton type="button" icon="ms ms-search"
              aria-label="Show mobile search"
              class="p-button-rounded p-button-text p-button-secondary p-button-sm p-button-sm-icon lg:tw-hidden"
              (click)="toggleMobileSearch()">
            </button>
            <!-- Mobile menu button -->
            <button pButton (click)="toggleMobileMenu()" icon="ms ms-menu" type="button" aria-label="Toggle mobile menu"
              class="p-button-rounded p-button-text p-button-secondary p-button-sm p-button-sm-icon sm:tw-hidden"
              [ngClass]="displayMobileSearch ? 'tw-hidden lg:tw-inline-flex' : 'tw-inline-flex'">
            </button>
            <div class="tw-hidden tw-items-center" [ngClass]="displayMobileSearch ? 'lg:tw-flex' : 'sm:tw-flex'">
              <ng-container *ngIf="currentUser; else notLoggedIn">
                <a type="button" role="navigation" aria-label="User profile" class="tw-flex tw-items-center tw-rounded-full
                    tw-p-1 hover:tw-bg-neutral-650 focus-visible:tw-outline-none focus-visible:tw-shadow-focus-box
                    tw-transition-colors tw-duration-200 tw-ml-2" [routerLink]="['/users', currentUser._id]">
                  <ng-container *ngTemplateOutlet="userButton; context: { currentUser }"></ng-container>
                </a>
                <button pButton type="button" icon="ms ms-more-vert" aria-label="User menu"
                  [appMenuTriggerFor]="userMenu"
                  class="p-button-rounded p-button-text p-button-secondary p-button-sm p-button-sm-icon tw-ml-2">
                </button>
                <ng-template #userMenu>
                  <div appMenu>
                    <a appMenuItem [routerLink]="['/users', currentUser._id]">
                      <i class="ms ms-person"></i>
                      <span>{{ t('homeHeader.profile') }}</span>
                    </a>
                    <a appMenuItem routerLink="/users/settings">
                      <i class="ms ms-settings"></i>
                      <span>{{ t('homeHeader.settings') }}</span>
                    </a>
                    <ng-container *ngIf="currentUser | isGranted:UserPermission.MANAGE_MEDIA">
                      <a appMenuItem routerLink="/admin/media">
                        <i class="ms ms-shield-person"></i>
                        <span>{{ t('homeHeader.adminPanel') }}</span>
                      </a>
                    </ng-container>
                    <div class="tw-divider tw-my-2"></div>
                    <button appMenuItem (click)="onSignOut()">
                      <i class="ms ms-logout"></i>
                      <span>{{ t('homeHeader.signOut') }}</span>
                    </button>
                  </div>
                </ng-template>
              </ng-container>
              <ng-template #notLoggedIn>
                <a routerLink="/sign-in" routerLinkActive="before:tw-bg-white" class="tw-nav-item">{{
                  t('homeHeader.signIn') }}</a>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div #menuZone></div>
    <ng-template #desktopMenu>
      <div appMenu class="[&>*]:tw-font-medium">
        <a appMenuItem routerLink="/">{{ t('homeHeader.home') }}</a>
        <a appMenuItem routerLink="/search">{{ t('homeHeader.search') }}</a>
        <a appMenuItem routerLink="/list/movie">{{ t('homeHeader.movies') }}</a>
        <a appMenuItem routerLink="/list/tv">{{ t('homeHeader.tvShows') }}</a>
        <button appMenuItem [appMenuTriggerFor]="desktopGenresMenu">
          <span>{{ t('homeHeader.genres') }}</span>
          <i class="ms ms-navigate-next tw-ml-auto"></i>
        </button>
        <a appMenuItem routerLink="/list/added">{{ t('homeHeader.added') }}</a>
        <a appMenuItem routerLink="/list/newReleases">{{ t('homeHeader.newReleases') }}</a>
        <a appMenuItem routerLink="/list/updated">{{ t('homeHeader.updated') }}</a>
        <a appMenuItem routerLink="/list/mostViewed">{{ t('homeHeader.mostViewed') }}</a>
        <a appMenuItem routerLink="/list/topRated">{{ t('homeHeader.topRated') }}</a>
      </div>
    </ng-template>
    <ng-template #desktopGenresMenu>
      <div appMenu class="p-scrollbar tw-flex-wrap tw-flex-row tw-w-[38rem] tw-max-h-96 tw-overflow-y-auto"
        infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollDisabled]="!genreList?.hasNextPage"
        [scrollWindow]="false" (scrolled)="onScroll()">
        <ng-container *ngIf="!loadingGenres && genreList; else loadingGenresTpl">
          <a *ngFor="let genre of genreList.results; trackBy: track_Id"
            class="cdk-menu-item-sm !tw-block tw-w-1/4 tw-text-sm tw-truncate" appMenuItem
            [routerLink]="['/list', 'genre', genre._id]">{{ genre.name }}</a>
        </ng-container>
        <ng-container *ngIf="loadingMoreGenres; then loadingGenresTpl"></ng-container>
      </div>
      <ng-template #loadingGenresTpl>
        <div class="tw-w-1/4 tw-px-3 tw-py-2.5" *ngFor="let item of skeletonArray">
          <app-skeleton width="100%" height="16px"></app-skeleton>
        </div>
      </ng-template>
    </ng-template>
    <div *ngIf="isFixedNavbar && navbarSpacing" class="tw-h-14"></div>
  </header>

  <!--footer class="tw-bg-neutral-900 tw-fixed tw-bottom-0 tw-left-0 tw-right-0 tw-h-12 tw-z-20 sm:tw-hidden">
    <div class="tw-flex [&>*]:!tw-h-12 [&>*]:!tw-rounded-none">
      <a class="tw-block tw-w-1/3 [&>*]:!tw-h-12" routerLink="/">
        <button pButton icon="ms ms-home" type="button" aria-label="Home page" routerLinkActive="ms-fill"
          [routerLinkActiveOptions]="{exact: true}"
          class="p-button-text p-button-plain p-button-sm p-button-sm-icon !tw-w-full">
        </button>
      </a>
      <a class="tw-block tw-w-1/3 [&>*]:!tw-h-12" routerLink="/search">
        <button pButton icon="ms ms-search" type="button" aria-label="Search" routerLinkActive="ms-fill"
          class="p-button-text p-button-plain p-button-sm p-button-sm-icon !tw-w-full">
        </button>
      </a>
      <button pButton icon="ms ms-menu" type="button" aria-label="Open menu" (click)="toggleMobileMenu()"
        class="p-button-text p-button-plain p-button-sm p-button-sm-icon !tw-w-1/3">
      </button>
    </div>
  </footer-->

  <p-sidebar #sidebar [(visible)]="displaySidebar" [blockScroll]="true" [baseZIndex]="10" position="bottom"
    styleClass="!tw-h-full" contentStyleClass="p-scrollbar [&>*>button]:tw-w-full [&>*>button]:!tw-text-left"
    contentId="sidebar-menu-content" transitionOptions="200ms cubic-bezier(0, 0, 0.2, 1)"
    (visibleChange)="onSidebarVisibleChange($event)" ariaCloseLabel="Close side menu">
    <ng-template pTemplate="header">
      <ng-container *ngIf="currentUser; else notLoggedIn">
        <a type="button" role="navigation" aria-label="User profile" class="tw-flex tw-items-center tw-rounded-md
          tw-p-1 hover:tw-bg-neutral-650 tw-transition-colors tw-duration-200 tw-w-full tw-mx-2"
          [routerLink]="['/users', currentUser._id]">
          <ng-container *ngTemplateOutlet="userButton; context: { currentUser }"></ng-container>
        </a>
      </ng-container>
      <ng-template #notLoggedIn>
        <p class="tw-font-medium tw-p-1 tw-w-full tw-mx-2">{{ t('homeHeader.notSignedIn') }}</p>
      </ng-template>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="tw-flex tw-flex-wrap [&>*]:tw-w-full [&>*]:xs:tw-w-[calc(50%-8px)] [&>*]:tw-my-1 [&>*]:xs:tw-m-1">
        <a class="tw-block" routerLink="/list/movie">
          <button role="navigation" pButton class="p-button-secondary tw-flex-wrap tw-w-full">
            <i class="ms ms-movie tw-w-full"></i>
            <p class="tw-w-full tw-mt-1">{{ t('homeHeader.movies') }}</p>
          </button>
        </a>
        <a class="tw-block" routerLink="/list/tv">
          <button role="navigation" pButton class="p-button-secondary tw-flex-wrap tw-w-full">
            <i class="ms ms-tv tw-w-full"></i>
            <p class="tw-w-full tw-mt-1">{{ t('homeHeader.tvShows') }}</p>
          </button>
        </a>
        <a class="tw-block" routerLink="/list/added">
          <button role="navigation" pButton class="p-button-secondary tw-flex-wrap tw-w-full">
            <i class="ms ms-schedule tw-w-full"></i>
            <p class="tw-w-full tw-mt-1">{{ t('homeHeader.added') }}</p>
          </button>
        </a>
        <a class="tw-block" routerLink="/list/newReleases">
          <button role="navigation" pButton class="p-button-secondary tw-flex-wrap tw-w-full">
            <i class="ms ms-new-releases tw-w-full"></i>
            <p class="tw-w-full tw-mt-1">{{ t('homeHeader.newReleases') }}</p>
          </button>
        </a>
        <a class="tw-block" routerLink="/list/updated">
          <button role="navigation" pButton class="p-button-secondary tw-flex-wrap tw-w-full">
            <i class="ms ms-update tw-w-full"></i>
            <p class="tw-w-full tw-mt-1">{{ t('homeHeader.updated') }}</p>
          </button>
        </a>
        <a class="tw-block" routerLink="/list/mostViewed">
          <button role="navigation" pButton class="p-button-secondary tw-flex-wrap tw-w-full">
            <i class="ms ms-monitoring tw-w-full"></i>
            <p class="tw-w-full tw-mt-1">{{ t('homeHeader.mostViewed') }}</p>
          </button>
        </a>
        <a class="tw-block" routerLink="/list/topRated">
          <button role="navigation" pButton class="p-button-secondary tw-flex-wrap tw-w-full">
            <i class="ms ms-stars tw-w-full"></i>
            <p class="tw-w-full tw-mt-1">{{ t('homeHeader.topRated') }}</p>
          </button>
        </a>
      </div>
      <button pButton class="p-button-secondary tw-w-full tw-text-left tw-my-1 xs:tw-m-1"
        [label]="t('homeHeader.genres')" [icon]="'ms ms-' + (displaySidebarGenres ? 'expand-less' : 'expand-more')"
        iconPos="right" (click)="displaySidebarGenres = !displaySidebarGenres">
        <i class="ms ms-sell tw-mr-2"></i>
      </button>
      <div *ngIf="displaySidebarGenres">
        <div infiniteScroll [infiniteScrollDistance]="2" class="tw-flex tw-flex-wrap"
          [infiniteScrollDisabled]="!genreList?.hasNextPage || !displaySidebarGenres" [fromRoot]="true"
          infiniteScrollContainer="#sidebar-menu-content" (scrolled)="onScroll()">
          <ng-container *ngIf="!loadingGenres && genreList; else loadingGenresTpl">
            <a *ngFor="let genre of genreList.results; trackBy: track_Id" class="tw-block tw-w-full xs:tw-w-1/2"
              [routerLink]="['/list', 'genre', genre._id]">
              <button role="navigation" pButton
                class="p-button-text p-button-secondary tw-block tw-w-full tw-text-left tw-text-sm tw-truncate"
                [label]="genre.name"></button>
            </a>
          </ng-container>
          <ng-container *ngIf="loadingMoreGenres; then loadingGenresTpl"></ng-container>
        </div>
        <ng-template #loadingGenresTpl>
          <div class="tw-px-3 tw-py-3.5 tw-w-full xs:tw-w-1/2" *ngFor="let item of skeletonArray">
            <app-skeleton width="100%" height="14.83px"></app-skeleton>
          </div>
        </ng-template>
      </div>
      <ng-container *ngIf="currentUser; else notLoggedIn">
        <a class="tw-inline-block tw-w-full tw-my-1 xs:tw-m-1" [routerLink]="['/users', currentUser._id]">
          <button role="navigation" pButton class="p-button-secondary" icon="ms ms-person"
            [label]="t('homeHeader.profile')"></button>
        </a>
        <a class="tw-inline-block tw-w-full tw-my-1 xs:tw-m-1" routerLink="/users/settings">
          <button role="navigation" pButton class="p-button-secondary" icon="ms ms-settings"
            [label]="t('homeHeader.settings')"></button>
        </a>
        <a *ngIf="currentUser | isGranted:UserPermission.MANAGE_MEDIA"
          class="tw-inline-block tw-w-full tw-my-1 xs:tw-m-1" routerLink="/admin/media">
          <button role="navigation" pButton class="p-button-secondary" icon="ms ms-shield-person"
            [label]="t('homeHeader.adminPanel')"></button>
        </a>
        <button role="button" pButton (click)="onSignOut()"
          class="p-button-secondary tw-w-full tw-text-left tw-my-1 xs:tw-m-1" icon="ms ms-logout"
          [label]="t('homeHeader.signOut')">
        </button>
      </ng-container>
      <ng-template #notLoggedIn>
        <a class="tw-inline-block tw-w-full tw-my-1 xs:tw-m-1" routerLink="/sign-in">
          <button role="navigation" pButton class="p-button-secondary" icon="ms ms-logout"
            [label]="t('homeHeader.signIn')"></button>
        </a>
      </ng-template>
      <!-- Space between footer menu and this sidebar -->
      <div class="tw-h-12"></div>
    </ng-template>
    <!--ng-template pTemplate="footer">
      <button *ngIf="currentUser; else notLoggedIn" role="button" pButton (click)="onSignOut()"
        class="p-button-sm p-button-secondary p-button-shrink tw-w-full" icon="ms ms-logout"
        [label]="t('homeHeader.signOut')"></button>
      <ng-template #notLoggedIn>
        <a class="tw-block tw-w-full" routerLink="/sign-in">
          <button role="navigation" pButton class="p-button-sm p-button-secondary p-button-shrink tw-w-full"
            icon="ms ms-logout" [label]="t('homeHeader.signIn')"></button>
        </a>
      </ng-template>
    </ng-template-->
  </p-sidebar>

  <ng-template #userButton let-currentUser="currentUser">
    <div class="tw-w-9">
      <div class="tw-aspect-w-1 tw-aspect-h-1 tw-rounded-full [&>*]:tw-rounded-full tw-overflow-hidden
        tw-flex-shrink-0">
        <img *ngIf="currentUser.smallAvatarUrl; else noAvatar" class="tw-object-cover"
          [lazyLoad]="currentUser.smallAvatarUrl" [defaultImage]="currentUser.avatarPlaceholder | thumbhashUrl"
          [alt]="currentUser.username">
        <ng-template #noAvatar>
          <app-avatar [label]="(currentUser.nickname || currentUser.username) | substring" styleClass="tw-rounded-full"
            labelStyleClass="tw-text-lg"></app-avatar>
        </ng-template>
      </div>
    </div>
    <p class="tw-text-white tw-font-medium tw-mx-2 tw-max-w-[6rem] tw-truncate">{{ currentUser.username
      }}</p>
  </ng-template>
</ng-container>
