<header>
  <ng-container *transloco="let t">
    <nav id="navbar" class="tw-z-10"
      [ngClass]="isFixedNavbar ? 'tw-fixed tw-top-0 tw-left-0 tw-right-0 tw-bg-transparent tw-transition-colors tw-duration-200' : 'tw-bg-neutral-900'">
      <div class="tw-max-w-8xl tw-mx-auto tw-px-4 sm:tw-px-6 lg:tw-px-8">
        <div class="tw-relative tw-flex tw-justify-between tw-h-14">
          <div class="tw-flex tw-items-center">
            <a routerLink="/" class="tw-block">
              <img class="tw-h-3 md:tw-h-4 tw-w-auto" src="assets/images/logo-text.png" alt="KamPlex">
            </a>
            <div class="tw-hidden sm:tw-block sm:tw-ml-8">
              <div class="tw-flex">
                <a pButton routerLink="/" class="p-button-text p-button-secondary tw-text-sm md:tw-text-base"
                  aria-current="page" [label]="t('homeHeader.home')">
                </a>
                <a pButton routerLink="/media" class="p-button-text p-button-secondary tw-text-sm md:tw-text-base"
                  [label]="t('homeHeader.movies')">
                </a>
                <a pButton routerLink="/media" class="p-button-text p-button-secondary tw-text-sm md:tw-text-base"
                  [label]="t('homeHeader.tvShows')">
                </a>
              </div>
            </div>
          </div>
          <div class="tw-hidden sm:tw-flex tw-items-center tw-pr-2 sm:tw-static sm:tw-inset-auto sm:tw-ml-6 sm:tw-pr-0">
            <a pButton routerLink="/sign-in" class="p-button-text p-button-secondary tw-text-sm md:tw-text-base"
              [label]="t('homeHeader.signIn')">
            </a>
            <a pButton routerLink="/sign-up" class="p-button-text p-button-secondary tw-text-sm md:tw-text-base"
              [label]="t('homeHeader.signUp')">
            </a>
          </div>
          <div class="tw-flex sm:tw-hidden tw-items-center sm:tw-static sm:tw-inset-auto sm:tw-ml-6 sm:tw-pr-0">
            <div class="tw-flex tw-items-center sm:tw-hidden">
              <!-- Mobile menu button-->
              <button pButton (click)="onOpenMenu()" type="button" aria-label="Toggle navbar"
                class="p-button-rounded p-button-text p-button-secondary" icon="pi pi-bars"></button>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="sm:tw-hidden" [ngClass]="isMobileMenuOpened ? 'tw-block' : 'tw-hidden'">
        <div class="tw-px-2 tw-pt-2 tw-pb-3 tw-space-y-1">
          <!-- Current: "tw-bg-gray-900 tw-text-white", Default: "tw-text-gray-300 hover:tw-bg-gray-700 hover:tw-text-white" -->
          <a pButton routerLink="/" class="p-button-text p-button-secondary tw-block"
            [label]="t('homeHeader.home')"></a>
          <a pButton routerLink="/media" class="p-button-text p-button-secondary tw-block"
            [label]="t('homeHeader.movies')"></a>
          <a pButton routerLink="/media" class="p-button-text p-button-secondary tw-block"
            [label]="t('homeHeader.tvShows')"></a>
          <a pButton routerLink="/sign-in" class="p-button-text p-button-secondary tw-block"
            [label]="t('homeHeader.signIn')"></a>
          <a pButton routerLink="/sign-up" class="p-button-text p-button-secondary tw-block"
            [label]="t('homeHeader.signUp')"></a>
        </div>
      </div>
    </nav>
  </ng-container>
</header>
