<ng-container *transloco="let t">
  <div class="tw-my-4 tw-mx-2">
    <div class="tw-text-right">
      <button *ngIf="currentUser" pButton icon="ms ms-settings"
        class="p-button-plain p-button-sm p-button-rounded p-button-text p-button-sm-icon"
        [appOverlayOrigin]="overlayRatingMenu" #trigger="appOverlayOrigin" (click)="displaySettings = !displaySettings">
      </button>
      <p-selectButton [options]="[ { icon: 'ms ms-grid-view', value: 1 }, { icon: 'ms ms-list', value: 2 } ]"
        optionLabel="label" optionValue="value" styleClass="p-button-sm tw-inline-block tw-ml-4"
        [(ngModel)]="listViewMode">
      </p-selectButton>
      <ng-template #overlayRatingMenu #op="appConnectedOverlay" appConnectedOverlay>
        <div class="tw-flex tw-items-center tw-p-4">
          <p class="tw-text-white tw-flex-shrink tw-basis-48">{{ t('users.rating.editMode') }}</p>
          <p-inputSwitch #switchEditableScore [(ngModel)]="editMode" ariaLabel="Toggle editable score" class="tw-h-7"
            styleClass="tw-ml-8"></p-inputSwitch>
        </div>
      </ng-template>
    </div>
    <ng-container *ngIf="loadingRatings; then skeletonLoading; else ratingListLoaded"></ng-container>
    <ng-template #ratingListLoaded>
      <div class="tw-mt-2" *ngIf="ratingList && ratingList.results?.length; else noRatings" infiniteScroll
        [infiniteScrollDistance]="2" [infiniteScrollDisabled]="!ratingList.hasNextPage" (scrolled)="onScroll()">
        <ng-container *ngIf="listViewMode === 1; else detailedView">
          <div class="tw-text-white tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 xl:tw-grid-cols-4 tw-my-2">
            <app-rating-card *ngFor="let rating of ratingList.results; trackBy: track_Id" [rating]="rating"
              (onAddToPlaylist)="showAddToPlaylistDialog($event)"
              (onDelete)="showDeleteRatingDialog($event)"></app-rating-card>
          </div>
        </ng-container>
        <ng-template #detailedView>
          <p-table #ratingTable styleClass="p-datatable-sm tw-bg-neutral-875 tw-p-4 tw-rounded-md"
            [value]="ratingList.results || []" responsiveLayout="stack" breakpoint="768px" [rowTrackBy]="track_Id"
            [rowHover]="true" [loading]="loadingRatings">
            <ng-template pTemplate="header">
              <tr>
                <th class="tw-w-96">{{ t('users.ratingTable.title') }}</th>
                <th class="tw-w-40">{{ t('users.ratingTable.score') }}</th>
                <th class="tw-w-36">{{ t('users.ratingTable.date') }}</th>
                <th class="tw-w-32"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rating>
              <tr>
                <td class="tw-w-96">
                  <div class="tw-flex">
                    <div class="tw-flex-shrink-0">
                      <div *ngIf="rating.media.smallPosterUrl else noPoster" class="tw-rounded-md tw-overflow-hidden">
                        <img class="tw-object-cover tw-w-12 tw-h-12" [lazyLoad]="rating.media.smallPosterUrl"
                          [lazyLoadPlaceholder]="rating.media.posterColor | rgbColor"
                          errorImage="assets/images/media-poster-sm.png" [alt]="rating.media.title">
                      </div>
                      <ng-template #noPoster>
                        <img class="tw-object-cover tw-rounded-md" src="assets/images/media-poster-sm.png"
                          loading="lazy" [alt]="rating.media.title">
                      </ng-template>
                    </div>
                    <div class="tw-ml-2">
                      <p class="tw-text-base tw-font-semibold tw-line-clamp-2">{{ rating.media.title }}</p>
                    </div>
                  </div>
                </td>
                <td class="tw-w-40 tw-text-sm">
                  <app-star-rating #starRating [maxStars]="5" [initialStars]="rating.score / 2" [size]="2"
                    [readonly]="!editMode" (ratingOutput)="onRating($event, rating, starRating)">
                  </app-star-rating>
                </td>
                <td class="tw-w-36 tw-text-sm">{{ rating.date | dateAlt:'PPpp' }}</td>
                <td class="tw-w-32">
                  <a [routerLink]="['/watch', rating.media._id]" class="tw-inline-block tw-rounded-full">
                    <button pButton icon="ms ms-play-arrow" class="p-button-rounded p-button-sm p-button-sm-icon">
                    </button>
                  </a>
                  <button pButton icon="ms ms-more-vert" [appMenuTriggerFor]="ratingMenu"
                    class="p-button-rounded p-button-secondary p-button-sm p-button-sm-icon tw-ml-2">
                  </button>
                  <ng-template #ratingMenu>
                    <div appMenu>
                      <button appMenuItem (click)="showAddToPlaylistDialog(rating.media)">
                        <i class="ms ms-playlist-add"></i>
                        <span>{{ t('media.playlists.addToPlaylist') }}</span>
                      </button>
                      <ng-container *ngIf="currentUser">
                        <button appMenuItem (click)="showDeleteRatingDialog(rating)">
                          <i class="ms ms-delete"></i>
                          <span>{{ t('media.rating.delete') }}</span>
                        </button>
                      </ng-container>
                    </div>
                  </ng-template>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-template>
      </div>
      <ng-template #noRatings>
        <p class="tw-text-gray-400 tw-text-base tw-italic">{{ t('media.rating.noRatings') }}</p>
      </ng-template>
    </ng-template>
  </div>
  <p-confirmDialog [style]="{width: '500px'}" [baseZIndex]="1000" acceptButtonStyleClass="p-button-danger p-button-sm"
    rejectButtonStyleClass="p-button-text p-button-secondary p-button-sm" rejectIcon="" acceptIcon=""
    [dismissableMask]="true">
  </p-confirmDialog>
</ng-container>
<ng-template #skeletonLoading>
  <p>Loading...</p>
</ng-template>
