<ng-container *transloco="let t">
  <h3 class="tw-text-white tw-text-2xl tw-font-bold tw-text-center">{{ t('admin.createMedia.formHeader') }}</h3>
  <app-stepper #stepper [linear]="true" headerStyleClass="tw-mx-5 tw-my-4" aria-label="Create media">
    <cdk-step [label]="t('admin.createMedia.movieStep1')" [stepControl]="createMediaForm" [completed]="!!media"
      [editable]="true" aria-label="Details">
      <ng-container *ngIf="!media; else showUpdateMediaForm">
        <form [formGroup]="createMediaForm" formHandler (ngSubmit)="onCreateMediaFormSubmit()">
          <div class="p-scrollbar tw-overflow-y-auto tw-h-[calc(90vh-14rem)] tw-px-6">
            <div class="tw-flex tw-flex-wrap">
              <div class="tw-w-full md:tw-w-1/2">
                <label for="title" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                  t('admin.createMedia.title') }}</label>
                <input formControlName="title" class="tw-w-full" id="title" type="text" aria-describedby="title-error"
                  [placeholder]="t('admin.createMedia.titlePlaceholder')" pInputText autofocus>
                <small id="title-error" class="p-error tw-text-xs tw-block tw-my-2"
                  [invalidControl]="createMediaForm.controls.title">{{ createMediaForm.controls.title.errors
                  | firstErrorKey:'createMedia':'title' }}</small>
              </div>
              <div class="tw-w-full md:tw-w-1/2 md:tw-pl-2">
                <label for="original-title" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                  t('admin.createMedia.originalTitle') }}</label>
                <input formControlName="originalTitle" class="tw-w-full" id="original-title" type="text"
                  aria-describedby="original-title-error"
                  [placeholder]="t('admin.createMedia.originalTitlePlaceholder')" pInputText>
                <small id="original-title-error" class="p-error tw-text-xs tw-block tw-my-2"
                  [invalidControl]="createMediaForm.controls.originalTitle">{{
                  createMediaForm.controls.originalTitle.errors | firstErrorKey:'createMedia':'originalTitle' }}</small>
              </div>
            </div>
            <label for="overview" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
              t('admin.createMedia.overview') }}</label>
            <textarea formControlName="overview" class="tw-w-full" id="overview" aria-describedby="overview-error"
              [placeholder]="t('admin.createMedia.overviewPlaceholder')" pInputTextarea [rows]="5"></textarea>
            <small id="overview-error" class="p-error tw-text-xs tw-block tw-my-2"
              [invalidControl]="createMediaForm.controls.overview">{{ createMediaForm.controls.overview.errors
              | firstErrorKey:'createMedia':'overview' }}</small>
            <div class="tw-flex tw-flex-wrap">
              <div class="tw-w-full sm:tw-w-1/2">
                <label for="runtime" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                  t('admin.createMedia.runtime') }}</label>
                <p-inputMask formControlName="runtime" styleClass="tw-w-full" id="runtime"
                  aria-describedby="runtime-error" mask="99:99:99" slotChar="00:00:00"
                  [placeholder]="t('admin.createMedia.runtimePlaceholder')">
                </p-inputMask>
                <small id="runtime-error" class="p-error tw-text-xs tw-block tw-my-2"
                  [invalidControl]="createMediaForm.controls.runtime">{{ createMediaForm.controls.runtime.errors
                  | firstErrorKey:'createMedia':'runtime' }}</small>
              </div>
              <div class="tw-w-full sm:tw-w-1/2 sm:tw-pl-2">
                <label for="original-language" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                  t('admin.createMedia.originalLanguage') }}</label>
                <p-dropdown id="original-language" class="tw-w-full" styleClass="tw-w-full"
                  panelStyleClass="md:tw-dropdown-cols-2 md:tw-max-w-lg p-dropdown-xs"
                  aria-describedby="original-language-error" [options]="languages" formControlName="originalLanguage"
                  appendTo="body" [placeholder]="t('admin.createMedia.originalLanguagePlaceholder')" [showClear]="true"
                  scrollHeight="300px">
                </p-dropdown>
                <small id="original-language-error" class="p-error tw-text-xs tw-block tw-my-2"
                  [invalidControl]="createMediaForm.controls.originalLanguage">{{
                  createMediaForm.controls.originalLanguage.errors | firstErrorKey:'createMedia':'originalLanguage'
                  }}</small>
              </div>
            </div>
            <ng-container
              *ngTemplateOutlet="autoCompleteInputsTpl; context: { createOrUpdateForm: createMediaForm, formAction: 'createMedia' }">
            </ng-container>
            <label for="release-date" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
              t('admin.createMedia.releaseDate') }}</label>
            <div id="release-date" formGroupName="releaseDate" class="dropdown-group tw-flex tw-flex-wrap tw-w-full"
              aria-describedby="release-date-error">
              <p-dropdown class="tw-w-full sm:tw-w-3/12" styleClass="tw-w-full" panelStyleClass="p-dropdown-xs"
                [options]="days" formControlName="day" appendTo="body" [placeholder]="t('admin.createMedia.day')"
                scrollHeight="300px">
              </p-dropdown>
              <p-dropdown class="tw-w-full sm:tw-w-5/12 tw-pt-2 sm:tw-pt-0 sm:tw-pl-2" styleClass="tw-w-full"
                panelStyleClass="p-dropdown-xs" [options]="months" formControlName="month" appendTo="body"
                [placeholder]="t('admin.createMedia.month')" scrollHeight="300px">
              </p-dropdown>
              <p-dropdown class="tw-w-full sm:tw-w-4/12 tw-pt-2 sm:tw-pt-0 sm:tw-pl-2" styleClass="tw-w-full"
                panelStyleClass="p-dropdown-xs md:tw-dropdown-cols-4 md:tw-max-w-sm" [options]="years"
                formControlName="year" appendTo="body" [placeholder]="t('admin.createMedia.year')" scrollHeight="300px">
              </p-dropdown>
            </div>
            <small id="release-date-error" class="p-error tw-text-xs tw-block tw-my-2"
              [invalidControl]="createMediaForm.controls.releaseDate">{{ createMediaForm.controls.releaseDate.errors
              | firstErrorKey:'createMedia':'releaseDate' }}</small>
            <ng-container *ngIf="createMediaForm.value.type === MediaType.TV">
              <label for="last-air-date" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                t('admin.createMedia.lastAirDate') }}</label>
              <div id="last-air-date" formGroupName="lastAirDate" class="dropdown-group tw-flex tw-flex-wrap tw-w-full"
                aria-describedby="last-air-date-error">
                <p-dropdown class="tw-w-full sm:tw-w-3/12" styleClass="tw-w-full" panelStyleClass="p-dropdown-xs"
                  [options]="days" [showClear]="true" formControlName="day" appendTo="body"
                  [placeholder]="t('admin.createMedia.day')" scrollHeight="300px">
                </p-dropdown>
                <p-dropdown class="tw-w-full sm:tw-w-5/12 tw-pt-2 sm:tw-pt-0 sm:tw-pl-2" styleClass="tw-w-full"
                  panelStyleClass="p-dropdown-xs" [options]="months" [showClear]="true" formControlName="month"
                  appendTo="body" [placeholder]="t('admin.createMedia.month')" scrollHeight="300px">
                </p-dropdown>
                <p-dropdown class="tw-w-full sm:tw-w-4/12 tw-pt-2 sm:tw-pt-0 sm:tw-pl-2" styleClass="tw-w-full"
                  panelStyleClass="p-dropdown-xs md:tw-dropdown-cols-4 md:tw-max-w-sm" [options]="years"
                  [showClear]="true" formControlName="year" appendTo="body" [placeholder]="t('admin.createMedia.year')"
                  scrollHeight="300px">
                </p-dropdown>
              </div>
              <small id="last-air-date-error" *ngIf="createMediaForm.controls.lastAirDate"
                class="p-error tw-text-xs tw-block tw-my-2" [invalidControl]="createMediaForm.controls.lastAirDate">{{
                createMediaForm.controls.lastAirDate.errors | firstErrorKey:'createMedia':'lastAirDate' }}</small>
            </ng-container>
            <div class="tw-flex tw-flex-wrap">
              <div class="tw-w-full sm:tw-w-1/3">
                <label for="visibility" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                  t('admin.createMedia.visibility') }}</label>
                <div id="visibility">
                  <p-radioButton name="visibility" [value]="1" [label]="t('admin.createMedia.visibilityPublic')"
                    formControlName="visibility" class="tw-block tw-mb-2">
                  </p-radioButton>
                  <p-radioButton name="visibility" [value]="2" [label]="t('admin.createMedia.visibilityUnlisted')"
                    formControlName="visibility" class="tw-block tw-mb-2">
                  </p-radioButton>
                  <p-radioButton name="visibility" [value]="3" [label]="t('admin.createMedia.visibilityPrivate')"
                    formControlName="visibility" class="tw-block">
                  </p-radioButton>
                </div>
              </div>
              <div class="tw-w-full sm:tw-w-1/3 sm:tw-pl-2">
                <label for="adult" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                  t('admin.createMedia.adult') }}</label>
                <div id="adult">
                  <p-radioButton name="adult" [value]="true" [label]="t('admin.createMedia.forAdult')"
                    formControlName="adult" class="tw-block tw-mb-2">
                  </p-radioButton>
                  <p-radioButton name="adult" [value]="false" [label]="t('admin.createMedia.forEveryone')"
                    formControlName="adult" class="tw-block">
                  </p-radioButton>
                </div>
              </div>
              <div class="tw-w-full sm:tw-w-1/3 sm:tw-pl-2">
                <label for="status" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                  t('admin.createMedia.status') }}</label>
                <div id="status">
                  <ng-container *ngIf="createMediaForm.value.type === MediaType.TV; else isMovie">
                    <p-radioButton name="status" value="upcoming" [label]="t('media.statusOptions.upcoming')"
                      formControlName="status" class="tw-block tw-mb-2">
                    </p-radioButton>
                    <p-radioButton name="status" value="airing" [label]="t('media.statusOptions.airing')"
                      formControlName="status" class="tw-block tw-mb-2">
                    </p-radioButton>
                    <p-radioButton name="status" value="aired" [label]="t('media.statusOptions.aired')"
                      formControlName="status" class="tw-block tw-mb-2">
                    </p-radioButton>
                  </ng-container>
                  <ng-template #isMovie>
                    <p-radioButton name="status" value="upcoming" [label]="t('media.statusOptions.upcoming')"
                      formControlName="status" class="tw-block tw-mb-2">
                    </p-radioButton>
                    <p-radioButton name="status" value="released" [label]="t('media.statusOptions.released')"
                      formControlName="status" class="tw-block">
                    </p-radioButton>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
          <div class="tw-flex tw-my-4 tw-px-7">
            <div class="tw-ml-auto">
              <button pButton type="button" [label]="t('admin.createMedia.cancel')" (click)="onCreateMediaFormCancel()"
                class="p-button-text p-button-secondary p-button-sm">
              </button>
              <button pButton type="submit" [label]="t('admin.createMedia.submit')" class="p-button-sm tw-ml-1"
                [disabled]="createMediaForm.disabled">
              </button>
            </div>
          </div>
        </form>
      </ng-container>
      <ng-template #showUpdateMediaForm>
        <form [formGroup]="updateMediaForm" formHandler (ngSubmit)="onUpdateMediaFormSubmit()">
          <div class="p-scrollbar tw-overflow-y-auto tw-h-[calc(90vh-14rem)] tw-px-6">
            <div class="tw-flex tw-flex-wrap">
              <div class="tw-w-full md:tw-w-1/2">
                <label for="title" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                  t('admin.updateMedia.title') }}</label>
                <input formControlName="title" class="tw-w-full" id="title" type="text" aria-describedby="title-error"
                  [placeholder]="t('admin.updateMedia.titlePlaceholder')" pInputText autofocus>
                <small id="title-error" class="p-error tw-text-xs tw-block tw-my-2"
                  [invalidControl]="updateMediaForm.controls.title">{{ updateMediaForm.controls.title.errors |
                  firstErrorKey:'updateMedia':'title' }}</small>
              </div>
              <div class="tw-w-full md:tw-w-1/2 md:tw-pl-2">
                <label for="original-title" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                  t('admin.updateMedia.originalTitle') }}</label>
                <input formControlName="originalTitle" class="tw-w-full" id="original-title" type="text"
                  aria-describedby="original-title-error"
                  [placeholder]="t('admin.updateMedia.originalTitlePlaceholder')" pInputText>
                <small id="original-title-error" class="p-error tw-text-xs tw-block tw-my-2"
                  [invalidControl]="updateMediaForm.controls.originalTitle">{{
                  updateMediaForm.controls.originalTitle.errors | firstErrorKey:'updateMedia':'originalTitle' }}</small>
              </div>
            </div>
            <label for="overview" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
              t('admin.updateMedia.overview') }}</label>
            <textarea formControlName="overview" class="tw-w-full" id="overview" aria-describedby="overview-error"
              [placeholder]="t('admin.updateMedia.overviewPlaceholder')" pInputTextarea [rows]="5"></textarea>
            <small id="overview-error" class="p-error tw-text-xs tw-block tw-my-2"
              [invalidControl]="updateMediaForm.controls.overview">{{ updateMediaForm.controls.overview.errors
              | firstErrorKey:'updateMedia':'overview' }}</small>
            <div class="tw-flex tw-flex-wrap">
              <div class="tw-w-full sm:tw-w-1/2">
                <label for="runtime" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                  t('admin.updateMedia.runtime') }}</label>
                <p-inputMask formControlName="runtime" styleClass="tw-w-full" id="runtime"
                  aria-describedby="runtime-error" mask="99:99:99" slotChar="00:00:00"
                  [placeholder]="t('admin.updateMedia.runtimePlaceholder')">
                </p-inputMask>
                <small id="runtime-error" class="p-error tw-text-xs tw-block tw-my-2"
                  [invalidControl]="updateMediaForm.controls.runtime">{{ updateMediaForm.controls.runtime.errors
                  | firstErrorKey:'updateMedia':'runtime' }}</small>
              </div>
              <div class="tw-w-full sm:tw-w-1/2 sm:tw-pl-2">
                <label for="original-language" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                  t('admin.updateMedia.originalLanguage') }}</label>
                <p-dropdown id="original-language" class="tw-w-full" styleClass="tw-w-full"
                  panelStyleClass="md:tw-dropdown-cols-2 md:tw-max-w-lg p-dropdown-xs"
                  aria-describedby="original-language-error" [options]="languages" formControlName="originalLanguage"
                  appendTo="body" [placeholder]="t('admin.updateMedia.originalLanguagePlaceholder')" [showClear]="true"
                  scrollHeight="300px">
                </p-dropdown>
                <small id="original-language-error" class="p-error tw-text-xs tw-block tw-my-2"
                  [invalidControl]="updateMediaForm.controls.originalLanguage">{{
                  updateMediaForm.controls.originalLanguage.errors | firstErrorKey:'updateMedia':'originalLanguage'
                  }}</small>
              </div>
            </div>
            <ng-container
              *ngTemplateOutlet="autoCompleteInputsTpl; context: { createOrUpdateForm: updateMediaForm, formAction: 'updateMedia' }">
            </ng-container>
            <label for="release-date" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
              t('admin.updateMedia.releaseDate') }}</label>
            <div id="release-date" formGroupName="releaseDate" class="dropdown-group tw-flex tw-flex-wrap tw-w-full"
              aria-describedby="release-date-error">
              <p-dropdown class="tw-w-full sm:tw-w-3/12" styleClass="tw-w-full" panelStyleClass="p-dropdown-xs"
                [options]="days" formControlName="day" appendTo="body" [placeholder]="t('admin.updateMedia.day')"
                scrollHeight="300px">
              </p-dropdown>
              <p-dropdown class="tw-w-full sm:tw-w-5/12 tw-pt-2 sm:tw-pt-0 sm:tw-pl-2" styleClass="tw-w-full"
                panelStyleClass="p-dropdown-xs" [options]="months" formControlName="month" appendTo="body"
                [placeholder]="t('admin.updateMedia.month')" scrollHeight="300px">
              </p-dropdown>
              <p-dropdown class="tw-w-full sm:tw-w-4/12 tw-pt-2 sm:tw-pt-0 sm:tw-pl-2" styleClass="tw-w-full"
                panelStyleClass="p-dropdown-xs md:tw-dropdown-cols-4 md:tw-max-w-sm" [options]="years"
                formControlName="year" appendTo="body" [placeholder]="t('admin.updateMedia.year')" scrollHeight="300px">
              </p-dropdown>
            </div>
            <small id="release-date-error" class="p-error tw-text-xs tw-block tw-my-2"
              [invalidControl]="updateMediaForm.controls.releaseDate">{{ updateMediaForm.controls.releaseDate.errors
              | firstErrorKey:'updateMedia':'releaseDate' }}</small>
            <ng-container *ngIf="createMediaForm.value.type === MediaType.TV">
              <label for="last-air-date" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                t('admin.updateMedia.lastAirDate') }}</label>
              <div id="last-air-date" formGroupName="lastAirDate" class="dropdown-group tw-flex tw-flex-wrap tw-w-full"
                aria-describedby="last-air-date-error">
                <p-dropdown class="tw-w-full sm:tw-w-3/12" styleClass="tw-w-full" panelStyleClass="p-dropdown-xs"
                  [options]="days" [showClear]="true" formControlName="day" appendTo="body"
                  [placeholder]="t('admin.updateMedia.day')" scrollHeight="300px">
                </p-dropdown>
                <p-dropdown class="tw-w-full sm:tw-w-5/12 tw-pt-2 sm:tw-pt-0 sm:tw-pl-2" styleClass="tw-w-full"
                  panelStyleClass="p-dropdown-xs" [options]="months" [showClear]="true" formControlName="month"
                  appendTo="body" [placeholder]="t('admin.updateMedia.month')" scrollHeight="300px">
                </p-dropdown>
                <p-dropdown class="tw-w-full sm:tw-w-4/12 tw-pt-2 sm:tw-pt-0 sm:tw-pl-2" styleClass="tw-w-full"
                  panelStyleClass="p-dropdown-xs md:tw-dropdown-cols-4 md:tw-max-w-sm" [options]="years"
                  [showClear]="true" formControlName="year" appendTo="body" [placeholder]="t('admin.updateMedia.year')"
                  scrollHeight="300px">
                </p-dropdown>
              </div>
              <small id="last-air-date-error" *ngIf="updateMediaForm.controls.lastAirDate"
                class="p-error tw-text-xs tw-block tw-my-2" [invalidControl]="updateMediaForm.controls.lastAirDate">{{
                updateMediaForm.controls.lastAirDate.errors | firstErrorKey:'updateMedia':'lastAirDate' }}</small>
            </ng-container>
            <div class="tw-flex tw-flex-wrap">
              <div class="tw-w-full sm:tw-w-1/3">
                <label for="visibility" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                  t('admin.updateMedia.visibility') }}</label>
                <div id="visibility">
                  <p-radioButton name="visibility" [value]="1" [label]="t('admin.updateMedia.visibilityPublic')"
                    formControlName="visibility" class="tw-block tw-mb-2">
                  </p-radioButton>
                  <p-radioButton name="visibility" [value]="2" [label]="t('admin.updateMedia.visibilityUnlisted')"
                    formControlName="visibility" class="tw-block tw-mb-2">
                  </p-radioButton>
                  <p-radioButton name="visibility" [value]="3" [label]="t('admin.updateMedia.visibilityPrivate')"
                    formControlName="visibility" class="tw-block">
                  </p-radioButton>
                </div>
              </div>
              <div class="tw-w-full sm:tw-w-1/3 sm:tw-pl-2">
                <label for="adult" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                  t('admin.updateMedia.adult') }}</label>
                <div id="adult">
                  <p-radioButton name="adult" [value]="true" [label]="t('admin.updateMedia.forAdult')"
                    formControlName="adult" class="tw-block tw-mb-2">
                  </p-radioButton>
                  <p-radioButton name="adult" [value]="false" [label]="t('admin.updateMedia.forEveryone')"
                    formControlName="adult" class="tw-block">
                  </p-radioButton>
                </div>
              </div>
              <div class="tw-w-full sm:tw-w-1/3 sm:tw-pl-2">
                <label for="status" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
                  t('admin.updateMedia.status') }}</label>
                <div id="status">
                  <ng-container *ngIf="createMediaForm.value.type === MediaType.TV; else isMovie">
                    <p-radioButton name="status" value="upcoming" [label]="t('media.statusOptions.upcoming')"
                      formControlName="status" class="tw-block tw-mb-2">
                    </p-radioButton>
                    <p-radioButton name="status" value="airing" [label]="t('media.statusOptions.airing')"
                      formControlName="status" class="tw-block tw-mb-2">
                    </p-radioButton>
                    <p-radioButton name="status" value="aired" [label]="t('media.statusOptions.aired')"
                      formControlName="status" class="tw-block tw-mb-2">
                    </p-radioButton>
                  </ng-container>
                  <ng-template #isMovie>
                    <p-radioButton name="status" value="upcoming" [label]="t('media.statusOptions.upcoming')"
                      formControlName="status" class="tw-block tw-mb-2">
                    </p-radioButton>
                    <p-radioButton name="status" value="released" [label]="t('media.statusOptions.released')"
                      formControlName="status" class="tw-block">
                    </p-radioButton>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
          <div class="tw-flex tw-my-4 tw-px-7">
            <div class="tw-ml-auto">
              <button pButton type="button" [label]="t('admin.updateMedia.cancel')" (click)="onUpdateMediaFormReset()"
                class="p-button-text p-button-secondary p-button-sm" [disabled]="updateFormChanged">
              </button>
              <button pButton type="submit" [label]="t('admin.updateMedia.submit')"
                class="p-button-success p-button-sm tw-ml-1" [disabled]="updateMediaForm.disabled">
              </button>
            </div>
          </div>
        </form>
      </ng-template>
      <ng-template #autoCompleteInputsTpl let-createOrUpdateForm="createOrUpdateForm" let-formAction="formAction">
        <div class="tw-flex max-md:tw-flex-wrap tw-my-2">
          <div class="tw-w-full md:tw-w-1/3 tw-mb-8">
            <label for="genres" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
              t('admin.' + formAction + '.genres') }}</label>
            <p-altAutoComplete #genreAC [formControl]="createOrUpdateForm.controls.genres"
              [suggestions]="genreSuggestions" (completeMethod)="loadGenreSuggestions($event.query)" field="name"
              dataKey="_id" [multiple]="true" [unique]="true" [completeOnFocus]="true" scrollHeight="300px"
              appendTo="body" styleClass="tw-w-full" panelStyleClass="p-autocomplete-xs" inputId="genres"
              ariaLabel="Find genres" dropdownAriaLabel="Genre search results">
              <ng-template let-values pTemplate="selectedItem">{{ t('admin.' + formAction + '.selectedItems', {
                itemCount: values.length }) }}</ng-template>
            </p-altAutoComplete>
          </div>
          <div class="max-md:tw-hidden tw-divider-y tw-mx-8"></div>
          <div class="tw-flex tw-flex-wrap tw-w-full md:tw-w-2/3 tw-gap-2 tw-content-center">
            <p-chip *ngFor="let genre of createOrUpdateForm.value.genres" [label]="genre.name" [removable]="true"
              styleClass="p-chip-sm tw-rounded-full"
              (onRemove)="genreAC.removeItemByObject(genre); genreAC.cd.markForCheck()"></p-chip>
          </div>
        </div>
        <div class="tw-flex max-md:tw-flex-wrap tw-my-2">
          <div class="tw-w-full md:tw-w-1/3 tw-mb-8">
            <label for="studios" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
              t('admin.' + formAction + '.studios') }}</label>
            <p-altAutoComplete #studioAC [formControl]="createOrUpdateForm.controls.studios"
              [suggestions]="productionSuggestions" (completeMethod)="loadProductionSuggestions($event.query)"
              field="name" dataKey="_id" [multiple]="true" [unique]="true" [completeOnFocus]="true" scrollHeight="300px"
              appendTo="body" styleClass="tw-w-full" panelStyleClass="p-autocomplete-xs" inputId="studios"
              ariaLabel="Find companies" dropdownAriaLabel="Studio search results">
              <ng-template let-values pTemplate="selectedItem">{{ t('admin.' + formAction + '.selectedItems', {
                itemCount: values.length }) }}</ng-template>
            </p-altAutoComplete>
          </div>
          <div class="max-md:tw-hidden tw-divider-y tw-mx-8"></div>
          <div class="tw-flex tw-flex-wrap tw-w-full md:tw-w-2/3 tw-gap-2 tw-content-center">
            <p-chip *ngFor="let studio of createOrUpdateForm.value.studios" [label]="studio.name" [removable]="true"
              styleClass="p-chip-sm tw-rounded-full"
              (onRemove)="studioAC.removeItemByObject(studio); studioAC.cd.markForCheck()"></p-chip>
          </div>
        </div>
        <div class="tw-flex max-md:tw-flex-wrap tw-my-2">
          <div class="tw-w-full md:tw-w-1/3 tw-mb-8">
            <label for="producers" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
              t('admin.' + formAction + '.producers') }}</label>
            <p-altAutoComplete #producerAC [formControl]="createOrUpdateForm.controls.producers"
              [suggestions]="productionSuggestions" (completeMethod)="loadProductionSuggestions($event.query)"
              field="name" dataKey="_id" [multiple]="true" [unique]="true" [completeOnFocus]="true" scrollHeight="300px"
              appendTo="body" styleClass="tw-w-full" panelStyleClass="p-autocomplete-xs" inputId="producers"
              ariaLabel="Find companies" dropdownAriaLabel="Producer search results">
              <ng-template let-values pTemplate="selectedItem">{{ t('admin.' + formAction + '.selectedItems', {
                itemCount: values.length }) }}</ng-template>
            </p-altAutoComplete>
          </div>
          <div class="max-md:tw-hidden tw-divider-y tw-mx-8"></div>
          <div class="tw-flex tw-flex-wrap tw-w-full md:tw-w-2/3 tw-gap-2 tw-content-center">
            <p-chip *ngFor="let producer of createOrUpdateForm.value.producers" [label]="producer.name"
              [removable]="true" styleClass="p-chip-sm tw-rounded-full"
              (onRemove)="producerAC.removeItemByObject(producer); producerAC.cd.markForCheck()"></p-chip>
          </div>
        </div>
        <div class="tw-flex max-md:tw-flex-wrap tw-my-2">
          <div class="tw-w-full md:tw-w-1/3 tw-mb-8">
            <label for="tags" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
              t('admin.' + formAction + '.tags') }}</label>
            <p-altAutoComplete #tagAC [formControl]="createOrUpdateForm.controls.tags" [suggestions]="tagSuggestions"
              (completeMethod)="loadTagSuggestions($event.query)" field="name" dataKey="_id" [multiple]="true"
              [unique]="true" [completeOnFocus]="true" scrollHeight="300px" appendTo="body" styleClass="tw-w-full"
              panelStyleClass="p-autocomplete-xs" inputId="tags" ariaLabel="Find tags"
              dropdownAriaLabel="Tag search results">
              <ng-template let-values pTemplate="selectedItem">{{ t('admin.' + formAction + '.selectedItems', {
                itemCount: values.length }) }}</ng-template>
            </p-altAutoComplete>
          </div>
          <div class="max-md:tw-hidden tw-divider-y tw-mx-8"></div>
          <div class="tw-flex tw-flex-wrap tw-w-full md:tw-w-2/3 tw-gap-2 tw-content-center">
            <p-chip *ngFor="let tag of createOrUpdateForm.value.tags" [label]="tag.name" [removable]="true"
              styleClass="p-chip-sm tw-rounded-full"
              (onRemove)="tagAC.removeItemByObject(tag); tagAC.cd.markForCheck()"></p-chip>
          </div>
        </div>
      </ng-template>
    </cdk-step>
    <ng-container *ngIf="createMediaForm.value.type === MediaType.MOVIE; else tvSteps">
      <cdk-step [label]="t('admin.createMedia.movieStep2')" [optional]="true" [editable]="true"
        aria-label="Movie elements">
        <ng-container *ngTemplateOutlet="mediaStep2Body; context: { hasMovieElement: true }"></ng-container>
        <ng-container *ngTemplateOutlet="mediaStep2Actions"></ng-container>
      </cdk-step>
      <cdk-step [label]="t('admin.createMedia.movieStep3')" [optional]="true" aria-label="Movie source">
        <div *ngIf="media" class="p-scrollbar tw-overflow-y-auto tw-h-[calc(90vh-14rem)] tw-px-6">
          <p class="tw-text-lg tw-font-medium tw-mb-2">{{ t('admin.createMedia.addMovieSourceLabel') }}</p>
          <app-file-upload accept=".mp4, .mkv, .webm, .m2ts" styleClass="tw-max-w-xl tw-h-40 tw-mx-auto"
            ariaLabel="Upload movie source" [label]="t('admin.createMedia.chooseFile')"
            [desciption]="t('admin.createMedia.addMovieSourceDescription')" [disabled]="isUploadingSource"
            (fileChange)="uploadSource($event)">
          </app-file-upload>
        </div>
        <div class="tw-flex tw-my-4 tw-px-7">
          <div class="tw-ml-auto">
            <button pButton type="button" [label]="t('admin.createMedia.previous')"
              class="p-button-text p-button-secondary p-button-sm" cdkStepperPrevious>
            </button>
            <button pButton type="submit" [label]="t('admin.createMedia.next')" class="p-button p-button-sm tw-ml-1"
              cdkStepperNext>
            </button>
          </div>
        </div>
      </cdk-step>
      <cdk-step [label]="t('admin.createMedia.movieStep4')" [optional]="true" [editable]="true" aria-label="Finish">
        <ng-container
          *ngTemplateOutlet="mediaFinalStep; context: { description: t('admin.createMedia.movieFinishDescription') }">
        </ng-container>
      </cdk-step>
    </ng-container>
    <ng-template #tvSteps>
      <cdk-step [label]="t('admin.createMedia.tvStep2')" [optional]="true" [editable]="true" aria-label="TV elements">
        <ng-container *ngTemplateOutlet="mediaStep2Body; context: { hasMovieElement: false }"></ng-container>
        <ng-container *ngTemplateOutlet="mediaStep2Actions"></ng-container>
      </cdk-step>
      <cdk-step [label]="t('admin.createMedia.tvStep3')" [optional]="true" [editable]="true" aria-label="Finish">
        <ng-container
          *ngTemplateOutlet="mediaFinalStep; context: { description: t('admin.createMedia.tvFinishDescription') }">
        </ng-container>
      </cdk-step>
    </ng-template>
    <ng-template #mediaStep2Body let-hasMovieElements="hasMovieElements">
      <div *ngIf="media" class="p-scrollbar tw-overflow-y-auto tw-h-[calc(90vh-14rem)] tw-px-6">
        <div class="tw-flex tw-items-center tw-px-8 tw-py-4 tw-bg-neutral-875 tw-rounded-md tw-shadow-sm">
          <div class="tw-w-auto">
            <p class="tw-text-lg tw-font-medium">{{ t('admin.createMedia.addPosterLabel') }}</p>
            <p class="tw-text-sm">{{ t('admin.createMedia.addPosterDescription') }}</p>
            <p *ngIf="hasPoster" class="tw-text-sm tw-mt-2 tw-flex tw-items-center">
              <i class="ms ms-cloud-done"></i>
              <span class="tw-ml-1">{{ t('admin.createMedia.posterAdded') }}</span>
            </p>
          </div>
          <app-file-upload #posterFileUpload class="tw-ml-auto" accept=".jpg, .jpeg, .png" styleClass="tw-w-48 tw-h-20"
            ariaLabel="Choose poster" [label]="t('admin.createMedia.chooseFile')" [showFilename]="false"
            (fileChange)="onInputPosterChange($event)">
          </app-file-upload>
        </div>
        <div class="tw-flex tw-items-center tw-px-8 tw-py-4 tw-bg-neutral-875 tw-rounded-md tw-shadow-sm tw-mt-2">
          <div class="tw-w-auto">
            <p class="tw-text-lg tw-font-medium">{{ t('admin.createMedia.addBackdropLabel') }}</p>
            <p class="tw-text-sm">{{ t('admin.createMedia.addBackdropDescription') }}</p>
            <p *ngIf="hasBackdrop" class="tw-text-sm tw-mt-2 tw-flex tw-items-center">
              <i class="ms ms-cloud-done"></i>
              <span class="tw-ml-1">{{ t('admin.createMedia.backdropAdded') }}</span>
            </p>
          </div>
          <app-file-upload #backdropFileUpload class="tw-ml-auto" accept=".jpg, .jpeg, .png"
            styleClass="tw-w-48 tw-h-20" ariaLabel="Choose backdrop" [label]="t('admin.createMedia.chooseFile')"
            [showFilename]="false" (fileChange)="onInputBackdropChange($event)">
          </app-file-upload>
        </div>
        <div *ngIf="hasMovieElements"
          class="tw-flex tw-items-center tw-px-8 tw-py-4 tw-bg-neutral-875 tw-rounded-md tw-shadow-sm tw-mt-2">
          <div class="tw-w-auto">
            <p class="tw-text-lg tw-font-medium">{{ t('admin.createMedia.addSubtitlesLabel') }}</p>
            <p class="tw-text-sm">{{ t('admin.createMedia.addSubtitlesDescription') }}</p>
            <p *ngIf="subtitleCount" class="tw-text-sm tw-mt-2 tw-flex tw-items-center">
              <i class="ms ms-subtitles"></i>
              <span class="tw-ml-1">{{ t('admin.createMedia.subtitlesAdded', { subtitleCount }) }}</span>
            </p>
          </div>
          <app-file-upload #subtitleFileUpload class="tw-ml-auto" accept=".vtt, .srt, .ass" styleClass="tw-w-48 tw-h-20"
            ariaLabel="Choose a subtitle to upload" [label]="t('admin.createMedia.chooseFile')" [showFilename]="false"
            (fileChange)="showAddSubtitleDialog($event)">
          </app-file-upload>
        </div>
        <div class="tw-flex tw-items-center tw-px-8 tw-py-4 tw-bg-neutral-875 tw-rounded-md tw-shadow-sm tw-mt-2">
          <div class="tw-w-auto">
            <p class="tw-text-lg tw-font-medium">{{ t('admin.createMedia.addVideosLabel') }}</p>
            <p class="tw-text-sm">{{ t('admin.createMedia.addVideosDescription') }}</p>
            <p *ngIf="videoCount" class="tw-text-sm tw-mt-2 tw-flex tw-items-center">
              <i class="ms ms-video-library"></i>
              <span class="tw-ml-1">{{ t('admin.createMedia.videosAdded', { videoCount }) }}</span>
            </p>
          </div>
          <button pButton type="button" [label]="t('admin.createMedia.addVideos')"
            class="p-button-secondary p-button-sm tw-ml-auto" (click)="showAddVideoDialog()">
          </button>
        </div>
        <div class="tw-flex tw-items-center tw-px-8 tw-py-4 tw-bg-neutral-875 tw-rounded-md tw-shadow-sm tw-mt-2">
          <div class="tw-w-auto">
            <p class="tw-text-lg tw-font-medium">{{ t('admin.createMedia.addEpisodesLabel') }}</p>
            <p class="tw-text-sm">{{ t('admin.createMedia.addEpisodesDescription') }}</p>
            <p *ngIf="episodeCount" class="tw-text-sm tw-mt-2 tw-flex tw-items-center">
              <i class="ms ms-video-library"></i>
              <span class="tw-ml-1">{{ t('admin.createMedia.episodesAdded', { episodeCount }) }}</span>
            </p>
          </div>
          <button pButton type="button" [label]="t('admin.createMedia.addEpisodes')"
            class="p-button-secondary p-button-sm tw-ml-auto" (click)="showAddEpisodeDialog()">
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template #mediaStep2Actions>
      <div class="tw-flex tw-my-4 tw-px-7">
        <div class="tw-ml-auto">
          <button pButton type="button" [label]="t('admin.createMedia.previous')"
            class="p-button-text p-button-secondary p-button-sm" cdkStepperPrevious
            [disabled]="isUpdatingPoster || isUpdatingBackdrop">
          </button>
          <button pButton type="submit" [label]="t('admin.createMedia.next')" class="p-button p-button-sm tw-ml-1"
            cdkStepperNext [disabled]="isUpdatingPoster || isUpdatingBackdrop">
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template #mediaFinalStep let-description="description">
      <div class="p-scrollbar tw-overflow-y-auto tw-h-[calc(90vh-14rem)] tw-px-6">
        <div class="tw-mx-auto tw-mt-16 tw-text-center">
          <p class="tw-text-2xl tw-font-medium tw-mb-2">{{ t('admin.createMedia.finishLabel') }}</p>
          <p class="tw-text-lg tw-mb-4">{{ description }}</p>
        </div>
      </div>
      <div class="tw-flex tw-my-4 tw-px-7">
        <div class="tw-ml-auto">
          <button pButton type="button" [label]="t('admin.createMedia.previous')"
            class="p-button-text p-button-secondary p-button-sm" cdkStepperPrevious>
          </button>
          <button pButton type="button" [label]="t('admin.createMedia.close')" class="p-button p-button-sm tw-ml-1"
            (click)="closeDialog()">
          </button>
        </div>
      </div>
    </ng-template>
  </app-stepper>
</ng-container>
