<ng-container *transloco="let t; loadingTpl: noMediaList">
  <div class="tw-relative">
    <ng-container *ngIf="mediaList?.length; else noMediaList">
      <swiper [config]="swiperConfig" [ngClass]="swiperClass || ''" (slideChange)="onSwiperSlideChange($event)">
        <ng-template swiperSlide *ngFor="let media of mediaList; trackBy: track_Id">
          <div class="tw-flex">
            <div class="tw-hidden md:tw-block tw-w-full sm:tw-w-1/6 tw-flex-shrink-0 tw-min-w-[220px]">
              <div class="tw-aspect-w-2 tw-aspect-h-3">
                <img *ngIf="media.thumbnailPosterUrl; else noPoster" class="tw-object-cover tw-h-full"
                  [lazyLoad]="media.thumbnailPosterUrl" [defaultImage]="media.posterPlaceholder | thumbhashUrl"
                  [alt]="media.title" errorImage="assets/images/media-poster-md.png">
                <ng-template #noPoster>
                  <img class="tw-object-cover tw-h-full" src="assets/images/media-poster-md.png" loading="lazy"
                    [alt]="media.title">
                </ng-template>
              </div>
            </div>
            <div class="tw-w-full md:tw-w-5/6 tw-relative tw-overflow-hidden">
              <div role="banner" aria-label="Media backdrop" *ngIf="media.thumbnailBackdropUrl"
                class="tw-absolute tw-bg-cover tw-bg-no-repeat tw-bg-center tw-brightness-40 tw-blur-md -tw-inset-4 -tw-z-1"
                [lazyLoad]="media.thumbnailBackdropUrl"
                [ngStyle]="{ 'background-color': media.backdropColor ? (media.backdropColor | rgbColor) : '#212121' }">
              </div>
              <div class="tw-mx-8 tw-my-8 md:tw-my-4">
                <div class="tw-mb-4 tw-h-16 md:tw-h-auto tw-flex tw-items-center">
                  <h2 class="tw-text-white tw-w-full tw-text-center md:tw-text-left tw-text-2xl md:tw-text-3xl tw-font-bold
                    tw-line-clamp-2 md:tw-line-clamp-1">{{ media.title }}</h2>
                </div>
                <div class="tw-mb-4 tw-h-16 md:tw-h-20 tw-flex tw-items-center">
                  <p class="tw-text-white tw-w-full tw-text-center md:tw-text-left tw-text-sm md:tw-text-base
                  tw-line-clamp-3">{{ media.overview }}</p>
                </div>
                <!--div class="tw-flex tw-justify-center md:tw-justify-start tw-items-center tw-mb-4">
                  <p-badge [value]="media.releaseDate.year + ''" styleClass="tw-text-gray-200 tw-bg-gray-500">
                  </p-badge>
                  <p-badge [value]="media.runtime + ' min'" styleClass="tw-text-gray-200 tw-bg-gray-500"
                    class="tw-ml-1.5">
                  </p-badge>
                </div-->
                <div class="tw-flex tw-flex-wrap tw-items-center tw-justify-center md:tw-justify-start
                  tw-text-gray-300 tw-text-sm md:tw-text-base tw-text-center sm:tw-text-left">
                  <i class="ms ms-calendar-today ms-icon-sm tw-mr-1.5"></i>
                  <p class="tw-font-semibold tw-mr-2">
                    <a class="hover:tw-underline focus-visible:tw-underline" tabindex="-1"
                      [routerLink]="['/list', 'year', media.releaseDate.year]">{{ media.releaseDate.year }}</a>
                  </p>
                  <i class="ms ms-schedule ms-icon-sm tw-mr-1.5"></i>
                  <p class="tw-font-semibold">{{ media.runtime * 1000 | time:{ format:['hours', 'minutes'],
                    display:'short' } }}</p>
                </div>
                <div
                  class="tw-mb-4 tw-h-12 md:tw-h-8 tw-flex tw-flex-wrap tw-items-center tw-justify-center md:tw-justify-start">
                  <i class="tw-text-gray-300 ms ms-sell ms-icon-sm tw-mr-1.5 tw-text-center sm:tw-text-left">
                  </i>
                  <p *ngIf="media.genres.length; else noGenres" class="tw-text-gray-300 tw-text-sm md:tw-text-base tw-font-semibold
                      tw-text-center sm:tw-text-left tw-space-x-2 tw-line-clamp-2 md:tw-line-clamp-1">
                    <a *ngFor="let genre of media.genres; let last = last; trackBy: track_Id"
                      class="hover:tw-underline focus-visible:tw-underline" tabindex="-1"
                      [routerLink]="['/list', 'genre', genre._id]">
                      <span>{{ genre.name }}</span>
                      <span *ngIf="!last">,</span>
                    </a>
                  </p>
                  <ng-template #noGenres>
                    <p class="tw-text-gray-400 tw-italic tw-text-sm md:tw-text-base tw-font-semibold
                      tw-text-center md:tw-text-left">{{ t('media.details.noGenres') }}</p>
                  </ng-template>
                </div>
                <div class="tw-text-center md:tw-text-left tw-mt-2">
                  <button tabindex="-1" type="button" role="navigation" aria-label="Play media" pButton
                    icon="ms ms-play-arrow" iconPos="left" [label]="t('media.actions.play')"
                    [routerLink]="['/watch', media._id]"
                    class="p-button-rounded p-button-shrink sm:tw-inline-flex tw-w-full sm:tw-w-auto tw-max-w-xs sm:tw-max-w-none not-disabled:hover:!tw-text-gray-600 tw-text-lg sm:tw-text-xl tw-mt-2 sm:tw-mt-0 tw-mx-auto sm:tw-mx-0 tw-px-8">
                  </button>
                  <button tabindex="-1" type="button" role="navigation" aria-label="View media details"
                    [routerLink]="['/details', media._id]" pButton icon="ms ms-info"
                    [label]="t('media.actions.details')"
                    class="p-button-secondary p-button-rounded p-button-shrink sm:tw-inline-flex tw-w-full sm:tw-w-auto tw-max-w-xs sm:tw-max-w-none not-disabled:hover:!tw-text-gray-600 tw-text-lg sm:tw-text-xl tw-mt-2 sm:tw-mt-0 tw-mx-auto sm:tw-mr-0 sm:tw-ml-2.5 tw-px-8">
                  </button>
                  <button tabindex="-1" type="button" role="button" aria-label="Add media to playlist" pButton
                    icon="ms ms-playlist-add" [label]="t('media.actions.playlist')"
                    class="p-button-secondary p-button-rounded p-button-shrink sm:tw-inline-flex tw-w-full sm:tw-w-auto tw-max-w-xs sm:tw-max-w-none not-disabled:hover:!tw-text-gray-600 tw-text-lg sm:tw-text-xl tw-mt-2 sm:tw-mt-0 tw-mx-auto sm:tw-mr-0 sm:tw-ml-2.5 tw-px-8"
                    (click)="showAddToPlaylistDialog(media)">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </swiper>
      <div class="tw-absolute tw-right-4 tw-bottom-4 tw-z-2">
        <button id="swiper-nav-prev" type="button" role="navigation" aria-label="Previous show" pButton
          icon="ms ms-navigate-before"
          class="p-button p-button-rounded p-button-text focus-visible:tw-shadow-focus-box">
        </button>
        <button id="swiper-nav-next" type="button" role="navigation" aria-label="Previous show" pButton
          icon="ms ms-navigate-next"
          class="p-button p-button-rounded p-button-text focus-visible:tw-shadow-focus-box tw-ml-1">
        </button>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-template #noMediaList>
  <div class="tw-bg-neutral-850 tw-overflow-hidden" [ngClass]="swiperClass || ''">
    <div class="tw-flex">
      <div class="tw-hidden md:tw-block sm:tw-w-1/6 tw-flex-shrink-0 tw-min-w-[220px]">
        <div class="tw-aspect-w-2 tw-aspect-h-3">
          <app-skeleton width="100%" height="100%" shape="none"></app-skeleton>
        </div>
      </div>
      <div class="tw-w-full md:tw-w-5/6 tw-relative tw-overflow-hidden">
        <div class="tw-mx-8 tw-my-8 md:tw-my-4">
          <div class="tw-mb-4 tw-h-16 md:tw-h-auto tw-flex">
            <app-skeleton width="35%" height="100%" class="tw-w-full tw-h-9 tw-mb-4" styleClass="tw-mx-auto md:tw-ml-0">
            </app-skeleton>
          </div>
          <div class="tw-mb-6 tw-justify-center md:tw-justify-start">
            <app-skeleton width="82%" height="16px" styleClass="tw-mx-auto md:tw-mx-0"></app-skeleton>
            <app-skeleton width="80%" height="16px" styleClass="tw-mt-1 tw-mx-auto md:tw-mx-0"></app-skeleton>
            <app-skeleton width="65%" height="16px" styleClass="tw-mt-1 tw-mx-auto md:tw-mx-0"></app-skeleton>
          </div>
          <div class="tw-mb-2 tw-h-6 tw-flex tw-flex-wrap tw-justify-center md:tw-justify-start">
            <app-skeleton width="70px" height="100%"></app-skeleton>
            <app-skeleton width="55px" height="100%" styleClass="tw-ml-2"></app-skeleton>
          </div>
          <div class="tw-mb-6 tw-h-6 tw-flex tw-flex-wrap tw-justify-center md:tw-justify-start">
            <app-skeleton></app-skeleton>
            <app-skeleton width="75px" height="100%"></app-skeleton>
            <app-skeleton width="78px" height="100%" styleClass="tw-ml-2"></app-skeleton>
            <app-skeleton width="80px" height="100%" styleClass="tw-ml-2"></app-skeleton>
          </div>
          <div class="tw-flex tw-flex-wrap tw-justify-center md:tw-justify-start">
            <app-skeleton height="51px" shape="circle" styleClass="tw-w-64 sm:tw-w-32"></app-skeleton>
            <app-skeleton height="51px" shape="circle" styleClass="tw-w-64 sm:tw-w-36 sm:tw-ml-2.5 tw-mt-2 sm:tw-mt-0">
            </app-skeleton>
            <app-skeleton height="51px" shape="circle" styleClass="tw-w-64 sm:tw-w-36 sm:tw-ml-2.5 tw-mt-2 sm:tw-mt-0">
            </app-skeleton>
          </div>
        </div>
      </div>
    </div>
    <!--div class="tw-mx-5%">
      <div class="tw-flex tw-flex-col tw-grow tw-my-20">
        <app-skeleton width="70%" height="100%" borderRadius="10px" class="tw-w-full tw-h-9 tw-mb-4"
          styleClass="tw-mx-auto md:tw-ml-0">
        </app-skeleton>
        <div class="tw-flex tw-items-center tw-mx-auto md:tw-ml-0 tw-mb-4">
          <app-skeleton width="80px" height="100%" borderRadius="10px" class="tw-w-full tw-h-6">
          </app-skeleton>
          <app-skeleton width="80px" height="100%" borderRadius="10px" class="tw-w-full tw-h-6 tw-ml-2">
          </app-skeleton>
        </div>
        <div class="tw-flex tw-h-5 tw-mx-auto md:tw-ml-0 tw-mb-4">
          <app-skeleton width="75px" height="100%" borderRadius="10px"></app-skeleton>
          <app-skeleton width="75px" height="100%" borderRadius="10px" styleClass="tw-ml-2">
          </app-skeleton>
          <app-skeleton width="75px" height="100%" borderRadius="10px" styleClass="tw-ml-2">
          </app-skeleton>
        </div>
        <div class="tw-block sm:tw-flex tw-mx-auto md:tw-ml-0 tw-mt-2">
          <app-skeleton width="auto" height="50.83px" borderRadius="1000px" styleClass="!tw-w-80 sm:!tw-w-32">
          </app-skeleton>
          <app-skeleton width="auto" height="50.83px" borderRadius="1000px"
            styleClass="!tw-w-80 sm:!tw-w-36 sm:tw-ml-2.5 tw-mt-2 sm:tw-mt-0">
          </app-skeleton>
          <app-skeleton width="auto" height="50.83px" borderRadius="1000px"
            styleClass="!tw-w-80 sm:!tw-w-36 sm:tw-ml-2.5 tw-mt-2 sm:tw-mt-0">
          </app-skeleton>
        </div>
      </div>
    </div-->
  </div>
</ng-template>
