<ng-container *transloco="let t">
  <swiper [config]="swiperConfig" *ngIf="mediaList; else noMediaList" [ngClass]="swiperClass || ''">
    <ng-template swiperSlide *ngFor="let media of mediaList; trackBy:trackId">
      <div role="banner" aria-label="Media backdrop" *ngIf="media.thumbnailBackdropUrl"
        class="tw-fixed tw-block tw-w-full tw-h-full tw-bg-cover tw-bg-no-repeat tw-bg-center tw-brightness-40 tw--z-1"
        [lazyLoad]="media.thumbnailBackdropUrl"
        [ngStyle]="{ 'background-color': media.backdropColor ? (media.backdropColor | hexColor) : '#212121' }">
      </div>
      <div class="tw-max-w-8xl tw-mx-auto">
        <div class="tw-mx-5%">
          <div class="tw-flex tw-flex-col tw-grow tw-my-20">
            <h1
              class="tw-text-white tw-text-center md:tw-text-left tw-text-3xl md:tw-text-4xl tw-font-bold tw-mb-4 tw-line-clamp-3">
              {{ media.title }}
            </h1>
            <div class="tw-justify-center md:tw-justify-start tw-flex tw-items-center tw-mb-4">
              <p-badge [value]="media.releaseDate.year + ''" styleClass="tw-text-gray-200 tw-bg-gray-500">
              </p-badge>
              <p-badge [value]="media.runtime + ' min'" styleClass="tw-text-gray-200 tw-bg-gray-500" class="tw-ml-1.5">
              </p-badge>
            </div>
            <p *ngIf="media.genres.length"
              class="tw-text-gray-300 tw-text-base md:tw-text-lg tw-font-semibold tw-text-center md:tw-text-left tw-mb-4 tw-space-x-2">
              <span *ngFor="let genre of media.genres; trackBy:trackId">
                {{ genre.name }}
              </span>
            </p>
            <div class="tw-text-center md:tw-text-left tw-mt-2">
              <button type="button" role="navigation" aria-label="Play media" pButton icon="pi pi-play" iconPos="left"
                label="Play" [routerLink]="['/watch', media._id]"
                class="p-button-rounded tw-block sm:tw-inline-flex tw-w-full sm:tw-w-auto tw-max-w-xs sm:tw-max-w-none not-disabled:hover:!tw-text-gray-600 tw-text-lg sm:tw-text-xl tw-mt-2 sm:tw-mt-0 tw-mx-auto sm:tw-mx-0 tw-px-8">
              </button>
              <button type="button" role="navigation" aria-label="View media details"
                [routerLink]="['/details', media._id]" pButton icon="pi pi-info-circle" label="Details"
                class="p-button-secondary p-button-rounded tw-block sm:tw-inline-flex tw-w-full sm:tw-w-auto tw-max-w-xs sm:tw-max-w-none not-disabled:hover:!tw-text-gray-600 tw-text-lg sm:tw-text-xl tw-mt-2 sm:tw-mt-0 tw-mx-auto sm:tw-mr-0 sm:tw-ml-2.5 tw-px-8">
              </button>
              <button type="button" role="button" aria-label="Add media to playlist" routerLink="#" disabled="true"
                pButton icon="pi pi-plus" label="Playlist"
                class="p-button-secondary p-button-rounded tw-block sm:tw-inline-flex tw-w-full sm:tw-w-auto tw-max-w-xs sm:tw-max-w-none not-disabled:hover:!tw-text-gray-600 tw-text-lg sm:tw-text-xl tw-mt-2 sm:tw-mt-0 tw-mx-auto sm:tw-mr-0 sm:tw-ml-2.5 tw-px-8">
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
  <ng-template #noMediaList>
    <div *ngIf="loading" class="tw-bg-neutral-850" [ngClass]="swiperClass || ''">
      <div class="tw-max-w-8xl tw-mx-auto">
        <div class="tw-grid tw-items-center tw-mx-5%">
          <div class="tw-flex tw-flex-col tw-grow tw-my-20">
            <p-skeleton animation="none" width="70%" height="100%" borderRadius="10px" class="tw-w-full tw-h-9 tw-mb-4"
              styleClass="tw-mx-auto md:tw-ml-0">
            </p-skeleton>
            <div class="tw-flex tw-items-center tw-mx-auto md:tw-ml-0 tw-mb-4">
              <p-skeleton animation="none" width="80px" height="100%" borderRadius="10px" class="tw-w-full tw-h-6">
              </p-skeleton>
              <p-skeleton animation="none" width="80px" height="100%" borderRadius="10px"
                class="tw-w-full tw-h-6 tw-ml-2">
              </p-skeleton>
            </div>
            <div class="tw-flex tw-h-5 tw-mx-auto md:tw-ml-0 tw-mb-4">
              <p-skeleton animation="none" width="75px" height="100%" borderRadius="10px"></p-skeleton>
              <p-skeleton animation="none" width="75px" height="100%" borderRadius="10px" styleClass="tw-ml-2">
              </p-skeleton>
              <p-skeleton animation="none" width="75px" height="100%" borderRadius="10px" styleClass="tw-ml-2">
              </p-skeleton>
            </div>
            <div class="tw-block sm:tw-flex tw-mx-auto md:tw-ml-0 tw-mt-2">
              <p-skeleton animation="none" width="auto" height="50.83px" borderRadius="1000px"
                styleClass="!tw-w-80 sm:!tw-w-32">
              </p-skeleton>
              <p-skeleton animation="none" width="auto" height="50.83px" borderRadius="1000px"
                styleClass="!tw-w-80 sm:!tw-w-36 sm:tw-ml-2.5 tw-mt-2 sm:tw-mt-0">
              </p-skeleton>
              <p-skeleton animation="none" width="auto" height="50.83px" borderRadius="1000px"
                styleClass="!tw-w-80 sm:!tw-w-36 sm:tw-ml-2.5 tw-mt-2 sm:tw-mt-0">
              </p-skeleton>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
