<ng-container *transloco="let t">
  <div class="tw-max-w-8xl tw-mx-auto tw-mb-8 2md:tw-mt-8">
    <ng-container *ngIf="media">
      <div class="tw-flex tw-flex-wrap" [ngClass]="{ '2md:tw-flex-nowrap': !fullWindow }">
        <div class="tw-w-full" [ngClass]="{ '2md:tw-w-9/12': !fullWindow }">
          <app-video-player #videoPlayer [stream]="playerStreamData" [canReqNextEp]="this.nextEpIndex > -1"
            [canReqPrevEp]="this.prevEpIndex > -1" [canFullWindow]="true"
            (onEnded)="autoNext && changeEpisode(nextEpIndex)" (requestFullWindow)="toggleFullwindow($event)"
            (requestNextEp)="changeEpisode(this.nextEpIndex)" (requestPrevEp)="changeEpisode(this.prevEpIndex)">
          </app-video-player>
          <ng-container *ngIf="media.type === MediaType.TV && streams?.episode as episode">
            <!-- <div class="tw-bg-neutral-900 tw-text-white tw-px-4 tw-py-2">
              <p class="tw-text-sm sm:tw-text-base md:tw-text-lg tw-font-bold tw-truncate tw-w-full
                2md:tw-w-auto 2md:tw-max-w-[calc(100%-320px)]">{{ t('media.episode.episodePrefix') + ' ' +
                episode.epNumber }}{{ episode.name ? ': ' + episode.name : '' }}</p>
              <div class="tw-flex tw-flex-wrap tw-ml-auto tw-w-full xs:tw-w-auto">
                <button pButton type="button" icon="ms ms-skip-previous" [label]="t('media.watch.prevEpisode')"
                  class="p-button-dark p-button-sm p-button-shrink tw-rounded-none tw-w-1/2 xs:tw-w-auto"
                  [disabled]="prevEpIndex === -1" (click)="changeEpisode(prevEpIndex)">
                </button>
                <button pButton type="button" icon="ms ms-skip-next" [label]="t('media.watch.nextEpisode')"
                  class="p-button-dark p-button-sm p-button-shrink tw-rounded-none tw-w-1/2 xs:tw-w-auto"
                  [disabled]="nextEpIndex === -1" (click)="changeEpisode(nextEpIndex)">
                </button>
                <p-toggleButton class="tw-w-full xs:tw-w-auto"
                  styleClass="p-button-sm p-togglebutton-dark p-button-shrink tw-rounded-none !tw-border-none tw-w-full xs:tw-w-auto"
                  [onIcon]="'ms ms-check-box'" offIcon="ms ms-check-box-outline-blank"
                  [onLabel]="t('media.watch.autoNextEpisode')" [offLabel]="t('media.watch.autoNextEpisode')"
                  (onChange)="autoNext = $event.checked">
                </p-toggleButton>
              </div>
            </div> -->
            <div class="tw-bg-neutral-850 tw-text-white tw-p-4 tw-rounded-b-md">
              <p class="tw-text-sm sm:tw-text-base md:tw-text-lg tw-font-bold tw-truncate">{{
                t('media.episode.episodePrefix') + ' ' + episode.epNumber }}{{ episode.name ? ': ' + episode.name : ''
                }}</p>
              <p class="tw-text-sm tw-mt-2">{{ episode.airDate | shortDate }}</p>
              <p class="tw-text-base">{{ episode.overview }}</p>
            </div>
          </ng-container>
        </div>
        <div class="tw-w-full 2md:tw-w-3/12 tw-mt-4" [ngClass]="{ '2md:tw-pl-4 2md:tw-mt-0': !fullWindow }">
          <div class="p-scrollbar tw-bg-neutral-850 tw-max-h-[600px] tw-overflow-y-auto tw-rounded-md">
            <app-episode-list *ngIf="media.type === MediaType.TV" [media]="media" [episodeList]="media.tv.episodes"
              stillStyleClass="tw-w-28 tw-flex-shrink-0" infoStyleClass="tw-w-full xs:tw-w-3/5 tw-pl-2">
            </app-episode-list>
          </div>
        </div>
      </div>
      <div class="tw-bg-neutral-850 tw-flex tw-mt-4 tw-p-4 tw-w-full 2md:tw-w-9/12 tw-rounded-md">
        <div class="tw-w-24 2md:tw-w-48">
          <div class="tw-aspect-w-2 tw-aspect-h-3 tw-rounded-md tw-overflow-hidden">
            <img *ngIf="media.thumbnailPosterUrl; else noPoster" class="tw-object-cover"
              [lazyLoad]="media.thumbnailPosterUrl" [lazyLoadPlaceholder]="media.posterColor | rgbColor"
              [alt]="media.title" errorImage="assets/images/media-poster-md.png">
            <ng-template #noPoster>
              <img class="tw-object-cover" src="assets/images/media-poster-md.png" loading="lazy" [alt]="media.title">
            </ng-template>
          </div>
        </div>
        <div class="tw-text-white tw-flex-1 tw-mx-4">
          <div class="tw-flex tw-flex-wrap">
            <div class="tw-flex-1 max-md:tw-w-full">
              <p class="tw-text-lg sm:tw-text-3xl 2md:tw-text-4xl tw-font-bold tw-leading-6">{{ media.title }}</p>
              <p *ngIf="media.originalTitle" class="tw-text-sm sm:tw-text-lg 2md:tw-text-xl tw-mt-1">{{
                media.originalTitle }}</p>
            </div>
            <div class="tw-flex-shrink-0 max-md:tw-w-full">
              <p class="tw-text-xl xs:tw-text-2xl 2md:tw-text-3xl 2md:tw-leading-6 tw-text-right [&>*]:tw-align-middle">
                <i class="ms ms-star ms-fill tw-text-3xl 2md:tw-text-4xl tw-text-yellow-500 -tw-mt-0.5"></i>
                <span class="tw-text-white tw-font-medium tw-ml-1.5">{{ ratingAverage }}</span>
                <i class="ms ms-people ms-fill tw-text-3xl 2md:tw-text-4xl tw-text-yellow-500 tw-ml-2"></i>
                <span class="tw-text-white tw-font-medium tw-ml-1.5">{{ ratingCount }}</span>
              </p>
              <ng-container *ngIf="currentUser; else notLoggedIn">
                <div class="tw-flex tw-items-center tw-justify-end tw-mt-2">
                  <app-star-rating #starRating [maxStars]="5" [size]="2.5" [disabled]="loadingRating"
                    (ratingOutput)="onRating($event)">
                  </app-star-rating>
                  <!--p class="tw-text-white tw-text-2xl tw-text-right tw-font-medium tw-w-8">{{ starRating.hoverRating * 2
                    }}</p-->
                </div>
                <p *ngIf="userRating" class="tw-text-xs tw-text-right tw-font-medium">
                  <span>{{ t('media.rating.youRated', { score: userRating.score}) }}</span>
                  <button pButton [label]="t('media.rating.clear')" [disabled]="loadingRating" (click)="deleteRating()"
                    class="p-button-link p-button-shrink tw-p-0 tw-text-xs tw-font-medium
                      tw-min-w-0 tw-ml-1 disabled:!tw-bg-transparent">
                  </button>
                </p>
              </ng-container>
              <ng-template #notLoggedIn>
                <p class="tw-text-white tw-text-base tw-text-right tw-font-medium">{{ t('media.rating.anonUsers')
                  }}</p>
              </ng-template>
            </div>
          </div>
          <div class="tw-divider tw-my-5"></div>
          <p class="tw-text-sm sm:tw-text-base tw-mt-2">{{ media.overview }}</p>
        </div>
        <!--button *ngIf="!showingMore" class="tw-text-white tw-font-medium tw-bg-neutral-675 tw-bg-opacity-90 tw-absolute tw-h-12
          tw-text-center tw-rounded-md tw-bottom-1 tw-left-1 tw-right-1 tw-transition-colors tw-duration-200 hover:tw-bg-neutral-620
          hover:tw-bg-opacity-90 focus-visible:tw-shadow-focus-box" (click)="showingMore = true">{{
          t('media.watch.showMore') }}</button-->
      </div>
    </ng-container>
  </div>
</ng-container>
