<ng-container *transloco="let t">
  <div class="tw-mb-8 2md:tw-mt-8" [ngClass]="{ 'tw-max-w-8xl tw-mx-auto': !fitWindow }">
    <div class="tw-flex tw-flex-wrap" [ngClass]="{ '2md:tw-flex-nowrap': !fitWindow }">
      <div class="tw-w-full" [ngClass]="{ '2md:tw-w-9/12': !fitWindow }">
        <app-video-player #videoPlayer [media]="media" [stream]="streams" [canReqNext]="this.nextEpIndex > -1"
          [canReqPrev]="this.prevEpIndex > -1" [canFitWindow]="canFitWindow" [ngClass]="{ '2md:tw-mx-4': !fitWindow }"
          (onEnded)="autoNext && changeEpisode(nextEpIndex)" (requestFitWindow)="toggleFitWindow($event)"
          (requestNext)="changeEpisode(this.nextEpIndex)" (requestPrev)="changeEpisode(this.prevEpIndex)">
        </app-video-player>
        <div *ngIf="media" class="tw-text-white tw-mx-4">
          <div *ngIf="media.type === MediaType.TV && streams?.episode as episode" class="tw-mt-2">
            <p class="tw-text-sm sm:tw-text-base md:tw-text-lg tw-font-bold tw-truncate">{{
              t('media.episode.episodePrefix') + ' ' + episode.epNumber }}{{ episode.name ? ': ' + episode.name : ''
              }}</p>
            <p class="tw-text-slate-400 tw-text-sm sm:tw-text-base tw-mt-1">{{ episode.overview }}</p>
          </div>
          <div class="tw-flex tw-flex-wrap tw-mt-2">
            <div class="max-md:tw-w-full">
              <p class="tw-text-base tw-font-medium">
                <ng-container *ngIf="media.type === MediaType.MOVIE; else tvEpisodeViewsTpl">
                  <span>{{ media.views | number }} {{ t('media.details.viewCount') }}</span>
                  <span class="tw-ml-2">{{ media.releaseDate | shortDate }}</span>
                </ng-container>
                <ng-template #tvEpisodeViewsTpl>
                  <ng-container *ngIf="streams?.episode as episode">
                    <span>{{ episode.views | number }} {{ t('media.details.viewCount') }}</span>
                    <span class="tw-ml-2">{{ episode.airDate | shortDate }}</span>
                  </ng-container>
                </ng-template>
              </p>
              <div class="tw-mt-4">
                <button type="button" role="button" aria-label="Share this show or episode" pButton icon="ms ms-share"
                  [label]="t('media.actions.share')" (click)="showShareMediaLinkDialog()"
                  class="p-button-secondary p-button-sm p-button-rounded p-button-shrink">
                </button>
                <button type="button" role="button" aria-label="Add media to playlist" pButton icon="ms ms-playlist-add"
                  [label]="t('media.playlists.addToPlaylistShort')" (click)="showAddToPlaylistDialog()"
                  class="p-button-secondary p-button-sm p-button-rounded p-button-shrink tw-ml-2">
                </button>
              </div>
            </div>
            <div class="tw-flex-shrink-0 max-md:tw-w-full md:tw-ml-auto">
              <p class="tw-text-xl xs:tw-text-2xl 2md:tw-text-3xl 2md:tw-leading-6 tw-text-right [&>*]:tw-align-middle">
                <i class="ms ms-star ms-fill tw-text-3xl 2md:tw-text-4xl tw-text-yellow-500 -tw-mt-0.5"></i>
                <span class="tw-text-white tw-font-medium tw-ml-1.5">{{ ratingAverage }}</span>
                <i class="ms ms-people ms-fill tw-text-3xl 2md:tw-text-4xl tw-text-yellow-500 tw-ml-2"></i>
                <span class="tw-text-white tw-font-medium tw-ml-1.5">{{ ratingCount }}</span>
              </p>
              <ng-container *ngIf="currentUser; else notLoggedIn">
                <div class="tw-flex tw-items-center tw-justify-end tw-mt-2">
                  <app-star-rating #starRating [maxStars]="5" [size]="2.5" [disabled]="loadingRating"
                    (ratingOutput)="onRating($event)">
                  </app-star-rating>
                  <!--p class="tw-text-white tw-text-2xl tw-text-right tw-font-medium tw-w-8">{{ starRating.hoverRating * 2
                      }}</p-->
                </div>
                <p *ngIf="userRating" class="tw-text-xs tw-text-right tw-font-medium">
                  <span>{{ t('media.rating.youRated', { score: userRating.score}) }}</span>
                  <button pButton [label]="t('media.rating.clear')" [disabled]="loadingRating" (click)="deleteRating()"
                    class="p-button-link p-button-shrink tw-p-0 tw-text-xs tw-font-medium
                    tw-min-w-0 tw-ml-1 disabled:!tw-bg-transparent">
                  </button>
                </p>
              </ng-container>
              <ng-template #notLoggedIn>
                <p class="tw-text-white tw-text-base tw-text-right tw-font-medium">{{ t('media.rating.anonUsers')
                  }}</p>
              </ng-template>
            </div>
          </div>
          <div class="tw-bg-neutral-850 tw-flex tw-mt-4 tw-p-4 tw-rounded-md">
            <div class="tw-w-24">
              <div class="tw-aspect-w-2 tw-aspect-h-3 tw-rounded-md tw-overflow-hidden">
                <img *ngIf="media.thumbnailPosterUrl; else noPoster" class="tw-object-cover"
                  [lazyLoad]="media.thumbnailPosterUrl" [lazyLoadPlaceholder]="media.posterColor | rgbColor"
                  [alt]="media.title" errorImage="assets/images/media-poster-md.png">
                <ng-template #noPoster>
                  <img class="tw-object-cover" src="assets/images/media-poster-md.png" loading="lazy"
                    [alt]="media.title">
                </ng-template>
              </div>
            </div>
            <div class="tw-text-white tw-flex-1 tw-mx-4">
              <div class="tw-flex tw-flex-wrap">
                <div class="tw-flex-1 max-md:tw-w-full">
                  <p class="tw-text-lg sm:tw-text-2xl tw-font-semibold tw-leading-6">{{ media.title }}</p>
                  <p *ngIf="media.originalTitle && showMoreDetails" class="tw-text-sm sm:tw-text-lg tw-mt-1">{{
                    media.originalTitle }}</p>
                </div>
              </div>
              <p class="tw-text-slate-400 tw-text-sm sm:tw-text-base tw-mt-2"
                [ngClass]="{ 'tw-line-clamp-2': !showMoreDetails }">{{ media.overview }}</p>
              <div>
                <button (click)="toggleShowMoreDetails()">
                  <ng-container *ngIf="!showMoreDetails; else showMoreDetailsTpl">{{ t('media.actions.showMore')
                    }}</ng-container>
                  <ng-template #showMoreDetailsTpl>{{ t('media.actions.showLess') }}</ng-template>
                </button>
                <a class="tw-ml-2" [routerLink]="['/details', media._id]">{{ t('media.actions.details') }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="media" class="tw-w-full 2md:tw-w-3/12 tw-mt-4" [ngClass]="{ '2md:tw-pl-4 2md:tw-mt-0': !fitWindow }">
        <div class="p-scrollbar tw-bg-neutral-850 tw-max-h-[600px] tw-overflow-y-auto tw-rounded-md">
          <app-episode-list *ngIf="media.type === MediaType.TV" [media]="media" [episodeList]="media.tv.episodes"
            stillStyleClass="tw-w-28 tw-flex-shrink-0" infoStyleClass="tw-w-full xs:tw-w-3/5 tw-pl-2">
          </app-episode-list>
        </div>
        <p [ngClass]="{ 'tw-mt-2': media.type === MediaType.TV }"
          class="tw-text-white tw-text-xl tw-font-semibold tw-mb-2">{{ t('media.list.relatedShows') }}</p>
        <app-media-list [mediaList]="relatedMediaList" [loadingMore]="loadingMoreRelatedMedia"
          [viewMode]="2"></app-media-list>
      </div>
    </div>
  </div>
</ng-container>
