<!-- Building a Progress Ring: https://css-tricks.com/building-progress-ring-quickly/ -->
<svg class="-tw-rotate-90" [attr.width]="_radius * 2" [attr.height]="_radius * 2"
  [ngClass]="styleClass || ''">
  <circle class="tw-text-gray-300" [attr.stroke-width]="_strokeWidth" stroke="currentColor" fill="transparent"
    [attr.r]="normalizedRadius" [attr.cx]="_radius" [attr.cy]="_radius" />
  <circle class="tw-text-yellow-600 tw-transition-[stroke-dashoffset] tw-duration-300" [attr.stroke-width]="_strokeWidth"
    [attr.stroke-dasharray]="circumference" [attr.stroke-dashoffset]="circumference - percent / 100 * circumference"
    stroke="currentColor" fill="transparent" [attr.r]="normalizedRadius" [attr.cx]="_radius" [attr.cy]="_radius" />
</svg>
