<p-dialog-title></p-dialog-title>
<ng-container *transloco="let t">
  <div pDialogContent>
    <h3 class="tw-text-white tw-text-2xl tw-font-bold tw-text-center tw-mb-4">{{ t('users.updatePassword.formHeader') }}
    </h3>
    <form id="update-password-form" [formGroup]="updatePasswordForm" formHandler
      (ngSubmit)="onUpdatePasswordFormSubmit()">
      <label for="current-password" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
        t('users.updatePassword.currentPassword') }}</label>
      <input formControlName="currentPassword" class="tw-w-full" id="current-password" type="password"
        aria-describedby="current-password-error" pInputText controlAutofocus>
      <small id="current-password-error" class="p-error tw-text-xs tw-block tw-my-2"
        [invalidControl]="updatePasswordForm.controls.currentPassword">{{
        updatePasswordForm.controls.currentPassword.errors | firstErrorKey:'updatePassword':'currentPassword' }}</small>
      <label for="password" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
        t('users.updatePassword.password') }}</label>
      <span class="p-input-button-right">
        <input formControlName="password" class="tw-w-full" id="password" [type]="showPassword ? 'text' : 'password'"
          aria-describedby="password-error" pInputText>
        <button pButton type="button" [icon]="showPassword ? 'ms ms-visibility-off' : 'ms ms-visibility'"
          class="p-button-rounded p-button-plain p-button-text" (click)="showPassword = !showPassword">
        </button>
      </span>
      <small id="password-error" class="p-error tw-text-xs tw-block tw-my-2"
        [invalidControl]="updatePasswordForm.controls.password">{{ updatePasswordForm.controls.password.errors |
        firstErrorKey:'updatePassword':'password' }}</small>
      <label for="confirm-password" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
        t('users.updatePassword.confirmPassword') }}</label>
      <input formControlName="confirmPassword" class="tw-w-full" id="confirm-password"
        [type]="showPassword ? 'text' : 'password'" aria-describedby="confirm-password-error" pInputText>
      <small id="confirm-password-error" class="p-error tw-text-xs tw-block tw-my-2"
        [invalidControl]="updatePasswordForm.controls.confirmPassword">{{
        updatePasswordForm.controls.confirmPassword.errors | firstErrorKey:'updatePassword':'confirmPassword' }}</small>
    </form>
  </div>
  <div pDialogActions>
    <button pButton type="button" [label]="t('users.updatePassword.cancel')" (click)="onUpdatePasswordFormCancel()"
      class="p-button-text p-button-plain p-button-sm">
    </button>
    <button pButton type="submit" form="update-password-form" [label]="t('users.updatePassword.submit')"
      class="p-button p-button-sm tw-ml-1" [disabled]="updatePasswordForm.disabled">
    </button>
  </div>
</ng-container>
