<ng-container *transloco="let t; loadingTpl: loadingTpl">
  <div class="tw-mx-auto tw-max-w-lg">
    <div class="tw-mx-4 tw-my-14 tw-bg-neutral-875 tw-rounded-md tw-overflow-hidden">
      <p-progressBar mode="indeterminate" [ngClass]="recoverPasswordForm.disabled ? 'tw-visible' : 'tw-invisible'">
      </p-progressBar>
      <div class="tw-px-8 tw-py-14 tw-shadow-md">
        <h3 class="tw-text-white tw-text-3xl tw-font-bold tw-text-center tw-mb-8">{{ t('auth.forgotPassword.formHeader')
          }}</h3>
        <form *ngIf="!success; else submitted" [formGroup]="recoverPasswordForm" formHandler
          (ngSubmit)="onRecoverPasswordFormSubmit()">
          <span class="p-float-label">
            <input formControlName="email" class="tw-w-full" id="email" type="text" aria-describedby="email-error"
              pInputText controlAutofocus>
            <label for="email">{{ t('auth.forgotPassword.email') }}</label>
          </span>
          <small id="email-error" class="p-error tw-text-xs tw-block tw-my-2"
            [invalidControl]="recoverPasswordForm.controls.email">{{
            recoverPasswordForm.controls.email.errors | firstErrorKey:'forgotPassword':'email' }}</small>
          <div class="tw-flex">
            <re-captcha #reCaptcha class="tw-mx-auto" theme="dark" formControlName="captcha"></re-captcha>
          </div>
          <div class="tw-flex tw-flex-wrap-reverse tw-mt-4">
            <div class="tw-mr-auto">
              <button pButton type="button" routerLink="/sign-in" [label]="t('auth.forgotPassword.signIn')"
                class="p-button-text tw-block" [disabled]="recoverPasswordForm.disabled"></button>
            </div>
            <div class="tw-ml-auto">
              <button pButton type="submit" [label]="t('auth.forgotPassword.submit')"
                class="p-button tw-px-8 tw-w-full md:tw-w-auto" [disabled]="recoverPasswordForm.disabled"></button>
            </div>
          </div>
        </form>
        <ng-template #submitted>
          <div class="tw-text-center tw-text-white">
            <i class="ms ms-mail ms-opsz-xl tw-text-6xl"></i>
            <p class="tw-text-lg">{{ t('auth.forgotPassword.successMessageDetail') }}</p>
            <p>{{ t('auth.forgotPassword.successMessageDetail2') }}</p>
            <form class="tw-mt-8" [formGroup]="recoverPasswordForm" formHandler (ngSubmit)="resendEmail()">
              <div class="tw-flex">
                <re-captcha #reCaptcha class="tw-mx-auto" theme="dark" formControlName="captcha"></re-captcha>
              </div>
              <button pButton class="p-button p-button-shrink tw-px-4 tw-mt-4" icon="ms ms-send"
                [disabled]="!canResendEmail" [label]="t('auth.forgotPassword.resendEmail')">
              </button>
              <p class="tw-text-gray-400 tw-text-xs tw-mt-2 before:tw-content-['\200b']"
                [class.tw-invisible]="resendEmailTtl <= 0">{{ t('auth.forgotPassword.resendEmailCountdown') }} {{
                resendEmailTtl * 1000 | time:{ format:['minutes','seconds'], display:'shortColon' } }}</p>
            </form>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loadingTpl>
  <div class="tw-h-screen-75"></div>
</ng-template>
