<ng-container *transloco="let t; loadingTpl: loadingTpl">
  <div class="tw-mx-auto tw-max-w-lg">
    <div *ngIf="id && recoveryCode" class="tw-mx-4 tw-my-14 tw-bg-neutral-875 tw-rounded-md tw-overflow-hidden">
      <p-progressBar mode="indeterminate" [ngClass]="resetPasswordForm.disabled ? 'tw-visible' : 'tw-invisible'">
      </p-progressBar>
      <div class="tw-px-10 tw-py-14 tw-shadow-md">
        <h3 class="tw-text-white tw-text-3xl tw-font-bold tw-text-center tw-mb-8">{{ t('auth.resetPassword.formHeader')
          }}</h3>
        <form *ngIf="!success; else resetPasswordSuccess" [formGroup]="resetPasswordForm" formHandler
          (ngSubmit)="onResetPasswordFormSubmit()">
          <span class="p-float-label p-input-button-right">
            <input formControlName="password" class="tw-w-full" id="password"
              [type]="showPassword ? 'text' : 'password'" aria-describedby="password-error" pInputText>
            <label for="password">{{ t('auth.resetPassword.password') }}</label>
            <button pButton type="button" [icon]="showPassword ? 'ms ms-visibility-off' : 'ms ms-visibility'"
              class="p-button-rounded p-button-secondary p-button-text" (click)="showPassword = !showPassword">
            </button>
          </span>
          <small id="password-error" class="p-error tw-text-xs tw-block tw-my-2"
            [invalidControl]="resetPasswordForm.controls.password">{{
            resetPasswordForm.controls.password.errors | firstErrorKey:'resetPassword':'password' }}</small>
          <div class="tw-flex tw-flex-wrap-reverse tw-mt-4">
            <div class="tw-mr-auto">
              <button pButton type="button" routerLink="/sign-in" [label]="t('auth.resetPassword.signIn')"
                class="p-button-text tw-block" [disabled]="resetPasswordForm.disabled"></button>
            </div>
            <div class="tw-ml-auto">
              <button pButton type="submit" [label]="t('auth.resetPassword.submit')"
                class="p-button tw-px-8 tw-w-full md:tw-w-auto" [disabled]="resetPasswordForm.disabled"></button>
            </div>
          </div>
        </form>
        <ng-template #resetPasswordSuccess>
          <div class="tw-text-center tw-text-white">
            <i class="ms ms-check-circle ms-opsz-xl tw-text-6xl"></i>
            <p class="tw-text-xl tw-font-medium">{{ t('auth.resetPassword.successMessageSummary') }}</p>
            <p>{{ t('auth.resetPassword.successMessageDetail') }}</p>
            <a routerLink="/">
              <button pButton class="p-button p-button-shrink tw-px-4 tw-mt-8" icon="ms ms-home"
                [label]="t('auth.resetPassword.returnToHome')"></button>
            </a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loadingTpl>
  <div class="tw-h-screen-75"></div>
</ng-template>
