<vds-media class="tw-w-full">
  <vds-aspect-ratio ratio="16/9">
    <vds-video #vdsVideo class="tw-w-full" autoplay>
      <video [src]="src" controls preload="none">
      </video>
    </vds-video>
  </vds-aspect-ratio>
  <div
    class="tw-absolute tw-left-0 tw-top-0 tw-flex tw-items-center tw-justify-center tw-w-full tw-h-full tw-pointer-events-none tw-z-10">
    <svg id="progress-spinner" width="100px" height="100px" viewBox="25 25 50 50">
      <circle cx="50" cy="50" r="20" />
    </svg>
    <svg #playStatus id="play-status" aria-hidden="true" width="100px" height="100px" viewBox="0 0 36 36"
      class="tw-absolute tw-opacity-0">
      <path fill="white" d="M 12,26 18.5,22 18.5,14 12,10 z M 18.5,22 25,18 25,18 18.5,14 z" />
    </svg>
    <svg #pauseStatus id="pause-status" aria-hidden="true" width="100px" height="100px" viewBox="0 0 36 36"
      class="tw-absolute tw-opacity-0">
      <path fill="white" d="M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z" />
    </svg>
  </div>
  <div
    class="tw-absolute tw-flex tw-flex-col tw-justify-between tw-left-0 tw-top-0 tw-w-full tw-h-full tw-pointer-events-none tw-z-1">
    <div></div>
    <div></div>
    <div class="tw-flex tw-w-full tw-min-h-[48px]">
      <div id="bottom-control-container" class="tw-w-full tw-pt-24 tw-opacity-0 media-user-idle:tw-opacity-0
        tw-transition-opacity tw-duration-150 tw-bg-gradient-to-t tw-from-[rgb(0,0,0,0.5)] tw-to-transparent">
        <div class="tw-px-4 tw-pointer-events-auto">
          <!-- USE TRANSFORM SCALE Y TO ZOOM SLIDER ON HOVER -->
          <vds-time-slider class="tw-flex tw-items-center tw-w-full tw-h-[var(--track-height)] tw-cursor-pointer">
            <div id="time-slider-padding" class="tw-w-full tw-top-1/2 -tw-translate-y-1/2 tw-pt-4"></div>
            <div id="time-slider-track-container" class="tw-w-full tw-h-[var(--track-height)] tw-absolute tw-top-1/2 tw-left-0
                -tw-translate-y-1/2 tw-transition-transform tw-duration-150">
              <div id="time-slider-track" class="tw-bg-gray-200 tw-w-full tw-h-full tw-absolute tw-top-1/2 tw-left-0
                -tw-translate-y-1/2 tw-z-0">
              </div>
              <div id="time-slider-track-hover" class="tw-w-full tw-h-full tw-absolute tw-top-1/2 tw-left-0
                -tw-translate-y-1/2 tw-bg-gray-400 tw-origin-left-center tw-scale-x-0 interactive:tw-scale-x-[var(--vds-pointer-rate)]
                tw-will-change-transform tw-z-1">
              </div>
              <div id="time-slider-track-fill" class="tw-w-full tw-h-full tw-absolute tw-top-1/2 tw-left-0
                -tw-translate-y-1/2 tw-bg-blue-500 tw-origin-left-center tw-scale-x-[var(--vds-fill-rate)] tw-will-change-transform
                tw-z-1">
              </div>
            </div>
            <div id="time-slider-thumb-container" class="tw-absolute tw-top-0 tw-left-[var(--vds-fill-percent)] -tw-translate-x-1/2
                tw-w-[var(--thumb-width)] tw-h-full tw-will-change-[left] tw-z-2 tw-transition-transform">
              <div id="time-slider-thumb" class="tw-absolute tw-top-1/2 tw-left-0 tw-w-[var(--thumb-width)] tw-h-[var(--thumb-width)]
                tw-rounded-full tw-bg-blue-500 -tw-translate-y-1/2">
              </div>
            </div>
          </vds-time-slider>
          <div class="tw-flex tw-items-center tw-py-1">
            <vds-play-button class="tw-relative !tw-w-12 !tw-h-12">
              <svg aria-hidden="true" viewBox="0 0 36 36" class="tw-absolute">
                <path fill="white" />
              </svg>
            </vds-play-button>
            <vds-mute-button class="tw-relative !tw-w-12 !tw-h-12">
              <svg aria-hidden="true" viewBox="0 0 36 36" class="tw-absolute">
                <path fill="white" />
              </svg>
            </vds-mute-button>
            <!--vds-volume-slider class="tw-relative tw-ml-2 tw-h-1 tw-w-24 tw-bg-gray-600">
              <div class="tw-absolute tw-top-0 tw-left-0 tw-h-1 tw-w-[var(--vds-fill-percent)] tw-bg-white">
              </div>
              <div class="tw-absolute tw-inset-y-0 tw-my-auto tw-left-[var(--vds-fill-percent)]
                tw-rounded-full tw-h-2 tw-w-2 -tw-translate-x-1/2 tw-bg-white tw-will-change-[left]">
              </div>
              <vds-slider-value-text type="current" format="percentage"></vds-slider-value-text>
            </vds-volume-slider-->
            <vds-volume-slider
              class="tw-flex tw-items-center tw-w-full tw-max-w-[100px] tw-mx-[calc(var(--thumb-width)/2)] tw-cursor-pointer">
              <div id="volume-slider-track"
                class="tw-bg-gray-200 tw-w-full tw-h-[var(--track-height)] tw-absolute tw-top-1/2 tw-left-0 -tw-translate-y-1/2 tw-z-0">
              </div>
              <div id="volume-slider-track-fill"
                class="tw-w-full tw-h-[var(--track-height)] tw-absolute tw-top-1/2 tw-left-0 tw-bg-blue-500
                tw-origin-left-center -tw-translate-y-1/2 tw-scale-x-[var(--vds-fill-rate)] tw-will-change-transform tw-z-1">
              </div>
              <div id="volume-slider-thumb-container" class="tw-absolute tw-top-0 tw-left-[var(--vds-fill-percent)]
                  tw-w-[var(--thumb-width)] tw-h-full -tw-translate-x-1/2 tw-will-change-[left] tw-z-2">
                <div id="volume-slider-thumb" class="tw-absolute tw-top-1/2 tw-left-0 tw-w-[var(--thumb-width)] tw-h-[var(--thumb-width)]
                  tw-rounded-full tw-bg-blue-500 -tw-translate-y-1/2">
                </div>
              </div>
              <vds-slider-value-text type="pointer" format="volume"></vds-slider-value-text>
            </vds-volume-slider>
            <vds-fullscreen-button class="tw-relative !tw-w-12 !tw-h-12 tw-ml-auto">
              <div class="media-fullscreen:tw-hidden">
                <svg viewBox="0 0 36 36" fill="white">
                  <g class="fullscreen-button-corner-0">
                    <path d="m 10,16 2,0 0,-4 4,0 0,-2 L 10,10 l 0,6 0,0 z"></path>
                  </g>
                  <g class="fullscreen-button-corner-1">
                    <path d="m 20,10 0,2 4,0 0,4 2,0 L 26,10 l -6,0 0,0 z"></path>
                  </g>
                  <g class="fullscreen-button-corner-2">
                    <path d="m 24,24 -4,0 0,2 L 26,26 l 0,-6 -2,0 0,4 0,0 z"></path>
                  </g>
                  <g class="fullscreen-button-corner-3">
                    <path d="M 12,20 10,20 10,26 l 6,0 0,-2 -4,0 0,-4 0,0 z"></path>
                  </g>
                </svg>
              </div>
              <div class="tw-hidden media-fullscreen:tw-block">
                <svg viewBox="0 0 36 36" fill="white">
                  <g class="fullscreen-button-corner-2">
                    <path d="m 14,14 -4,0 0,2 6,0 0,-6 -2,0 0,4 0,0 z"></path>
                  </g>
                  <g class="fullscreen-button-corner-3">
                    <path d="m 22,14 0,-4 -2,0 0,6 6,0 0,-2 -4,0 0,0 z"></path>
                  </g>
                  <g class="fullscreen-button-corner-0">
                    <path d="m 20,26 2,0 0,-4 4,0 0,-2 -6,0 0,6 0,0 z"></path>
                  </g>
                  <g class="fullscreen-button-corner-1">
                    <path d="m 10,22 4,0 0,4 2,0 0,-6 -6,0 0,2 0,0 z"></path>
                  </g>
                </svg>
              </div>
            </vds-fullscreen-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <vds-gesture type="click" action="toggle:paused"></vds-gesture>
  <vds-gesture type="click" repeat="1" priority="1" action="toggle:fullscreen"></vds-gesture>
</vds-media>
