/* Media time slider */
media-time-slider {
  --media-slider-height: 16px;
  @apply tw-w-full tw-mx-4;
}

/* PLay/pause button */
.media-play-button[data-paused] [slot="play"] > path,
.media-play-toast[data-paused] > svg > path {
  d: path("M 12,26 18.5,22 18.5,14 12,10 z M 18.5,22 25,18 25,18 18.5,14 z");
}

.media-play-button:not([data-paused]) [slot="play"] > path,
.media-play-toast:not([data-paused]) > svg > path {
  d: path("M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z");
}

/* Volume controls */
.player-volume-area.player-volume-area-active > media-volume-slider, media-volume-slider:focus-visible {
  @apply tw-w-14;
}

.media-settings-button.media-settings-button-active > player-settings-icon > svg {
  transform: rotate(30deg);
}

.media-menu.slide-menu {
  background-color: rgba($color: #212121, $alpha: 0.9);
  min-width: 280px;

  &.media-menu-mobile {
    background-color: #212121;
  }

  .slide-menu-item {
    background-color: transparent;
    padding: 10px 1rem;
    font-size: 14px;
    font-weight: 500;
    min-height: 41px;

    > i:first-of-type {
      margin-right: 0.75rem;
    }

    &:hover:not(.slide-menu-item-active) {
      background: rgba(255, 255, 255, 0.04);
    }

    &:focus, &:hover:focus {
      background: rgba(255, 255, 255, 0.12);
      outline: 0;
    }
  }

  &:disabled {
    opacity: 0.38;
    pointer-events: none;
  }
}

/* Status toast */
.media-play-toast-active {
  animation: media-play-toast-zoom .5s linear;
}

/* Status seek */
.media-seek-arrow-1 {
  animation: media-seek-arrow-fade-1 1.2s linear;
  animation-iteration-count: infinite;
}

.media-seek-arrow-2 {
  animation: media-seek-arrow-fade-2 1.2s linear;
  animation-iteration-count: infinite;
}

.media-seek-arrow-3 {
  animation: media-seek-arrow-fade-3 1.2s linear;
  animation-iteration-count: infinite;
}

@keyframes media-play-toast-zoom {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes media-seek-arrow-fade-1 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.3;
  }

  35% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.9;
  }

  70% {
    opacity: 0.6;
  }

  85% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
  }
}

@keyframes media-seek-arrow-fade-2 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.6;
  }

  35% {
    opacity: 0.9;
  }

  50% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.3;
  }

  85% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
  }
}

@keyframes media-seek-arrow-fade-3 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.9;
  }

  35% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.3;
  }

  70% {
    opacity: 0.3;
  }

  85% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
  }
}
