/* You can add global styles to this file, and also import other style files */
@import '../node_modules/plyr/dist/plyr.css';
@import '../node_modules/primeicons/primeicons.css';
@import './assets/scss/primeng/md-dark-indigo-custom.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/swiper/swiper.scss';
@import '../node_modules/swiper/modules/autoplay/autoplay.scss';
@import '../node_modules/swiper/modules/navigation/navigation.scss';
@import '../node_modules/swiper/modules/pagination/pagination.scss';
@import '../node_modules/tailwindcss/base';
@import '../node_modules/tailwindcss/components';
@import '../node_modules/tailwindcss/utilities';

html {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #424242;
  }
  &::-webkit-scrollbar-thumb {
    background: #646464;
  }
}

body {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  background-color: #111111;
  color: #888888;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 0s 50000s;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #FFF !important;
}

img:focus, a:focus {
  outline: none;
}

.ng-lazyloaded {
  transition: opacity 0.2s;
}

.ng-lazyloading {
  opacity: 0;
}
