/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24..48,300,0..1,0");
@import "./assets/css/material-symbols/style.css";
@import "../node_modules/plyr/dist/plyr.css";
@import "../node_modules/primeicons/primeicons.css";
@import "./assets/css/primeng/md-dark-indigo-custom.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/swiper/swiper.scss";
@import "../node_modules/swiper/modules/autoplay/autoplay.scss";
@import "../node_modules/swiper/modules/navigation/navigation.scss";
@import "../node_modules/swiper/modules/pagination/pagination.scss";
@import "../node_modules/tailwindcss/base";
@import "./assets/css/tailwindcss/preflight-custom.css";
@import "../node_modules/tailwindcss/components";
@import "../node_modules/tailwindcss/utilities";

html {
  &::-webkit-scrollbar {
    width: 6.5px;
    height: 6.5px;
  }
  &::-webkit-scrollbar-track {
    background: #424242;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #646464;
    border-radius: 5px;
  }
}

body {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  background-color: #111111;
  color: #888888;
}

img:focus,
a:focus {
  outline: none;
}

p {
  overflow-wrap: break-word;
  word-break: break-word;
}

.ng-lazyloading {
  opacity: 0;
}

.ng-lazyloaded + .ng-lazyload-placeholder {
  display: none;
}

@layer components {
  .tw-divider {
    @apply tw-border-neutral-625 tw-border-t tw-my-5 tw-px-5;
  }

  .tw-divider-2 {
    @apply tw-border-neutral-625 tw-border-t tw-my-10 tw-px-10;
  }

  .tw-nav-item {
    @apply tw-text-white tw-text-sm md:tw-text-base tw-font-medium tw-text-center tw-mx-2 tw-p-2 before:tw-absolute
    before:tw-bottom-0 before:tw-left-0 before:tw-h-0.5 before:tw-w-full before:tw-bg-transparent hover:before:tw-bg-white
    focus-visible:tw-shadow-focus-box focus-visible:tw-rounded-md before:tw-transition-colors before:tw-duration-200 tw-relative;
  }

  .tw-upload-file {
    @apply tw-border-neutral-500;
  }

  .tw-upload-file-over {
    @apply tw-border-gray-400 tw-text-gray-400;
  }

  .tw-form-invalid.ng-invalid.ng-touched {
    @apply tw-border-red-600;
  }
}
