<ng-container *transloco="let t; loadingTpl: skeletonLoading">
  <ng-container *ngIf="loading; then skeletonLoading; else mediaLoaded"></ng-container>
  <ng-template #mediaLoaded>
    <ng-container *ngIf="mediaList && mediaList.results.length; else noResults">
      <ul class="tw-bg-neutral-875 tw-overflow-hidden tw-rounded-md tw-list-none">
        <li *ngFor="let media of mediaList.results; let index = index; trackBy: track_Id">
          <a [routerLink]="['/details', media._id]" class="tw-bg-neutral-875 hover:tw-bg-neutral-800
          focus-visible:tw-bg-neutral-800 tw-transition-colors tw-duration-200 tw-p-1 tw-block">
            <div class="tw-flex">
              <!--p class="tw-text-gray-400 tw-text-base tw-text-center tw-self-center tw-flex-grow-1 tw-flex-shrink-0
              tw-ml-1 tw-mr-2 tw-p-1 tw-border-2 tw-rounded-full tw-w-10 tw-h-10">
              <span>{{ index + 1 }}</span>
            </p-->
              <div class="tw-flex-grow-0 tw-flex-shrink-0 tw-basis-16">
                <div class="tw-aspect-w-2 tw-aspect-h-3 tw-rounded-md tw-overflow-hidden">
                  <img *ngIf="media.thumbnailPosterUrl; else noPoster" class="tw-object-cover"
                    [lazyLoad]="media.thumbnailPosterUrl" [lazyLoadPlaceholder]="media.posterColor | rgbColor"
                    [alt]="media.title" errorImage="assets/images/media-poster-md.png">
                  <ng-template #noPoster>
                    <img class="tw-object-cover" src="assets/images/media-poster-md.png" loading="lazy"
                      [alt]="media.title">
                  </ng-template>
                </div>
              </div>
              <div class="tw-px-2 tw-py-1">
                <p class="tw-text-white tw-text-sm tw-font-bold tw-line-clamp-2">
                  <span class="tw-text-gray-400 tw-mr-1">#{{ index + 1 }} </span>
                  <span>{{ media.title }}</span>
                </p>
                <p class="tw-text-gray-400 tw-text-sm tw-font-medium [&>*]:tw-align-middle tw-mt-1">
                  <i class="ms ms-star ms-fill ms-icon-xs tw-mr-0.5 tw-text-yellow-500"></i>
                  <span class="tw-font-semibold tw-mr-2">{{ media.ratingAverage }}</span>
                  <i class="ms ms-visibility ms-fill ms-icon-xs tw-mr-1 tw-mt-px"></i>
                  <span class="tw-font-semibold">{{ media.views | number }}</span>
                </p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </ng-container>
    <ng-template #noResults>
      <p class="tw-text-gray-400 tw-text-center">{{ t('media.list.noResults') }}</p>
    </ng-template>
  </ng-template>
</ng-container>
<ng-template #skeletonLoading>
  <ul class="tw-bg-neutral-875 tw-overflow-hidden tw-rounded-sm tw-list-none">
    <li *ngFor="let item of skeletonArray" class="tw-bg-neutral-875 tw-p-1">
      <div class="tw-flex">
        <div class="tw-flex-grow-0 tw-flex-shrink-0 tw-basis-16">
          <app-skeleton width="100%" height="100%" shape="none" styleClass="tw-aspect-w-2 tw-aspect-h-3 tw-rounded-sm">
          </app-skeleton>
        </div>
        <div class="tw-px-2 tw-py-1">
          <app-skeleton width="100%" height="20px"></app-skeleton>
          <app-skeleton width="40%" height="20px" styleClass="tw-mt-2"></app-skeleton>
        </div>
      </div>
    </li>
  </ul>
</ng-template>
