<ng-container *transloco="let t">
  <div class="tw-my-4 tw-mx-2">
    <div class="tw-flex">
      <p-toggleButton styleClass="p-button-sm p-togglebutton-dark !tw-border-none" [onIcon]="'ms ms-expand-less'"
        offIcon="ms ms-expand-more" [initValue]="true" [pTooltip]="t('users.filterHistory.toggleButton')"
        (onChange)="showFilterForm = $event.checked">
      </p-toggleButton>
      <p-selectButton [options]="[ { icon: 'ms ms-grid-view', value: 1 }, { icon: 'ms ms-list', value: 2 } ]"
        [initValue]="listViewMode" optionLabel="label" optionValue="value" class="tw-ml-auto" styleClass="p-button-sm"
        (onChange)="listViewMode = $event.value">
      </p-selectButton>
    </div>
    <div class="tw-flex tw-flex-wrap tw-mt-2">
      <div *ngIf="showFilterForm" class="md:tw-sticky md:tw-top-4 tw-w-full md:tw-w-1/4 md:tw-h-fit">
        <div class="tw-bg-neutral-850 tw-text-white tw-px-4 tw-py-8 tw-rounded-md">
          <form [formGroup]="filterHistoryForm" formHandler (ngSubmit)="onFilterHistoryFormSubmit()">
            <label for="media-search" class="tw-inline-block tw-text-base tw-font-medium tw-mb-1.5">{{
              t('users.filterHistory.range') }}</label>
            <p-calendar formControlName="startDate" [maxDate]="maxCalendarDate" [readonlyInput]="false"
              [baseZIndex]="100" [showIcon]="true" [appendTo]="dropdownZone"
              [placeholder]="t('users.filterHistory.startDate')" class="tw-block" styleClass="tw-w-full tw-mt-2"
              inputStyleClass="p-inputtext-xs" icon="ms ms-calendar-today"></p-calendar>
            <p-calendar formControlName="endDate" [maxDate]="maxCalendarDate" [readonlyInput]="false" [baseZIndex]="100"
              [showIcon]="true" [appendTo]="dropdownZone" [placeholder]="t('users.filterHistory.endDate')"
              class="tw-block" styleClass="tw-w-full tw-mt-2" inputStyleClass="p-inputtext-xs"
              icon="ms ms-calendar-today"></p-calendar>
            <label class="tw-inline-block tw-text-base tw-font-medium tw-mt-2">{{
              t('users.filterHistory.mediaFilters') }}</label>
            <p-altAutoComplete formControlName="media" [suggestions]="mediaSuggestions"
              (completeMethod)="loadMediaSuggestions($event.query)" field="title" dataKey="_id" [multiple]="true"
              [unique]="true" [placeholder]="t('users.filterHistory.mediaIds')" scrollHeight="300px" appendTo="body"
              class="p-autocomplete-full" styleClass="p-autocomplete-xs tw-mt-2" panelStyleClass="p-autocomplete-xs"
              inputId="media-ids" ariaLabel="Find Movie and TV Shows"
              dropdownAriaLabel="Movie and TV Shows search results">
            </p-altAutoComplete>
            <div class="tw-flex tw-flex-wrap tw-justify-center tw-mt-2">
              <p-radioButton name="mediaType" [value]="null" [label]="t('media.mediaTypes.all')"
                formControlName="mediaType">
              </p-radioButton>
              <p-radioButton name="mediaType" value="movie" [label]="t('media.mediaTypes.movie')"
                formControlName="mediaType" class="tw-ml-6">
              </p-radioButton>
              <p-radioButton name="mediaType" value="tv" [label]="t('media.mediaTypes.tvShow')"
                formControlName="mediaType" class="tw-ml-6">
              </p-radioButton>
            </div>
            <div class="tw-flex tw-flex-wrap tw-mt-4">
              <div class="tw-w-full lg:tw-w-3/5">
                <p-dropdown formControlName="mediaOriginalLanguage" [options]="languages"
                  [overlayOptions]="{ baseZIndex: 100, appendTo: dropdownZone }" scrollHeight="300px" [showClear]="true"
                  [placeholder]="t('users.filterHistory.mediaOriginalLanguage')" [virtualScroll]="true"
                  [virtualScrollItemSize]="40.98" styleClass="tw-w-full p-dropdown-xs">
                </p-dropdown>
              </div>
              <div class="tw-w-full lg:tw-w-2/5 lg:tw-pl-2 tw-mt-2 lg:tw-mt-0">
                <p-dropdown formControlName="mediaYear" [options]="yearOptions"
                  [overlayOptions]="{ baseZIndex: 100, appendTo: dropdownZone }" scrollHeight="300px" [showClear]="true"
                  [placeholder]="t('users.filterHistory.mediaYear')" [virtualScroll]="true"
                  [virtualScrollItemSize]="40.98" styleClass="tw-w-full p-dropdown-xs">
                </p-dropdown>
              </div>
            </div>
            <p-altAutoComplete formControlName="mediaGenres" [suggestions]="genreSuggestions"
              (completeMethod)="loadGenreSuggestions($event.query)" field="name" dataKey="_id" [multiple]="true"
              [unique]="true" [placeholder]="t('users.filterHistory.mediaGenres')" scrollHeight="300px" appendTo="body"
              class="p-autocomplete-full" styleClass="p-autocomplete-xs tw-mt-2" panelStyleClass="p-autocomplete-xs"
              ariaLabel="Find genres" dropdownAriaLabel="Genre search results">
            </p-altAutoComplete>
            <button pButton type="submit" [label]="t('users.filterHistory.filter')" icon="ms ms-filter-list"
              class="p-button-sm p-button-shrink !tw-mt-4 tw-w-full" [disabled]="filterHistoryForm.disabled"></button>
          </form>
        </div>
      </div>
      <div class="tw-w-full" [ngClass]="{ 'md:tw-w-3/4 md:tw-pl-4 md:tw-mt-0': showFilterForm }">
        <ng-container *ngIf="loadingHistoryList; then skeletonLoading; else historyListLoaded"></ng-container>
        <ng-template #historyListLoaded>
          <div *ngIf="historyList && historyList.results?.length && historyGroupList
            && historyGroupList.results?.length; else noHistoryList" infiniteScroll [infiniteScrollDistance]="2"
            [infiniteScrollDisabled]="!historyList.hasNextPage" (scrolled)="onScroll()">
            <ng-container *ngIf="listViewMode === 1; else detailedView">
              <ng-container
                *ngFor="let historyGroup of historyGroupList.results; let firstGroup = first; trackBy: trackHistoryGroup">
                <p class="tw-text-white tw-text-2xl tw-font-semibold" [ngClass]="{ 'tw-mt-8': !firstGroup }">{{
                  historyGroup.groupByDate | relativeDate }}</p>
                <div *ngIf="!firstGroup" class="tw-divider tw-my-5"></div>
                <div
                  class="tw-text-white tw-grid tw-grid-cols-2 xs:tw-grid-cols-3 md:tw-grid-cols-4 lg:tw-grid-cols-6 tw-my-2">
                  <app-history-card #historyCard *ngFor="let history of historyGroup.historyList; trackBy: track_Id"
                    [history]="history" (onAddToPlaylist)="showAddToPlaylistDialog($event)"
                    (onPauseAndUnpause)="pauseAndUnpauseHistory($event.history, $event.originalEvent, historyCard)"
                    (onDelete)="showDeleteHistoryDialog($event)"></app-history-card>
                </div>
              </ng-container>
            </ng-container>
            <ng-template #detailedView>
              <p-table #historyTable styleClass="p-datatable-sm tw-bg-neutral-875 tw-p-4 tw-rounded-md"
                [value]="historyList.results || []" responsiveLayout="stack" breakpoint="768px" [rowTrackBy]="track_Id"
                [rowHover]="true" [loading]="loadingHistoryList" rowGroupMode="subheader" groupRowsBy="groupByDate"
                [groupRowsByOrder]="-1">
                <ng-template pTemplate="groupheader" let-history>
                  <tr pRowGroupHeader>
                    <td colspan="5">
                      <span class="tw-text-lg tw-font-bold">{{ history.groupByDate | relativeDate }}</span>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th class="tw-w-96">{{ t('users.historyTable.title') }}</th>
                    <th class="tw-w-40">{{ t('users.historyTable.progress') }}</th>
                    <th class="tw-w-16">{{ t('users.historyTable.pauseOrResume') }}</th>
                    <th class="tw-w-36">{{ t('users.historyTable.time') }}</th>
                    <th class="tw-w-32"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-history>
                  <tr>
                    <td class="tw-w-96">
                      <div class="tw-flex">
                        <div class="tw-flex-shrink-0">
                          <div *ngIf="history.media.smallPosterUrl else noPoster"
                            class="tw-rounded-md tw-overflow-hidden">
                            <img class="tw-object-cover tw-w-12 tw-h-12" [lazyLoad]="history.media.smallPosterUrl"
                              [lazyLoadPlaceholder]="history.media.posterColor | rgbColor"
                              errorImage="assets/images/media-poster-sm.png" [alt]="history.media.title">
                          </div>
                          <ng-template #noPoster>
                            <img class="tw-object-cover tw-rounded-md" src="assets/images/media-poster-sm.png"
                              loading="lazy" [alt]="history.media.title">
                          </ng-template>
                        </div>
                        <div class="tw-ml-2">
                          <p class="tw-text-base tw-font-semibold tw-line-clamp-2">{{ history.media.title }}</p>
                          <p *ngIf="history.episode" class="tw-text-sm">
                            <span>{{ history.episode.epNumber }}</span>
                            <span *ngIf="history.episode.name">. {{ history.episode.name }}</span>
                          </p>
                        </div>
                      </div>
                    </td>
                    <td class="tw-w-40 tw-text-sm">
                      <p-progressBar
                        [value]="history.watchTime / (history.episode && history.episode.runtime || history.media.runtime) * 100"
                        styleClass="tw-h-2 tw-rounded-full"></p-progressBar>
                    </td>
                    <td class="tw-w-16">
                      <button pButton [icon]="'ms ms-' + (history.paused ? 'resume' : 'pause')"
                        class="p-button-rounded p-button-secondary p-button-text p-button-sm p-button-sm-icon"
                        (click)="pauseAndUnpauseHistory(history, $event)">
                      </button>
                    </td>
                    <td class="tw-w-36 tw-text-sm">{{ history.date | dateAlt:'p' }}</td>
                    <td class="tw-w-32">
                      <a [routerLink]="['/watch', history.media._id]" class="tw-inline-block tw-rounded-full"
                        [queryParams]="{ ep: history.episode?.epNumber, time: history.watchTime }">
                        <button pButton icon="ms ms-play-arrow" class="p-button-rounded p-button-sm p-button-sm-icon">
                        </button>
                      </a>
                      <button pButton icon="ms ms-more-vert" [appMenuTriggerFor]="historyMenu"
                        class="p-button-rounded p-button-secondary p-button-sm p-button-sm-icon tw-ml-2">
                      </button>
                      <ng-template #historyMenu>
                        <div appMenu>
                          <button appMenuItem (click)="showAddToPlaylistDialog(history.media)">
                            <i class="ms ms-playlist-add"></i>
                            <span>{{ t('media.playlists.addToPlaylist') }}</span>
                          </button>
                          <ng-container *ngIf="currentUser && currentUser._id === userId">
                            <button appMenuItem (click)="pauseAndUnpauseHistory(history, $event)">
                              <i class="ms" [ngClass]="history.paused ? 'ms-resume' : 'ms-pause'"></i>
                              <span *ngIf="!history.paused; else isPaused">{{ t('users.history.pauseHistory') }}</span>
                              <ng-template #isPaused>
                                <span>{{ t('users.history.unpauseHistory') }}</span>
                              </ng-template>
                            </button>
                            <button appMenuItem (click)="showDeleteHistoryDialog(history)">
                              <i class="ms ms-delete"></i>
                              <span>{{ t('users.history.delete') }}</span>
                            </button>
                          </ng-container>
                        </div>
                      </ng-template>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </ng-template>
          </div>
          <ng-template #noHistoryList>
            <p class="tw-text-gray-400 tw-text-base tw-italic">{{ t('users.history.emptyHistory') }}</p>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
  <p-confirmDialog [style]="{width: '500px'}" [baseZIndex]="1000" acceptButtonStyleClass="p-button-danger p-button-sm"
    rejectButtonStyleClass="p-button-text p-button-secondary p-button-sm" rejectIcon="" acceptIcon=""
    [dismissableMask]="true">
  </p-confirmDialog>
</ng-container>
<div #dropdownZone class="p-dropdown-xs"></div>
<div #multiSelectZone class="p-multiselect-xs"></div>
<ng-template #skeletonLoading>
  <p>Loading...</p>
</ng-template>
