<ng-container *transloco="let t">
  <div class="tw-my-4">
    <ng-container *ngIf="loadingHistoryList; then skeletonLoading; else historyGroupListLoaded"></ng-container>
    <ng-template #historyGroupListLoaded>
      <ng-container *ngIf="historyGroupList && historyGroupList.results?.length; else noHistoryList">
        <div *ngFor="let historyGroup of historyGroupList.results; let firstGroup = first; trackBy: trackHistoryGroup">
          <p class="tw-text-white tw-text-2xl tw-font-semibold">{{ historyGroup.groupByDate | relativeDate }}</p>
          <div *ngIf="!firstGroup" class="tw-divider"></div>
          <div
            class="tw-grid tw-grid-cols-2 xs:tw-grid-cols-3 md:tw-grid-cols-4 lg:tw-grid-cols-6 xl:tw-grid-cols-8 tw-my-2">
            <a [routerLink]="['/watch', history.media._id]" [queryParams]="{ ep: history.episode?.episodeNumber }"
              class="tw-bg-transparent tw-text-white hover:tw-bg-neutral-725
              focus-visible:tw-bg-neutral-725 tw-transition-colors tw-duration-200 tw-rounded-sm tw-px-1.5 tw-py-2"
              *ngFor="let history of historyGroup.historyList; trackBy: track_Id">
              <ng-container
                *ngLet="((history.watchTime / 60) / history.media.runtime * 100) | number:'1.1-1' as percentWatched">
                <div class="tw-aspect-w-2 tw-aspect-h-3 [&>*]:tw-rounded-t-md">
                  <img *ngIf="history.media.thumbnailPosterUrl; else noPoster" class="tw-object-cover"
                    [lazyLoad]="history.media.thumbnailPosterUrl"
                    [lazyLoadPlaceholder]="history.media.posterColor | rgbColor" [alt]="history.media.title"
                    errorImage="assets/images/media-poster-error-md.png">
                  <ng-template #noPoster>
                    <img class="tw-object-cover" src="assets/images/media-poster-md.png" loading="lazy"
                      [alt]="history.media.title">
                  </ng-template>
                </div>
                <p-progressBar [value]="percentWatched" styleClass="tw-rounded-b-md"></p-progressBar>
                <p class="tw-text-xs sm:tw-text-sm md:tw-text-base tw-font-bold tw-mt-2">{{ history.media.title }}</p>
                <p *ngIf="history.episode" class="tw-text-gray-400 tw-text-xs sm:tw-text-sm tw-font-medium">
                  <span>{{ t('media.episode.epPrefix') }}{{ history.episode.episodeNumber }}</span>
                  <span *ngIf="history.episode.name">. {{ history.episode.name }}</span>
                </p>
                <!--p *ngIf="history.episode" class="tw-text-gray-400 tw-text-xs sm:tw-text-sm tw-font-medium">{{
                  t('media.episode.epPrefix') }}{{ history.episode.episodeNumber }}. {{ history.episode.name }}</p-->
                <!--p class="tw-font-medium" class="tw-text-base">{{ history.date | dateAlt:'p' }}</p-->
              </ng-container>
            </a>
          </div>
        </div>
        <button *ngIf="historyGroupList.nextPageToken" type="button" role="navigation" aria-label="Play media" pButton
          icon="ms ms-expand-more" iconPos="left" label="Load more" class="p-button-shrink tw-w-full"
          (click)="loadHistoryList(historyGroupList.nextPageToken)">
        </button>
      </ng-container>
      <ng-template #noHistoryList>
        <p class="tw-text-gray-400 tw-text-base tw-italic">{{ t('users.history.emptyHistory') }}</p>
      </ng-template>
    </ng-template>
  </div>
</ng-container>
<ng-template #skeletonLoading>
  <p>Loading...</p>
</ng-template>
